{% extends "base.html" %}
{% block content %}
    {{ block.super }}
    <form class="form-horizontal" action="{%  url 'configure_announcement' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% if remove %}
                    <input aria-label="Remove" class="btn btn-danger" type="submit" name="_Remove" value="Remove"/>
                {% else %}
                    <input aria-label="Create" class="btn btn-primary" type="submit" name="_Create" value="Create"/>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
