{% extends "base.html" %}
{% load event_tags %}
{% load static %}

{% block add_styles %}
    {{ block.super }}
.chosen-container {
    width: 70% !important;
}
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3> Clear Finding Review</h3>
    <h4>{{ finding.title }}</h4>
    <p>Set the appropriate status for this finding.  Please add notes to help document.</p>
    <form class="form-horizontal" action="{% url 'clear_finding_review' finding.id %}" method="post">
        {% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" name="submit" type="submit" value="Clear Review"/>
            </div>
        </div>
    </form>
{% endblock %}
