{% extends "base.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
    <h3> Endpoint Meta Importer </h3>
    <br/>
    <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
    <div class="well">
        <p>Endpoint Meta Importer is a very simple CSV mapping that can apply meta data to Endpoints in the form of column:row to tags and DojoMeta</p>
        <p>Allowable meta is totally arbitray such that any column:row pair will be added to endpoints associated to the product </p>
        <p><strong>Note:</strong> The field "hostname" is required as it is used to query/create endpoints.</p>
        
        <p>Here is an example:</p>
        <div class="well">
            <strong>
                <p><u>hostname, team, public_facing</u></p>        
                <p>sheets.google.com, data analytics, yes</p>
                <p>docs.google.com, language processing, yes</p>
                <p>feedback.internal.google.com, human resources, no</p>
            <strong>
        </div>    
    </div>
{% endblock %}
{% block postscript %}
    {{ block.super }}
{% endblock %}
