{% extends "base.html" %}
{% load static %}
{% block add_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "chosen-bootstrap/chosen.bootstrap.min.css" %}">
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3> Add files to {{ obj }}</h3>
    <div class="alert alert-info" role="alert">
        You may add as many files to this {{ obj_type }} as needed (three new files at a time). To delete an file, check the
        "Delete" checkbox under it.
    </div>

    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for file_form in files_formset %}
            <fieldset>
                {% include "dojo/form_fields.html" with form=file_form %}
            </fieldset>
        {% endfor %}
        <fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ files_formset.management_form }}
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
