{% extends "base.html" %}
{% load navigation_tags %}
{% load display_tags %}
{% load static %}
{% block content %}
    {% comment %} include inherits the current context so findings, filtered and other variables {% endcomment %}
    {% include "dojo/findings_list_snippet.html" %}
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        Edit {{ filter_name }}
                    </h3>
                </div>
            </div>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% include "dojo/form_fields.html" with form=edit_finding_group_form %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}