<div class="modal fade confirmed-modal" id="confirmedModal" data-tf-action="action" data-tf-id="None" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" id="confirmedmodalid" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="confirmModalLabel">Action Confirmed</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div id="id_modal_message" class="modal-body">
            <p class="modal-body-input">
                Are you sure to perform this action?
                {% include 'dojo/modal/loading.html' %}
            </p>
        </div>
        <div class="modal-footer">
        <input type="button" class="btn btn-primary" data-dismiss="modal" value="Cancel">
        <input id="confirmed_action_modal" type="button" class="btn btn-success" name="#" value="Confirmed">
        </div>
    </div>
    </div>
</div>
