[flake8]
# Documentation for flake8 http://flake8.pycqa.org/en/3.1.1/user/index.html
ignore =
    # Suppress - line too long (> 79 characters)
    E501
    # Suppress - Continuation line missing indentation or outdented
    E127
    # Suppress - Function is too complex
    C901
    # Multiple statements on one line
    E704
    # Assign a lambda expression
    E731
    # Bare except
    E722
    # Local variable
    F841
    # May be undefined
    F405
    # list comprehension redefines
    F812
    # module level imports
    E402
    E126
    E128
    # line break after binary operator
    W504
    # undefined file name excpetion
    F821


exclude =
    # No need to traverse our git directory
    .git,
    # Exclude unittests
    dojo/unittests,
    # There's no value in checking cache directories
    __pycache__,
    # This contains of branch that we don't want to check
    # dev
max-complexity = 10
