[flake8]
# Documentation for flake8 http://flake8.pycqa.org/en/3.1.1/user/index.html

# we should not ignore these mistakes !!!!!!!!

ignore =
    # Suppress - line too long (> 79 characters)
    E501
    # Suppress - Continuation line missing indentation or outdented
    E127
    # Suppress - Function is too complex
    C901
    # Bare except
    E722
    E126
    E128
    # Line break occurred before a binary operator (conflicting with black)
    W503
    # undefined file name excpetion
    F821

# We should not touch migrations that are already used, but check new migrations 
per-file-ignores =
    dojo/db_migrations/00*:F841
    dojo/db_migrations/01*:F841
