dist: xenial
language: minimal
sudo: required
services:
  - docker
env:
  global:
    - K8S_VERSION=v1.13.4
    - MINIKUBE_VERSION=v0.35.0
    - HELM_VERSION=v2.13.0
    - CHANGE_MINIKUBE_NONE_USER=true
  matrix:
    - BROKER=rabbitmq DATABASE=mysql
    - BROKER=rabbitmq DATABASE=postgresql
    - BROKER=redis DATABASE=mysql
    - BROKER=redis DATABASE=postgresql
    - TEST=flake8
    - TEST=docker
    - TEST=snyk
matrix:
  allow_failures:
    - env: TEST=snyk
jobs:
  include:
    - stage: deploy
      script: echo Deploy
before_install: ['./travis/before-install.sh']
before_script: ['./travis/before-script.sh']
script: ['./travis/script.sh']
after_success: ['./travis/after-success-script.sh']
