sudo: required

language: python

install: true

env:
  - COMMIT=${TRAVIS_COMMIT::8}
services:
  - docker

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

before_install:
  ## Docker Build
  - export DOJO_ADMIN_USER='admin'
  - export DOJO_ADMIN_PASSWORD='admin'
  - export REPO=mtesauro/defect-dojo
  - export CONTAINER_NAME=dojo
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - docker build -t $REPO:${TRAVIS_COMMIT::8} .
    # - docker run -e DOJO_ADMIN_USER=$DOJO_ADMIN_USER -e DOJO_ADMIN_PASSWORD=$DOJO_ADMIN_PASSWORD --name dojo -d -p 127.0.0.1:8000:8000 $REPO:${TRAVIS_COMMIT::8} bash /django-DefectDojo/docker/docker-startup.bash
  - docker run -d -p 127.0.0.1:8000:8000 --name=$CONTAINER_NAME $REPO:${TRAVIS_COMMIT::8}
    # - sleep 30 #allow dojo time to startup
  ## Why are we restarting docker when it will cause the dojo container to exit aka not be running??
  ##- sudo service docker restart
  - docker logs $CONTAINER_NAME
  ## Turn off Zap tests while re-configuring how they run
  ##- docker run -d --name zap --link $CONTAINER_NAME -p 127.0.0.1:8080:8080 -i owasp/zap2docker-stable zap.sh -daemon -host 0.0.0.0 -port 8080 -config api.disablekey=true
  ## Selenium and ZAP requirements
  - pip install selenium==2.53.6
  - pip install requests
  - pip install python-owasp-zap-v2.4
  - pip install prettytable
  - pip install bandit
  - wget -N https://chromedriver.storage.googleapis.com/2.33/chromedriver_linux64.zip -P ~/
  - unzip ~/chromedriver_linux64.zip -d ~/
  - rm ~/chromedriver_linux64.zip
  - sudo mv -f ~/chromedriver /usr/local/share/
  - sudo chmod +x /usr/local/share/chromedriver
  - sudo ln -s /usr/local/share/chromedriver /usr/local/bin/chromedriver
  - docker ps -a
  - docker logs $CONTAINER_NAME
  - echo "Checking to see if dojo is running"
  - travis_retry curl http://127.0.0.1:8000/login?next=/

after_success:
  ## Run the SRC:CLR Scan
  - curl -sSL https://download.sourceclear.com/ci.sh | bash
  ## Run Bandit python static code
  - bandit -r * -x venv,tests,ansible
  ## Run Docker Bench for Security
  - git clone https://github.com/docker/docker-bench-security.git
  - cd docker-bench-security
  - sh docker-bench-security.sh
  #Push to docker repo
  - cd ../
# - sh docker/dojo-container-build-push.bash

script:
  - whereis chromedriver
  - export PATH=$PATH:/usr/local/bin/
  - python tests/check_status.py -v && python tests/smoke_test.py #&& python tests/zap.py

notifications:
  slack:
    rooms:
      secure: nPXwHnPcf37yGkCkLimx5UmY9LTtOHL0lw88cAQeXCNNjeZuhS2jS5xGUOwwp3SrsYE4tZhD0WuVEHGDcyIhmBZh9Qqk3NHKz+tQDD/e0GE/8uTTfR1Eh+pq1YOIcLYzzKA2khmJSeHqqDriVZZoWpn67oHtrui9FYesapZ8AX0=
    on_success: never
    on_failure: never
    on_start: never
addons:
  firefox: "45.0"
  chrome: stable
