dist: xenial
language: minimal
services:
  - docker
env:
  global:
    - K8S_VERSION=v1.19.0
    - MINIKUBE_VERSION=v1.12.3
    - HELM_VERSION=v3.3.2
    - CHANGE_MINIKUBE_NONE_USER=true
  matrix:
    - TEST=flake8
    - TEST=docker_integration_tests
    - BROKER=rabbitmq DATABASE=mysql
    - BROKER=rabbitmq DATABASE=postgresql
    - BROKER=redis DATABASE=mysql
    - BROKER=redis DATABASE=postgresql
    - BROKER=rabbitmq DATABASE=postgresql REPLICATION=enabled
    - BROKER=rabbitmq DATABASE=postgresql EXTRAVAL=enabled
    - TEST=snyk
matrix:
  allow_failures:
    - env: TEST=snyk
jobs:
  include:
    - stage: deploy
      env: TEST=deploy
before_install: ['./travis/before-install.sh']
before_script: ['./travis/before-script.sh']
script: ['./travis/script.sh']
