---
services:
  uwsgi:
    entrypoint: ['/wait-for-it.sh', '${DD_DATABASE_HOST:-postgres}:${DD_DATABASE_PORT:-5432}', '-t', '30', '--', '/entrypoint-uwsgi-dev.sh']
    volumes:
      - '.:/app:z'
    environment:
      PYTHONWARNINGS: error  # We are strict about Warnings during development
      DD_DEBUG: 'True'
      DD_ADMIN_USER: "${DD_ADMIN_USER:-admin}"
      DD_ADMIN_PASSWORD: "${DD_ADMIN_PASSWORD:-admin}"
      DD_EMAIL_URL: "smtp://mailhog:1025"
  celeryworker:
    volumes:
      - '.:/app:z'
    environment:
      PYTHONWARNINGS: error  # We are strict about Warnings during development
      DD_DEBUG: 'True'
      DD_EMAIL_URL: "smtp://mailhog:1025"
  celerybeat:
    volumes:
      - '.:/app:z'
    environment:
      PYTHONWARNINGS: error  # We are strict about Warnings during development
      DD_DEBUG: 'True'
  initializer:
    volumes:
      - '.:/app:z'
    environment:
      PYTHONWARNINGS: error  # We are strict about Warnings during development
      DD_DEBUG: 'True'
      DD_ADMIN_USER: "${DD_ADMIN_USER:-admin}"
      DD_ADMIN_PASSWORD: "${DD_ADMIN_PASSWORD:-admin}"
  nginx:
    volumes:
      - './dojo/static/dojo:/usr/share/nginx/html/static/dojo'
  postgres:
    ports:
      - target: ${DD_DATABASE_PORT:-5432}
        published: ${DD_DATABASE_PORT:-5432}
        protocol: tcp
        mode: host
  mailhog:
    image: mailhog/mailhog:v1.0.1@sha256:8d76a3d4ffa32a3661311944007a415332c4bb855657f4f6c57996405c009bea
    entrypoint: [ "/bin/sh", "-c", "MailHog &>/dev/null" ]
    # inspired by https://github.com/mailhog/MailHog/issues/56#issuecomment-291968642
    ports:
      - target: 1025
        published: 1025
        protocol: tcp
        mode: host
      - target: 8025
        published: 8025
        protocol: tcp
        mode: host
  "webhook.endpoint":
    image: mccutchen/go-httpbin:2.17.1@sha256:6fd74c6c20e5c7db9f17ada519d69af61ff48ddedbc2062e5a8012b3ebb21aba
