---
version: '3.7'
services:
  uwsgi:
    build: 
      context: ./
      dockerfile: Dockerfile.django
    depends_on:
      - mysql
    entrypoint: ['/wait-for-it.sh', 'mysql:3306', '-t', '30', '--', 'python', 'manage.py', 'runserver 0.0.0.0:8000']
    volumes:
      - '.:/app'
    ports:
      - 8000:8000
    environment:
      DD_DEBUG: 'on'
      DD_ALLOWED_HOSTS: ${DD_ALLOWED_HOSTS:-*}
      DD_DATABASE_URL: ${DD_DATABASE_URL:-mysql://defectdojo:defectdojo@mysql:3306/defectdojo}
      DD_CELERY_BROKER_USER: ${DD_CELERY_BROKER_USER:-guest}
      DD_CELERY_BROKER_PASSWORD: ${DD_CELERY_BROKER_USER:-guest}
