---
services:
  nginx:
    image: busybox:1.37.0-musl
    entrypoint: ['echo', 'skipping', 'nginx']
    volumes:
      - defectdojo_media_unit_tests:/usr/share/nginx/html/media
  uwsgi:
    build:
      target: django-unittests
    entrypoint: ['/wait-for-it.sh', '${DD_DATABASE_HOST:-postgres}:${DD_DATABASE_PORT:-5432}', '-t', '30', '--', '/app/docker/entrypoint-unit-tests-devDocker.sh']
    volumes:
      - '.:/app:z'
      - "defectdojo_media_unit_tests:${DD_MEDIA_ROOT:-/app/media}"
    environment:
      PYTHONWARNINGS: error  # We are strict about Warnings during testing
      DD_DEBUG: 'True'
      DD_TEST_DATABASE_NAME: ${DD_TEST_DATABASE_NAME:-test_defectdojo}
      DD_DATABASE_NAME: ${DD_TEST_DATABASE_NAME:-test_defectdojo}
      DD_DATABASE_ENGINE: ${DD_DATABASE_ENGINE:-django.db.backends.postgresql}
      DD_DATABASE_HOST: ${DD_DATABASE_HOST:-postgres}
      DD_DATABASE_PORT: ${DD_DATABASE_PORT:-5432}
      DD_DATABASE_USER: ${DD_DATABASE_USER:-defectdojo}
      DD_DATABASE_PASSWORD: ${DD_DATABASE_PASSWORD:-defectdojo}
      DD_CELERY_BROKER_SCHEME: 'sqla+sqlite'
      DD_CELERY_BROKER_USER: ''
      DD_CELERY_BROKER_PASSWORD: ''
      DD_CELERY_BROKER_HOST: ''
      DD_CELERY_BROKER_PORT: "-1"
      DD_CELERY_BROKER_PATH: '/dojo.celerydb.sqlite'
      DD_CELERY_BROKER_PARAMS: ''
      DD_JIRA_EXTRA_ISSUE_TYPES: 'Vulnerability' # Shouldn't trigger a migration error
  celerybeat:
    image: busybox:1.37.0-musl
    entrypoint: ['echo', 'skipping', 'celery beat']
  celeryworker:
    image: busybox:1.37.0-musl
    entrypoint: ['echo', 'skipping', 'celery worker']
  initializer:
    image: busybox:1.37.0-musl
    entrypoint: ['echo', 'skipping', 'initializer']
  postgres:
    ports:
      - target: ${DD_DATABASE_PORT:-5432}
        published: ${DD_DATABASE_PORT:-5432}
        protocol: tcp
        mode: host
    environment:
      POSTGRES_DB: ${DD_TEST_DATABASE_NAME:-test_defectdojo}
    volumes:
      - defectdojo_postgres_unit_tests:/var/lib/postgresql/data
  redis:
    image: busybox:1.37.0-musl
    entrypoint: ['echo', 'skipping', 'redis']
  "webhook.endpoint":
    image: mccutchen/go-httpbin:2.17.1@sha256:6fd74c6c20e5c7db9f17ada519d69af61ff48ddedbc2062e5a8012b3ebb21aba
volumes:
  defectdojo_postgres_unit_tests: {}
  defectdojo_media_unit_tests: {}
