amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.2
django-appconf==1.0.2
django-auditlog==0.3.3
django-custom-field==2.9
django-filter==1.0.4
django-imagekit==4.0.2
django-jsonfield==1.0.1
django-multiselectfield==0.1.8
django-overextends==0.4.3
django-polymorphic==1.2
django-secure==1.0.1
django-slack==5.11.1
django-tagging==0.4.6
django-tastypie==0.14.0
django-tastypie-swagger==0.1.4
django-watson==1.3.1
gunicorn==19.7.1
html2text==2018.1.9
humanize==0.5.1
idna==2.6
jira==1.0.11
kombu==4.1.0
lxml==4.1.1
meld3==1.0.2
MySQL-python==1.2.5
oauthlib==2.0.6
olefile==0.45.1
ordereddict==1.1
pbr==3.1.1
pdfkit==0.6.1
pilkit==2.0
Pillow==4.1.1
psycopg2==2.7.3.2
pycrypto==2.6.1
python-dateutil==2.6.1
python-mimeparse==1.6.0
python-nmap==0.6.1
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
six==1.11.0
SQLAlchemy==1.2.2
supervisor==3.3.3
urllib3==1.22
vine==1.1.4
vobject==0.9.5
