# requirements.txt for DefectDojo using Python 3.x
py==1.11.0
decorator==5.2.1
asteval==1.0.7
beautifulsoup4==4.14.3
bleach==6.3.0
bleach[css]
celery==5.6.0
defusedxml==0.7.1
django_celery_results==2.6.0
django-cors-headers==4.9.0
django-auditlog==3.3.0
django-dbbackup==5.0.1
django-csp==4.0
django-environ==0.12.0
django-filter==25.1
django-imagekit==6.0.0
django-multiselectfield==1.0.1
django-polymorphic==4.1.0
django-crispy-forms==2.5
django_extensions==4.1
django-slack==5.19.0
# This library is very outdated and not directly. It is used solely for migration
# purposes to django-tagulous, so it must stay
# django-tagging==0.5.0
git+https://github.com/DefectDojo/django-tagging@develop#egg=django-tagging
django-watson==1.6.3
django-prometheus==2.4.1
Django==5.1.15
djangorestframework==3.16.1
html2text==2025.4.15
humanize==4.14.0
jira==3.10.5
PyGithub==2.8.1
lxml==6.0.2
Markdown==3.10
openpyxl==3.1.5
Pillow==12.0.0  # required by django-imagekit
psycopg[c]==3.3.1
psycopg-pool==3.3.0
cryptography==46.0.3
python-dateutil==2.9.0.post0
pytz==2025.2
redis==7.1.0
requests==2.32.5
sqlalchemy==2.0.44  # Required by Celery broker transport
urllib3==2.5.0
uWSGI==2.0.31
vobject==0.9.9
whitenoise==5.2.0
titlecase==2.4.1
social-auth-app-django==5.4.3
social-auth-core==4.8.1
gitPython==3.1.45
python-gitlab==7.0.0
cpe==1.3.1
packageurl-python==0.17.6
django-crum==0.7.9
JSON-log-formatter==1.1.1
django-split-settings==1.3.2
django-debug-toolbar==5.2.0
django-debug-toolbar-request-history==0.1.4
vcrpy==8.0.0
vcrpy-unittest==0.1.7
django-tagulous==2.1.1
PyJWT==2.10.1
cvss==3.6
django-fieldsignals==0.7.0
hyperlink==21.0.0
django-test-migrations==1.5.0
djangosaml2==1.11.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2025.12.1
django-ratelimit==4.1.0
argon2-cffi==25.1.0
blackduck==1.1.3
pycurl==7.45.7  # Required for Celery Broker AWS (SQS) support
boto3==1.42.3  # Required for Celery Broker AWS (SQS) support
retry==0.9.2
netaddr==1.3.0
vulners==3.1.2
fontawesomefree==6.6.0
PyYAML==6.0.3
pyopenssl==25.3.0
parameterized==0.9.0
watchdog==6.0.0 # only needed for development, but would require some docker refactoring if we want to exclude it for production images
azure-devops==7.1.0b4
backoff==2.2.1
opentelemetry-sdk==1.39.0
opentelemetry-api==1.39.0
opentelemetry-util-http==0.60b0
opentelemetry-exporter-otlp==1.39.0
opentelemetry-exporter-otlp-proto-common==1.39.0
opentelemetry-exporter-otlp-proto-grpc==1.39.0
opentelemetry-exporter-otlp-proto-http==1.39.0
opentelemetry-instrumentation-wsgi==0.60b0
opentelemetry-proto==1.39.0
opentelemetry-semantic-conventions==0.60b0
opentelemetry-instrumentation==0.60b0
django-redis==6.0.0
pandas==2.3.3
pyarrow==22.0.0
# Pinning Dependencies
azure-core==1.36.0
protobuf==6.33.1
billiard==4.2.4
botocore==1.42.3
et_xmlfile==2.0.0
inflection==0.5.1
requests-toolbelt==1.0.0
smmap==5.0.2
wcwidth==0.2.14
kombu==5.6.1
six==1.17.0
attrs==25.4.0
idna==3.11
importlib-metadata==8.7.0
packaging==25.0
pysaml2==7.5.0
click-repl==0.3.0
pycparser==2.23
multidict==6.7.0
Deprecated==1.3.1
click-didyoumean==0.3.1
webencodings==0.5.1
uritemplate==4.2.0
pilkit==3.0
yarl==1.22.0
django-appconf==1.2.0
click==8.3.1
jsonschema==4.25.1
jmespath==1.0.1
python3-openid==3.2.0
certifi==2025.11.12
PyNaCl==1.6.1
charset-normalizer==3.4.4
xmlschema==2.5.1
sqlparse==0.5.4
cffi==2.0.0
gitdb==4.0.12
click-plugins==1.1.1.2
asgiref==3.11.0
elementpath==4.8.0
requests-oauthlib==2.0.0
vine==5.1.0
wrapt==1.17.3
appdirs==1.4.4
amqp==5.3.1
msrest==0.7.1
tinycss2==1.4.0
argon2-cffi-bindings==25.1.0
isodate==0.7.2
oauthlib==3.3.1
rpds-py==0.30.0
s3transfer==0.16.0
setuptools==80.9.0
referencing==0.37.0
tzdata==2025.2
jsonschema-specifications==2025.9.1
googleapis-common-protos==1.72.0
grpcio==1.76.0
zipp==3.23.0
prompt_toolkit==3.0.52
prometheus_client==0.22.1
typing_extensions==4.15.0
propcache==0.4.1
py==1.11.0
soupsieve==2.8
hashids==1.3.1
pikepdf==10.0.2
