# Always generate Python 3.11-compatible code.
target-version = "py311"

# Same as Black.
line-length = 120

exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
    #  Not for the dojo specific stuff
    "dojo/db_migrations"
]

[lint]
select = [
   "F",
   "E",
   "W",
   "C90",
   "I",
   "D2", "D3", "D403", "D411", "D413",
   "UP",
   "YTT",
   "ASYNC",
   "S1", "S2", "S5", "S7", "S311",
   "FBT001", "FBT003",
   "A003", "A004", "A005", "A006",
   "COM",
   "C4",
   "T10",
   "DJ003", "DJ012", "DJ013",
   "EM",
   "EXE",
   "ISC001",
   "ICN",
   "LOG",
   "G001", "G002", "G1", "G2",
   "INP",
   "RET",
   "PIE",
   "T20",
   "Q",
   "RSE",
   "SLOT",
   "SIM",
   "TID",
   "TCH",
   "INT",
   "ARG003", "ARG004", "ARG005",
   "PTH2", "PTH10", "PTH11", "PTH120", "PTH121", "PTH122", "PTH124",
   "TD001", "TD004", "TD005",
   "PD",
   "PGH",
   "PLE",
   "PLR0915",
   "PLW1", "PLW2", "PLW3",
   "FIX001",
   "FIX003",
   "TRY003",
   "TRY004",
   "TRY2",
   "FLY",
   "NPY",
   "FAST",
   "AIR",
   "FURB",
   "RUF",
]
ignore = [
    "E501",
    "E722",
    "SIM102",
    "SIM113",
    "SIM115",
    "SIM116",
    "SIM117",
    "RUF012",
    "RUF015",
    "D205",
    "D211",  # `one-blank-line-before-class` (D203) and `no-blank-line-before-class` (D211) are incompatible.
    "D212",  # `multi-line-summary-first-line` (D212) and `multi-line-summary-second-line` (D213) are incompatible.
]

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []
preview = true

[lint.per-file-ignores]
"unittests/**" = [
    "S105",  # hardcoded passwords in tests are fine
    "S108",  # tmp paths mentioned in tests are fine
]

[lint.flake8-boolean-trap]
extend-allowed-calls = ["dojo.utils.get_system_setting"]

[lint.pylint]
max-statements = 234

[lint.mccabe]
max-complexity = 70  # value is far from perfect (recommended default is 10). But we will try to decrease it over the time.
