# Same as Black.
line-length = 120

exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
    #  Not for the dojo specific stuff
    "dojo/db_migrations"
]

[lint]
# Enable the pycodestyle (`E`) and Pyflakes (`F`) rules by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = [
   "F",
   "E",
   "W",
   "I",
   "UP",
   "YTT",
   "ASYNC",
   "S2", "S5", "S7",
   "COM",
   "C4",
   "T10",
   "DJ003", "DJ012", "DJ013",
   "EM",
   "EXE",
   "ICN",
   "LOG",
   "G1", "G2",
   "INP",
   "SLOT",
   "PIE",
   "T20",
   "Q",
   "RSE",
   "TID",
   "PD",
   "PGH",
   "TRY003",
   "TRY004",
   "TRY2",
   "TRY302",
   "FLY",
   "NPY",
   "AIR",
]
ignore = ["E501", "E722", "F821"]

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []
preview = true

per-file-ignores = {}