apiVersion: v2
appVersion: "2.54.0-dev"
description: A Helm chart for Kubernetes to install DefectDojo
name: defectdojo
version: 1.9.4-dev
icon: https://defectdojo.com/hubfs/DefectDojo_favicon.png
maintainers:
  - name: madchap
    email: defectdojo-project@owasp.org
    url: https://github.com/DefectDojo/django-DefectDojo
dependencies:
  - name: postgres
    version: 0.13.3
    repository: "oci://registry-1.docker.io/cloudpirates"
    condition: postgres.enabled
  - name: valkey
    version: 0.13.0
    repository: "oci://registry-1.docker.io/cloudpirates"
    condition: valkey.enabled
# For correct syntax, check https://artifacthub.io/docs/topics/annotations/helm/
# This is example for "artifacthub.io/changes"
# artifacthub.io/changes: |
#   - kind: added
#     description: Cool feature
#   - kind: fixed
#     description: Minor bug
#   - kind: changed
#     description: Broken feature
#   - kind: removed
#     description: Old bug
#   - kind: deprecated
#     description: Not-needed feature
#   - kind: security
#     description: Critical bug
annotations:
  artifacthub.io/prerelease: "true"
  artifacthub.io/changes: |
    - kind: changed
      description: PostgreSQL from Bitnami replaced with CloudPirates
