apiVersion: v2
appVersion: "2.44.0-dev"
description: A Helm chart for Kubernetes to install DefectDojo
name: defectdojo
version: 1.6.172-dev
icon: https://www.defectdojo.org/img/favicon.ico
maintainers:
  - name: madchap
    email: defectdojo-project@owasp.org
    url: https://github.com/DefectDojo/django-DefectDojo
dependencies:
  - name: postgresql
    version: ~16.4.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: postgresql.enabled
  - name: postgresql-ha
    version: ~9.4.0
    repository: "https://charts.bitnami.com/bitnami"
    alias: postgresqlha
    condition: postgresqlha.enabled
  - name: redis
    version: ~19.6.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
