apiVersion: v2
appVersion: "2.51.0-dev"
description: A Helm chart for Kubernetes to install DefectDojo
name: defectdojo
version: 1.6.210-dev
icon: https://www.defectdojo.org/img/favicon.ico
maintainers:
  - name: madchap
    email: defectdojo-project@owasp.org
    url: https://github.com/DefectDojo/django-DefectDojo
dependencies:
  - name: postgresql
    version: ~16.7.0
    repository: "oci://us-docker.pkg.dev/os-public-container-registry/defectdojo"
    condition: postgresql.enabled
  - name: redis
    version: ~19.6.4
    repository: "oci://us-docker.pkg.dev/os-public-container-registry/defectdojo"
    condition: redis.enabled
