apiVersion: v1
appVersion: "2.4.0-dev"
description: A Helm chart for Kubernetes to install DefectDojo
name: defectdojo
version: 1.6.18-dev
icon: https://www.defectdojo.org/img/favicon.ico
maintainers:
  - name: madchap
    email: defectdojo-project@owasp.org
    url: https://github.com/DefectDojo/django-DefectDojo
