apiVersion: v2
appVersion: "2.53.1"
description: A Helm chart for Kubernetes to install DefectDojo
name: defectdojo
version: 1.9.1
icon: https://defectdojo.com/hubfs/DefectDojo_favicon.png
maintainers:
  - name: madchap
    email: defectdojo-project@owasp.org
    url: https://github.com/DefectDojo/django-DefectDojo
dependencies:
  - name: postgresql
    version: ~16.7.0
    repository: "oci://us-docker.pkg.dev/os-public-container-registry/defectdojo"
    condition: postgresql.enabled
  - name: valkey
    version: ~0.10.0
    repository: "oci://registry-1.docker.io/cloudpirates"
    condition: valkey.enabled
# For correct syntax, check https://artifacthub.io/docs/topics/annotations/helm/
# This is example for "artifacthub.io/changes"
# artifacthub.io/changes: |
#   - kind: added
#     description: Cool feature
#   - kind: fixed
#     description: Minor bug
#   - kind: changed
#     description: Broken feature
#   - kind: removed
#     description: Old bug
#   - kind: deprecated
#     description: Not-needed feature
#   - kind: security
#     description: Critical bug
annotations:
  artifacthub.io/prerelease: "false"
  artifacthub.io/changes: |
    - kind: deprecated
      description: djnago.mediaPersistentVolume.fsGroup was removed because it was replaced with django.podSecurityContext.fsGroup
    - kind: changed
      description: Bump DefectDojo to 2.53.1
