apiVersion: v2
appVersion: "2.53.0-dev"
description: A Helm chart for Kubernetes to install DefectDojo
name: defectdojo
version: 1.9.0-dev
icon: https://defectdojo.com/hubfs/DefectDojo_favicon.png
maintainers:
  - name: madchap
    email: defectdojo-project@owasp.org
    url: https://github.com/DefectDojo/django-DefectDojo
dependencies:
  - name: postgresql
    version: ~16.7.0
    repository: "oci://us-docker.pkg.dev/os-public-container-registry/defectdojo"
    condition: postgresql.enabled
  - name: redis
    version: ~19.6.4
    repository: "oci://us-docker.pkg.dev/os-public-container-registry/defectdojo"
    condition: redis.enabled
# For correct syntax, check https://artifacthub.io/docs/topics/annotations/helm/
# This is example for "artifacthub.io/changes"
# artifacthub.io/changes: |
#   - kind: added
#     description: Cool feature
#   - kind: fixed
#     description: Minor bug
#   - kind: changed
#     description: Broken feature
#   - kind: removed
#     description: Old bug
#   - kind: deprecated
#     description: Not-needed feature
#   - kind: security
#     description: Critical bug
annotations:
  artifacthub.io/prerelease: "true"
  artifacthub.io/changes: |
    - kind: added
      description: Added HPA and PDB for celery worker and Django
    - kind: fixed
      description: extraAnnotations spec doesn't affect initializer job
    - kind: changed
      description: chore(deps)_ update gcr.io/cloudsql_docker/gce_proxy docker tag from 1.37.9 to v1.37.10 (helm/defectdojo/values.yaml)
