apiVersion: v2
appVersion: "2.34.1"
description: A Helm chart for Kubernetes to install DefectDojo
name: defectdojo
version: 1.6.127
icon: https://www.defectdojo.org/img/favicon.ico
maintainers:
  - name: madchap
    email: defectdojo-project@owasp.org
    url: https://github.com/DefectDojo/django-DefectDojo
dependencies:
  - name: mysql
    version: ~9.19.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: mysql.enabled
  - name: postgresql
    version: ~15.2.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: postgresql.enabled
  - name: postgresql-ha
    version: ~9.4.0
    repository: "https://charts.bitnami.com/bitnami"
    alias: postgresqlha
    condition: postgresqlha.enabled
  - name: rabbitmq
    version: ~14.1.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: rabbitmq.enabled
  - name: redis
    version: ~19.1.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
