apiVersion: v1
appVersion: "1.8.0"
description: A Helm chart for Kubernetes to installs DefectDojo
name: defectdojo
version: 1.4.0
icon: https://www.defectdojo.org/img/favicon.ico
dependencies:
  - name: mysql
    version: 1.6.7
    repository: "@stable"
    condition: mysql.enabled
  - name: postgresql
    version: 8.6.4
    repository: "@stable"
    condition: postgresql.enabled
  - name: rabbitmq
    version: 6.18.2
    repository: "@stable"
    condition: rabbitmq.enabled
  - name: redis
    version: 10.5.7
    repository: "@stable"
    condition: redis.enabled
