dependencies:
  - name: mysql
    version: 1.6.2
    repository: "@stable"
    condition: mysql.enabled
  - name: postgresql
    version: 8.6.4
    repository: "@stable"
    condition: postgresql.enabled
  - name: rabbitmq
    version: 6.18.2
    repository: "@stable"
    condition: rabbitmq.enabled
  - name: redis
    version: 10.5.7
    repository: "@stable"
    condition: redis.enabled
