#!/usr/bin/expect

set timeout -1;
spawn {{install_path}}/bin/python manage.py changepassword {{dojo_admin}};
expect {
    "Password:" { exp_send "{{admin_pass}}\r" ; exp_continue }
    "Password (again):" { exp_send "{{admin_pass}}\r" ; exp_continue }
    eof
}
