#!/bin/sh

cd {{dojo_src}}

# See if Dojo is already running
if [ -f {{ base_dir }}/running.dojo ]; then
   killall python > /dev/null 2>&1
   rm {{ base_dir }}/running.dojo
fi

{{ install_path }}/bin/python manage.py runserver 0.0.0.0:8000 > {{ base_dir }}/logs/dojo-`date +%Y-%m-%d_%k:%M:%N`.log 2>&1 &

touch {{ base_dir }}/running.dojo

echo "Defect Dojo started"
