if __name__ == '__main__':
    import django, sys, os
    os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'dojo.settings')


    django.setup()

    sys.path.append('{{ dojo_root }}')
    os.environ['DJANGO_SETTINGS_MODULE'] = 'settings'
    from django.conf import settings
    from django.contrib.auth.models import User

    if User.objects.filter(username='{{ dojo_admin }}').exists():
      print "Admin user exists"
