{% extends 'base.html' %}
{% load static from staticfiles %}
{% block add_css_before %}
    <!-- TastyPie Swagger CSS -->
    <link href='{% static "tastypie_swagger/css/highlight.default.css" %}' media='screen' rel='stylesheet'
          type='text/css'/>
    <link href='{% static "tastypie_swagger/css/screen.css" %}' media='screen' rel='stylesheet' type='text/css'/>
{% endblock %}
{% block add_styles %}
    #resources_container { width: 100%}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <p>Copy your authorization header value from <a href="{% url 'api_key' %}">here</a> and paste into this
                    form. Click explore to apply the key, you should now be able to test each call.</p>
            </div>
            <div id='header'>
                <div class="swagger-ui-wrap">
                    <form id='api_selector'>
                        <div class='input zero'><input class="zero" placeholder="http://example.com/api"
                                                       id="input_baseUrl" name="baseUrl" type="text"/></div>
                        <div class='input'><input placeholder="Auth header value." id="input_apiKey" name="apiKey"
                                                  type="text"/></div>
                        <div class='input'><a id="explore" class="btn btn-primary" href="#">Explore</a></div>
                    </form>
                </div>
            </div>

            <div id="swagger-ui-container" class="swagger-ui-wrap">

            </div>
        </div>
    </div>
{% endblock %}
{% block postscript %}
    <script src='{% static "tastypie_swagger/js/lib/shred.bundle.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/lib/jquery.slideto.min.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/lib/jquery.wiggle.min.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/lib/jquery.ba-bbq.min.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/lib/handlebars-1.0.0.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/lib/underscore-min.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/lib/backbone-min.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/lib/swagger.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/swagger-ui.js" %}' type='text/javascript'></script>
    <script src='{% static "tastypie_swagger/js/lib/highlight.7.3.pack.js" %}' type='text/javascript'></script>
    <script type="text/javascript">

        JQueryHttpClient.prototype.execute = function (obj) {
            var cb = obj.on;
            var request = obj;

            obj.type = obj.method;
            obj.cache = false;

            obj.beforeSend = function (xhr) {
                var key, results;
                if (obj.headers) {
                    results = [];
                    var key;
                    for (key in obj.headers) {
                        if (key.toLowerCase() === "content-type") {
                            results.push(obj.contentType = obj.headers[key]);
                        } else if (key.toLowerCase() === "accept") {
                            results.push(obj.accepts = obj.headers[key]);
                        } else {
                            results.push(xhr.setRequestHeader(key, obj.headers[key]));
                        }
                    }
                    results.push(xhr.setRequestHeader("Authorization", $("#input_apiKey").val()));

                    return results;
                }
            };

            obj.data = obj.body;
            obj.complete = function (response, textStatus, opts) {
                var headers = {},
                        headerArray = response.getAllResponseHeaders().split("\n");

                for (var i = 0; i < headerArray.length; i++) {
                    var toSplit = headerArray[i].trim();
                    if (toSplit.length === 0)
                        continue;
                    var separator = toSplit.indexOf(":");
                    if (separator === -1) {
                        // Name but no value in the header
                        headers[toSplit] = null;
                        continue;
                    }
                    var name = toSplit.substring(0, separator).trim(),
                            value = toSplit.substring(separator + 1).trim();
                    headers[name] = value;
                }

                var out = {
                    url: request.url,
                    method: request.method,
                    status: response.status,
                    data: response.responseText,
                    headers: headers
                };

                var contentType = (headers["content-type"] || headers["Content-Type"] || null)

                if (contentType != null) {
                    if (contentType.indexOf("application/json") == 0 || contentType.indexOf("+json") > 0) {
                        if (response.responseText && response.responseText !== "")
                            out.obj = JSON.parse(response.responseText);
                        else
                            out.obj = {}
                    }
                }

                if (response.status >= 200 && response.status < 300)
                    cb.response(out);
                else if (response.status === 0 || (response.status >= 400 && response.status < 599))
                    cb.error(out);
                else
                    return cb.response(out);
            };

            jQuery.support.cors = true;
            return jQuery.ajax(obj);
        }

        $(function () {
            window.swaggerUi = new SwaggerUi({
                url: "{{ discovery_url }}",
                apiKey: "Authorization",
                apiKeyName: "Authorization",
                headers: {Authorization: 'tow'},
                dom_id: "swagger-ui-container",
                useJQuery: true,
                supportHeaderParams: true,
                supportedSubmitMethods: ['get', 'post', 'put'],
                onComplete: function (swaggerApi, swaggerUi) {
                    $("img[src$='throbber.gif']").attr("src", "{% static "tastypie_swagger/images/throbber.gif" %}");
                    $('pre code').each(function (i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function (data) {
                    if (console) {
                        console.log("Unable to Load SwaggerUI");
                    }
                },
                docExpansion: "none"
            });

            window.swaggerUi.load();

        });


    </script>
{% endblock %}