{% if alerts %}
    {% for alert in alerts %}
        <li>
            <a href="{{ alert.3 }}">
                <div>
                    <i class="fa fa-{{ alert.2 }} fa-fw"></i> {{ alert.0|truncatechars:30 }}
                    <span class="pull-right text-muted small">{{ alert.1 }}</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
    {% endfor %}
{% else %}
    <li>
        <a href="{{ alert.3 }}">
            <div>
                <i class="fa fa-bell-o fa-fw"></i> No alerts found
                <span class="pull-right text-muted small"></span>
            </div>
        </a>
    </li>
    <li class="divider"></li>
{% endif %}

<li>
    <a class="text-center" href="/alerts">
        <strong>See All Alerts</strong>
        <i class="fa fa-angle-right"></i>
    </a>
</li>                       