{% load navigation_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if breadcrumbs %}
        {% for b in breadcrumbs %}
            {% if b.active %}
                <title>{{ b.title }}</title>
            {% endif %}
        {% endfor %}
    {% else %}
        <title>TestTrack</title>
    {% endif %}

    {% block add_css_before %}
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ STATIC_URL }}css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ STATIC_URL }}css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block add_css %}
    {% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tracker-jquery-ui/jquery-ui-1.10.4.custom.min.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tracker.css">
    <style>
        {% block add_styles %}
        {% endblock %}
    </style>
</head>
<body>

<div id="wrapper">
    {% block navigation %}
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="TestTrack Logo"
                                                      width="240"/></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            {% alert_nav_items user=request.user %}
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% block settings-dropdown-items %}
                            {% if request.user.is_authenticated %}
                                <li><a href="/profile"><i class="fa fa-user fa-fw"></i> {{ request.user.username }}</a>
                                </li>
                            {% endif %}
                            <li><a href="/api/v1/doc/"><i class="fa fa-book fa-fw"></i> API Docs</a></li>
                        {% endblock %}
                        {% if request.user.is_authenticated %}
                            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        {% endif %}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <form role="search" method="get" action="/simple_search">
                                    <div class="input-group">
                                        <input id="simple_search" type="text" name="query" class="form-control"
                                               placeholder="Search...">
	                                    <span class="input-group-btn">
	                                        <button class="btn btn-default" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
	                                    </span>
                                    </div>
                                </form>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-list fa-fw"></i> Products<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/product">View Products</a>
                                </li>
                                {% if request.user.is_staff %}
                                    <li>
                                        <a href="/product_type">View Product Types</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% if request.user.is_staff %}
                            <li>
                                <a href="#"><i class="fa fa-inbox fa-fw"></i> Engagements<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/engagements">Engagements</a>
                                    </li>
                                    <li>
                                        <a href="/test_type">Test Types</a>
                                    </li>
                                    <li>
                                        <a href="/dev_env">Development Environments</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-exclamation-triangle fa-fw"></i> Findings<span
                                        class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/open_findings">Open Findings</a>
                                    </li>
                                    <li>
                                        <a href="/accepted_findings">Accepted Findings</a>
                                    </li>
                                    <li>
                                        <a href="/closed_findings">Closed Findings</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        {% endif %}
                        <li>
                            <a href="#"><i class="fa fa-line-chart  fa-fw"></i> Metrics<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="/all_metrics"> All </a></li>
                                {% pt_metric_nav %}
                                <li><a href="/all_metrics?date=5&view=dashboard"> Dashboard </a></li>
                                {% if user.is_staff %}


                                    <li>
                                        <a href="#">Additional Metrics <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="/simple_metrics"> Simple Metrics </a></li>
                                            <li><a href="/engineer_metrics"> Engineer Metrics </a></li>
                                            <li><a href="/research_metrics"> Security Research Metrics </a></li>
                                        </ul>
                                        <!-- /.nav-third-level -->
                                    </li>





                                {% endif %}

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/calendar"><i class="fa fa-calendar fa-fw"></i> Calendar</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    {% endblock %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if breadcrumbs %}
                        <ul class="breadcrumb main">
                            {% for b in breadcrumbs %}
                                {% if b.active %}
                                    <li class="active">{{ b.title }}</li>
                                {% else %}
                                    <li><a href="{{ b.link }}">{{ b.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-">
                    <p>
                        <a href="/"><img class="logo" src="{{ STATIC_URL }}img/chop.png" alt="TestTrack Logo" height="45"/></a>
                    </p>

                    <p>
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                                alt="Creative Commons License" style="border-width:0"
                                src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/></a><br/>This work is
                        licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
                        Commons Attribution-ShareAlike 4.0 International License</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<!--  jQuery UI -->
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ STATIC_URL }}js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ STATIC_URL }}js/sb-admin-2.js"></script>
<!-- Calendar JavaScript -->
<script src="{{ STATIC_URL }}js/moment.min.js"></script>
<script src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>
<!-- Table sorter JavaScript -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<!-- our JS -->
<script src="{{ STATIC_URL }}js/index.js"></script>
{% block postscript %}
{% endblock %}
</body>

</html>
