{% extends "base.html" %}
{% block content %}
    {{ block.super }}
{% if engagement %}
	<h3>Add Questionnaire to {{engagement}}</h3>
{% else %}
	<h3>Add Unlinked Questionnaire</h3>
{% endif %}
{% if surveys %}
	<form class="form-horizontal" method="post">{% csrf_token %}
		{% include "dojo/form_fields.html" with form=form %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input class="btn btn-primary" type="submit" label="add_questionnaire" name="add_questionnaire" value="Add Questionnaire" />
					{% if engagement %}
						<input class="btn btn-primary" type="submit" label="respond_survey" name="respond_survey" value="Add Questionnaire and Respond" />
					{% endif %} 
				</div>
			</div>
	</form>
{% else %}
    <p>
        All available questionnaires have been added to this engagement.
    </p>
{% endif %}
{% endblock %}