{% extends "base.html" %}
{% block content %}
    {{ block.super }}
<div class="well">
{% if engagement %}
    <h4>Answer {{survey}} Questionnaire for {{engagement}}</h4>
{% else %}
    <h4>Answer {{survey}} Questionnaire</h4>
{% endif %}
<p>{{ survey.survey.description }} </p>
</div>

<form class="form" method="post">{% csrf_token %}
    {% for question in questions %}
        {% include "defectDojo-engagement-survey/survey_fields.html" with form=question %}
    {% endfor %}

<div class="form-group clearfix">
    <div class="col-sm-offset-2 col-sm-10">
    <input class="btn btn-primary" type="submit" label="save_survey" name="save_survey" value="Save Questionnaire" />
    <br/>
</div>
</div>
</form>
{% endblock %}
