{% extends "base.html" %}
{% block content %}
    {{ block.super }}
	<h3>Assign User to Questionnaire {{ survey }}</h3>
	<form class="form-horizontal" method="post">{% csrf_token %}
		{% include "dojo/form_fields.html" with form=form %}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<a class="btn btn-primary" href="{{request.META.HTTP_REFERER}}"> Return </a>
				<input class="btn btn-primary" type="submit" label="assign_questionnaire" name="assign_questionnaire" value="Assign Questionnaire" /> 
			</div>
		</div>
	</form>
{% endblock %}