{% extends "base.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form id="id_question_form" method="post" class="">
                    <legend>{{ name }}</legend>
                    {% csrf_token %}
                    {% include "dojo/form_fields.html" with form=form %}
                    {% include "dojo/form_fields.html" with form=textForm %}
                    {% include "dojo/form_fields.html" with form=choiceForm %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <a class="btn btn-primary" name="return" href="{% url 'questionnaire' %}" role="button">return</a>
                        </div>
                        <div class="col-sm-offset-2">
                            <input class="btn btn-primary" type="submit" label="submit" name="submit" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block postscript %}
    {{ block.super }}
    <script type="application/javascript">
        $(function () {
            $("*[data-type='choice']").parents('.form-group').hide();

            if ($('#id_type').val() == 'choice'){
                $("*[data-type='choice']").parents('.form-group').show();
            }
            if ($('#id_type').val() == 'text'){
                $("*[data-type='choice']").parents('.form-group').hide();
            }

            $('#id_type').change(function(){
                $("*[data-type='choice']").parents('.form-group').hide();
                if (this.value == 'choice'){
                    $("*[data-type='choice']").parents('.form-group').show();
                }
                if (this.value == 'text'){
                    $("*[data-type='text']").parents('.form-group').show();
                }
            });
        });
    </script>
{% endblock postscript %}
