{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DefectDojo - {{ name }}</title>


    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ STATIC_URL }}fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}dojo/img/favicon.ico"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}dojo/css/dojo.css">
</head>
<body>
<!-- Page Content -->

{% block content %}
    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form method="post" class="form-horizontal">
                    <legend>{{ name }}</legend>
                    {% csrf_token %}
                    {% include "dojo/form_fields.html" with form=form %}
                    {% include "dojo/form_fields.html" with form=textForm %}
                    {% include "dojo/form_fields.html" with form=choiceForm %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <a class="btn btn-primary" name="return" href="{% url 'questionnaire' %}" role="button">return</a>
                        </div>
                        <div class="col-sm-offset-2">
                            <input class="btn btn-primary" type="submit" label="submit" name="submit" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
<!-- /.container -->

<!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ STATIC_URL }}jquery/dist/jquery.min.js"></script>
<!--  jQuery UI -->
<script src="{{ STATIC_URL }}jquery-ui/jquery-ui.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ STATIC_URL }}metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ STATIC_URL }}startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
<!-- Calendar JavaScript -->
<script src="{{ STATIC_URL }}moment/min/moment.min.js"></script>
<script src="{{ STATIC_URL }}fullcalendar/dist/fullcalendar.min.js"></script>
<!-- Table sorter JavaScript -->
<script src="{{ STATIC_URL }}jquery.tablesorter/dist/js/jquery.tablesorter.min.js"></script>
<!-- our JS -->
<script src="{{ STATIC_URL }}dojo/js/index.js"></script>
<script type="application/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="application/javascript">
    $(function () {
        $("*[data-type='choice']").parents('.form-group').hide();
        $("*[data-type='text']").parents('.form-group').hide();

        if ($('#id_type').val() == 'choice'){
            $("*[data-type='text']").parents('.form-group').hide();
            $("*[data-type='choice']").parents('.form-group').show();
        }
        if ($('#id_type').val() == 'text'){
            $("*[data-type='choice']").parents('.form-group').hide();
            $("*[data-type='text']").parents('.form-group').show();
        }

        $('#id_type').change(function(){
            $("*[data-type='choice']").parents('.form-group').hide();
            $("*[data-type='text']").parents('.form-group').hide();
            if (this.value == 'choice'){
                $("*[data-type='text']").parents('.form-group').hide();
                $("*[data-type='choice']").parents('.form-group').show();
            }
            if (this.value == 'text'){
                $("*[data-type='choice']").parents('.form-group').hide();
                $("*[data-type='text']").parents('.form-group').show();
            }
        });
    });
</script>
</body>

</html>
