{% extends "base.html" %}
{% block content %}
    {{ block.super }}
<div class="well">
<h4>{{name}}</h4>
<p>{{ survey.survey.description }} </p>
</div>
{% if survey.completed %}
<form class="form" method="post">{% csrf_token %}
    {% for question in questions %}
        {% include "defectDojo-engagement-survey/survey_fields.html" with form=question %}
    {% endfor %}
</form>
{%  else %}
<p>Questionnaire has not been answered.</p>
{% endif %}
{% endblock %}
{% block add_styles %}
    {{ block.super }}
    .form-horizontal .control-label{width: 100%; float: none; text-align: left;}
    .form-horizontal textarea {width: 90% !important;}
    .form-horizontal .controls {margin-left: 10px;}
{% endblock %}    
