#!/usr/bin/expect

set timeout -1;
spawn {{ virtualenv_path }}/bin/python manage.py changepassword {{django_admin_user}};
expect {
    "Password:" { exp_send "{{django_admin_password}}\r" ; exp_continue }
    "Password (again):" { exp_send "{{django_admin_password}}\r" ; exp_continue }
    eof
}
