{% extends 'base.html' %}
{% load url from future %}
{% block add_css_before %}
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <!-- TastyPie Swagger CSS -->
    <link href='{{ STATIC_URL }}tastypie_swagger/css/hightlight.default.css' media='screen' rel='stylesheet'
          type='text/css'/>
    <link href='{{ STATIC_URL }}tastypie_swagger/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>

{% endblock %}
{% block add_styles %}
    #resources_container { width: 100%}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Copy your authorization header value from <a href="/api_key">here</a> and paste into this form. Click
                explore to apply the key, you should now be able to test each call.</p>

            <div id='header'>
                <div class="swagger-ui-wrap">
                    <form id='api_selector'>
                        <div class='input zero'><input class="zero" placeholder="http://example.com/api"
                                                       id="input_baseUrl" name="baseUrl" type="text"/></div>
                        <div class='input'><input placeholder="Auth header value." id="input_apiKey" name="apiKey"
                                                  type="text"/></div>
                        <div class='input'><a id="explore" class="btn btn-primary" href="#">Explore</a></div>
                    </form>
                </div>
            </div>

            <div id="swagger-ui-container" class="swagger-ui-wrap">

            </div>
        </div>
    </div>
{% endblock %}
{% block postscript %}
    <script src='{{ STATIC_URL }}tastypie_swagger/js/lib/jquery.slideto.min.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}tastypie_swagger/js/lib/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}tastypie_swagger/js/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}tastypie_swagger/js/lib/handlebars-1.0.rc.1.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}tastypie_swagger/js/lib/underscore-min.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}tastypie_swagger/js/lib/backbone-min.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}tastypie_swagger/js/lib/swagger.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}tastypie_swagger/js/swagger-ui.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}tastypie_swagger/js/lib/highlight.7.3.pack.js' type='text/javascript'></script>
    <script type="text/javascript">
        $(function () {
            window.swaggerUi = new SwaggerUi({
                discoveryUrl: "{{ discovery_url }}",
                apiKey: "Auth header value.",
                apiKeyName: 'Authorization',
                dom_id: "swagger-ui-container",
                supportHeaderParams: true,
                supportedSubmitMethods: ['get', 'post', 'put'],
                onComplete: function (swaggerApi, swaggerUi) {
                    $("img[src$='throbber.gif']").attr("src", "{{ STATIC_URL }}tastypie_swagger/images/throbber.gif");
                    if (console) {
                        console.log("Loaded SwaggerUI")
                        console.log(swaggerApi);
                        console.log(swaggerUi);
                    }
                    $('pre code').each(function (i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function (data) {
                    if (console) {
                        console.log("Unable to Load SwaggerUI");
                        console.log(data);
                    }
                },
                docExpansion: "none"
            });

            window.swaggerUi.load();

            $('#input_apiKey').on('focus', function () {
                $(this).val('')
            })
        });

    </script>
{% endblock %}