{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            {% if findings %}
                <div class="panel panel-default table-responsive">
                    <table id="open_findings"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Accepted On</th>
                            <th>Severity</th>
                            <th>Product</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for finding in findings %}
                            <tr>
                                <td><a title="{{ finding.title }}"
                                                      href="{% url 'view_finding' finding.id %}">{{ finding.title|truncatechars:50 }}</a>
                                </td>
                                <td class="nowrap">{{ finding.date }}</td>
                                <td class="">{{ finding.risk_acceptance_set.all.0.created.date }}</td>
                                <td>{% if finding.severity == "Critical" or finding.severity == "High" %}
                                    <p class="text-error">
                                {% else %}<p>{% endif %}{{ finding.severity }}</p></td>
                                <td><a
                                        href="{% url 'view_product' finding.test.engagement.product.id %}"
                                        title="{{ finding.test.engagement.product }}">{{ finding.test.engagement.product|truncatechars:15 }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "dojo/paging_snippet.html" with page=findings %}
            {% else %}
                No findings found.
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="panel panel-default filters">
                {% if filtered.form %}
                    <div class="panel-heading">Filters</div>
                    <form method="get" class="panel-body">
                        {{ filtered.form.as_p }}
                        <div class="centered">
                            <input type="submit" class="btn btn-primary inline top" value="Apply"/><br/><br/>
                            <a href="{% url 'accepted_findings' %}"> [Clear Filters] </a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
{% block postscript %}
    <script>
        $(function () {
            var availableTags = [
                {% for word in title_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_title").autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}
