{% extends "base.html" %}
{% load display_tags %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3>
                        {{ obj }} History
                    </h3>
                </div>
            </div>
            {% if history %}
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=history %}
                </div>
                <div class="table-responsive panel panel-default">
                    <table id="endpoints"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                        <tr>
                            <th>Action</th>
                            <th>Actor</th>
                            <th>Date/Time</th>
                            <th>Changes</th>
                        </tr>

                        {% for h in history %}
                            <tr>
                                <td>{{ h }}</td>
                                <td>{{ h.actor }}</td>
                                <td>{{ h.timestamp }}</td>
                                <td>
                                    {{ h.changes|action_log_entry|linebreaks}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=history %}
                </div>
            {% else %}
                <p class="text-center">No update history found for this object </p>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block postscript %}
    {{ block.super }}
    {% include "dojo/filter_js_snippet.html" %}
{% endblock %}
