{% extends "base.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
    <h3> Add Endpoint ({{ endpoint }}{% if endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation for look for fix process" >&#128681;</span>{% endif %}) Metadata</h3>
    <br />
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <input class="btn btn-primary" type="submit" name="add" value="Save"/>
            </div>
            <div class="col-sm-2">
                <input class="btn btn-primary" type="submit" name="add_another" value="Save &amp; Add Another"/>
            </div>
        </div>
    </form>
{% endblock %}