{% extends "base.html" %}
{% block content %}
    <div class="well">
        <p>Upload your Nexpose scan in XML Export 2.0 format, and all the findings
            will be imported automatically.</p>

    </div>
    <form class="form-horizontal" action="{% url 'add_nexpose_scan' eid %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Upload File"/>
            </div>
        </div>
    </form>
{% endblock %}
