{% extends "base.html" %}
{% load event_tags %}
{% load static from staticfiles %}
{% block content %}
    <div>
        <h3> Add findings to a test</h3>
    </div>
    <div>
    {% if temp %}
        <form class="form-horizontal" action="{% url 'add_temp_finding' tid fid %}" method="post">
            {% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Add Another Finding"/>
                    <input class="btn btn-primary" type="submit" value="Finished"/>
                </div>
            </div>
        </form>
    {% else %}
        <form class="form-horizontal" action="{% url 'add_findings' tid %}" method="post">
            {% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Add Another Finding"/>
                    <input class="btn btn-primary" name="_Finished" type="submit" value="Finished"/>
                </div>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}
{% block postscript %}
    <script type="application/javascript">
        $('#add_id_endpoints').attr('href', '/endpoints/{{ test.engagement.product.id }}/add?_popup');
        {% if not form_error %}
            $('#id_endpoints').find('option').remove();
        {% endif %}
    </script>
    <script type="application/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>

{% endblock %}
