{% extends "base.html" %}
{% load static %}

{% block add_styles %}
    {{ block.super }}
    .chosen-container {
    width: 70% !important;
    }
    .editor-toolbar, .editor-statusbar, .editor-preview-side, .CodeMirror {
    width: 70% !important;
    }
{% endblock %}
{% block add_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'easymde/dist/easymde.min.css' %}">
    <style>
        .modal-content {
          width: 200%; /* Ajusta el ancho como desees */
          margin: 0 -50%; /* Centra el contenido horizontalmente */
        }
      </style>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3> Transfer Finding</h3>
    <div id="transfer_finding">
        <p>
        </p>
        <p>
            A Transfer Finding can consist of compensating control(s) and documentation.
            Documentation can be in the form of an image or PDF file.<br/>
            Select the findings that apply to this Tranfer finding.
        </p>
        <br/>
        {% comment %} <form id="add_transfer_finding" enctype="multipart/form-data" class="form-horizontal" method="post">
            {% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Save"/>
                </div>
            </div>
            <br/><br/>
        </form> {% endcomment %}
        <!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Transfer Finding
  </button>
  
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document"> <!-- Cambia modal-lg a modal-sm o modal-xl según necesites -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Transfer Finding</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario -->
          <form id="add_transfer_finding" enctype="multipart/form-data" class="form-horizontal" method="post">
            {% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Save"/>
              </div>
            </div>
          </form>
        </div>
        <!-- /.modal-body -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

    </div>
{% endblock %}
{% block postscript %}
    {{ block.super }}
<script src="{% static 'dojo/js/product_type/index.js' %}"></script>
<script type="application/javascript" src="{% static 'easymde/dist/easymde.min.js' %}"></script>
<script type="text/javascript">
   
    // Texarea
    $("#add_risk_acceptance textarea").each(function (index, elem) {
        if (elem.id != 'id_notes') {
            if (elem.hasAttribute("required")) {
                elem.removeAttribute("required");
                elem.id = "req"
            }

            var mde = new EasyMDE({
                spellChecker: false,
                element: elem,
                autofocus: false,
                forceSync: true,
                toolbar: ["bold", "italic", "heading", "|",
                    "quote", "unordered-list", "ordered-list", "|",
                    "link", "image", "|",
                    "table", "horizontal-rule", "code", "|",
                    "guide"
                ]
            });
            mde.render();
        }
    });
</script>

{% endblock %}
