
<!-- custom_multiple_choice_field.html -->
{% for checkbox in field %}
    <div class="checkbox">
        <label for="{{ checkbox.id_for_label }}">
            {{ checkbox.choice_label }}
            {{ checkbox.tag }}
        </label>
    </div>
{% endfor %}


{% load i18n %}
{% load display_tags %}
<table id="findings_table"class="table table-striped table-condensed">
    <tr>
        <th></th>
        <th>ID</th>
        <th>Severity</th>
        <th>EPSS Score / Percentile</th>
        <th>Name</th>
        <th>Date</th>
        <th>Active</th>
    </tr>
    {% for finding in findings %}
    <tr>
        <td><input type="checkbox" name="accepted_findings" value="{{ finding.id }}"></td>
        <td>{{ finding.id }}</td>
        <td>
            <span class="label severity severity-{{ finding.severity }}">
                {{ finding.severity_display }}
            </span>
          </td>
          <td>
              {{ finding.epss_score|format_epss }}
              /
              {{ finding.epss_percentile|format_epss }}
          </td>
          <td>{{ finding.title|truncatechars_html:140 }}</td>
          <td>{{ finding.date }}</td>
          <td>{{ finding.active }}</td>
    </tr>
    {% endfor %}
</table>

{% block js %}
    <script>
        $(document).ready(function() {
            $('#findings-table').DataTable();
        });
    </script>
{% endblock js %}
