{% load i18n %}
{% load display_tags %}
{% load static %}
<table id="findings_table" class="tablesorter-bootstrap table table-condensed table-striped table-hover">
    {% for finding in findings %}
    <tr>
        <td><input type="checkbox" name="accepted_findings" value="{{ finding.id }}"></td>
        <td>{{ finding.id }}</td>
        <td>
            <span class="label severity severity-{{ finding.severity }}">
                {{ finding.severity_display }}
            </span>
          </td>
          <td>
              {{ finding.epss_score|format_epss }}
              /
              {{ finding.epss_percentile|format_epss }}
          </td>
          <td>{{ finding.title|truncatechars_html:140 }}</td>
          <td>{{ finding.date }}</td>
          <td>{{ finding.active }}</td>
    </tr>
    {% endfor %}
</table>

