{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DefectDojo - {{ name }}</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static "components-jqueryui/themes/base/jquery-ui.min.css" %}">
    <link rel="shortcut icon" href="{% static "dojo/img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "fullcalendar/dist/fullcalendar.min.css" %}">
    <link rel="stylesheet" href="{% static "chosen-bootstrap/chosen.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "dojo/css/dojo.css" %}">
    <style>
        .chosen-container {
            width: 70% !important;
        }
    </style>
</head>
<body class="popup">
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" class="form-horizontal">
                <legend>{{ name }}</legend>
                {% csrf_token %}
                {% include "dojo/form_fields.html" with form=form %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" type="submit" name="add_endpoint" value="Submit"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<!--  jQuery UI -->
<script src="{% static "components-jqueryui/jquery-ui.min.js" %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "metismenu/dist/metisMenu.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "startbootstrap-sb-admin-2/dist/js/sb-admin-2.js" %}"></script>
<!-- Calendar JavaScript -->
<script src="{% static "moment/min/moment.min.js" %}"></script>
<script src="{% static "fullcalendar/dist/fullcalendar.min.js" %}"></script>
<!-- our JS -->
<script type="application/javascript" src="{% static "chosen-js/chosen.jquery.min.js" %}"></script>

<script type="text/javascript" src="{% static "admin/js/jquery.init.js"%}"></script>
<script type="application/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script type="application/javascript">
    $ = django.jQuery;
</script>
<script src="{% static "dojo/js/index.js" %}"></script>
<script type="application/javascript">
    $(function () {
        var endpoints = '';
        $(window.opener.document.getElementById('id_endpoints')).children('option').each(function () {
            endpoints += $(this).text();
            endpoints += "\n";
        });
        $('textarea#id_endpoint').text(endpoints);
    });
</script>
</body>

</html>
