{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if alerts %}
                <div class="panel panel-default">
                    <table id="open_findings"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Timeframe</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for alert in alerts %}
                            <tr>
                                <td class="text-center"><i class="fa fa-{{ alert.2 }} fa-fw"></i></td>
                                <td class="nowrap"><a href="{{ alert.3 }}">{{ alert.0 }}</a></td>
                                <td>{{ alert.1 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "dojo/paging_snippet.html" with page=alerts %}
            {% else %}
                No alerts found.
            {% endif %}
        </div>
    </div>
{% endblock %}
