{% extends "base.html" %}
{% load navigation_tags %}
{% load get_system_setting %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        {{ product }} Open Findings
                        <div class="dropdown pull-right">
                            <a class="btn btn-primary"
                               href="{% url 'product_report' product.id %}?{{ request.GET.urlencode }}">
                                <i class="fa fa-file-text-o"></i> Report
                            </a>
                        </div>
                    </h3>
                </div>
                <div id="the-filters" class="panel-body collapse {% if request.META.QUERY_STRING %}in{% endif %}">
                    {% include "dojo/filter_snippet.html" with form=filtered.form %}
                </div>
            </div>

            {% if findings %}
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=findings page_size=True %}
                </div>
                <div class="table-responsive panel panel-default">
                    <table id="findings"
                           class="tablesorter-bootstrap table table-condensed table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>{% dojo_sort request 'Name' 'title' %}</th>
                            <th>{% dojo_sort request 'Severity' 'numerical_severity' 'asc' %}</th>
                            <th>Verified</th>
                            <th>Active</th>
                            <th>Age</th>
                            {% if "enable_jira"|get_system_setting %}
                            <th>Jira</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for finding in findings %}
                            <tr>
                                <td><a title="{{ finding.title }}"
                                       href="{% url 'view_finding' finding.id %}">{{ finding.title|truncatechars:60 }}</a>
                                       <sup>
                                           {% for tag in finding.tags %}
                                           <a title="Search {{ tag }}" class="tag-label tag-color" href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                           {% endfor %}
                                       </sup>
                                </td>
                                <td>{% if finding.severity == "Critical" or finding.severity == "High" %}
                                    <p class="text-error">
                                {% else %}<p>{% endif %}{{ finding.severity }}</p>
                                <td>{{ finding.verified }}</td>
                                <td>{{ finding.active }}</td>
                                <td>{{ finding.age }}</td>
                                {% if "enable_jira"|get_system_setting %}
                                <td>
                                <a href="{{finding.jira_conf.url}}/browse/{{finding.jira.jira_key}}" target="_blank"> {{finding.jira.jira_key}} </a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=findings page_size=True %}
                </div>
            {% else %}
                <p class="text-center">No findings found for this product.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block postscript %}
    {% include "dojo/filter_js_snippet.html" %}
{% endblock %}
