{% extends "base.html" %}
{% block content %}
    <h4> Findings </h4>
    <div class="row">

        <div class="col-md-10">
            {% if findings %}
                <div class="table-responsive panel panel-default">
                    <table id="findings"
                           class="tablesorter-bootstrap table table-condensed table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Severity</th>
                            <th>Verified</th>
                            <th>Active</th>
                            <th>Age</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for finding in findings %}
                            <tr>
                                <td><a title="{{ finding.title }}"
                                                      href="{% url 'view_finding' finding.id %}">{{ finding.title|truncatechars:60 }}</a>
                                </td>
                                <td>{% if finding.severity == "Critical" or finding.severity == "High" %}
                                    <p class="text-error">
                                {% else %}<p>{% endif %}{{ finding.severity }}</p>
                                <td>{{ finding.verified }}</td>
                                <td>{{ finding.active }}</td>
                                <td>{{ finding.age }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "dojo/paging_snippet.html" with page=findings %}
            {% else %}
                No findings found for this product.
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="filters panel panel-default">
                <div class="panel-heading">Actions</div>
                <div class="panel-body centered">
                    {{ test.test_type }} <a class="btn btn-sm btn-primary" href="{% url 'product_report' pid %}?{{ request.GET.urlencode }}">
                    Generate Report</a>
                </div>
                {% if filtered.form %}
                    <div class="panel-heading">Filters</div>
                    <form method="get" class="panel-body">
                        {{ filtered.form.as_p }}
                        <div class="centered">
                            <input type="submit" class="btn btn-primary" value="Apply"/><br/><br/>
                            <a href="?" class=""> [Clear Filters] </a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
