{% extends "base.html" %}
{% load event_tags %}

{% block content %}
    <h2> {{ name }}</h2>
    <hr/>
    <div class="alert alert-danger">
        <p><b>APIv1 will be deprecated after 31 december 2020 and will be removed from Defect Dojo by June 2021.</b></p>
    </div>    
    <p>Your current API key is <code>{{ key.key }}</code></p>
    <p>Your current API Authorization Header value is <code>ApiKey {{ user.username }}:{{ key.key }}</code></p>
    <p>Has your key been exposed? Are you ready for a new one?</p>
    <form action="{% url 'api_key' %}" method="post" class="inline-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Generate New Key"/>
    </form>
    <hr/>
    <p>
        That's great, but how do I make calls to the API? Take a look at the
        <a href="{% url 'tastypie_swagger:index' %}" title="API Documentation">API Documentation</a>.
    </p>
    <p>
        To use your API Key you need to specify an Authorization header. Example:
    </p>
    <pre>
# As a header
# Format is ``Authorization: ApiKey &lt;username&gt;:&lt;api_key&gt;
Authorization: ApiKey {{ user.username }}:{{ key.key }}
	</pre>
    <p>Here is a simple python example against the /users endpoint</p>
    <pre>
import requests

url = '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/api/v1/users'
headers = {'content-type': 'application/json',
		   'Authorization': 'ApiKey {{ user.username }}:{{ key.key }}'}
r = requests.get(url, headers=headers, verify=True) # set verify to False if ssl cert is self-signed

for key, value in r.__dict__.iteritems():
  print key
  print value
  print '------------------'
	</pre>
{% endblock %}
