{% extends "base.html" %}
{% block content %}
    {{ block.super }}
    <form method="post" class="form-horizontal" autocomplete="off">
        {% csrf_token %}
        <fieldset>
            <legend>Change Password</legend>
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button type="submit" class="btn btn-success">Change Password</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
