{% extends "base.html" %}
{% load humanize %}
{% load display_tags %}
{% load static %}
{% block content %}
{{ block.super }}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading tight">
                <h3 class="has-filters">
                    Components
                    <div class="dropdown pull-right">
                        <button id="show-filters" data-toggle="collapse" data-target="#the-filters"
                            class="btn btn-primary toggle-filters"> <i class="fa-solid fa-filter"></i> <i
                                class="caret"></i> </button>
                    </div>
                </h3>
            </div>
        </div>
        <div id="the-filters" class="is-filters panel-body collapse {% if filter.form.has_changed %}in{% endif %}">
            {% include "dojo/filter_snippet.html" with form=filter.form %}
        </div>
        <div class="clearfix">
            {% include "dojo/paging_snippet.html" with page=page_obj page_size=True %}
        </div>
        <div class="panel panel-default table-responsive">
            <table id="components" class="tablesorter-bootstrap table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Product Name</th>
                        <th class="text-center">Active Findings</th>
                        <th class="text-center">Closed Findings</th>
                        <th class="text-center">Total Findings</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in page_obj %}
                        <tr>
                            <td>
                                <a rel="noopener noreferrer" href="{% url 'all_findings' %}?component_name={{ item.component_name }}&component_version={{ item.version }}&test__engagement__product={{ item.product_id }}">
                                    <b>{{ item.name }}</b>
                                </a>
                            </td>
                            <td>{{ item.version }}</td>
                            <td>{{ item.product }}</td>
                            <td class="text-center">
                                {% if item.active_findings %}
                                    <a rel="noopener noreferrer" href="{% url 'open_findings' %}?component_name={{ item.component_name }}&component_version={{ item.version }}&test__engagement__product={{ item.product_id }}">
                                        <b>{{ item.active_findings }}</b>
                                    </a>
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if item.closed_findings %}
                                    <a rel="noopener noreferrer" href="{% url 'closed_findings' %}?component_name={{ item.component_name }}&component_version={{ item.version }}&test__engagement__product={{ item.product_id }}">
                                        <b>{{ item.closed_findings }}</b>
                                    </a>
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if item.total_findings %}
                                    <b>{{ item.total_findings }}</b>
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            {% include "dojo/paging_snippet.html" with page=page_obj page_size=True %}
        </div>
    </div>
</div>
{% endblock %}
{% block postscript %}
    {{ block.super }}
<script nonce="{{request.csp_nonce}}">
        $(function () {
            //Ensures dropdown has proper zindex
            $('.table-responsive').on('show.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "inherit" );
            });

            $('.table-responsive').on('hide.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "auto" );
            })
            var availableTags = [
                {% for word in component_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_component_name").autocomplete({
                source: availableTags
            });
        });
</script>
<script nonce="{{request.csp_nonce}}">
    // DataTables setup
    $(document).ready(function() {
        date =  new Date().toISOString().slice(0, 10);
        var fileDated = 'Product_Components_' + date;
        var buttonCommon = {
            exportOptions: {
                stripHtml: true,
                stripNewlines: true,
                trim: true,
                orthogonal: 'export'
            },
            filename: fileDated,
            title: 'Product Components'
        };

        // Mapping of table columns to objects for proper cleanup and data formatting
        {% if enable_table_filtering %}
            var dojoTable = $('#components').DataTable({
                drawCallback: function(){
                    $('#components .has-popover').hover(
                        function() { $(this).popover('show'); }, // hover
                        function() { $(this).popover('hide'); } // unhover
                    );
                },
                "columns": [
                        { "data": "Component_name" },
                        { "data": "Version" },
                        { "data": "Product_name"},
                        { "data": "Active" },
                        { "data": "Closed" },
                        { "data": "Total" },
                ],
                order: [],
                columnDefs: [
                    {
                        "orderable": false,
                    },
                ],
                dom: 'Bfrtip',
                paging: false,
                info: false,
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    },
                    $.extend( true, {}, buttonCommon, {
                        extend: 'copy'
                    }),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'excel',
                        autoFilter: true,
                        sheetName: 'Exported data',
                    }),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'csv'
                    }),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'pdf',
                        orientation: 'landscape',
                        pageSize: 'LETTER'
                    }),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'print'
                    }),
                ],
            });
        {% endif %}
    });
</script>
{% include "dojo/filter_js_snippet.html" %}
{% endblock %}