{% load display_tags %}
{% load humanize %}
{% load get_endpoint_status %}
{% load get_note_status %}
{% load get_notetype_availability %}
{% load event_tags %}
{% if endpoints %}
    <h3>== Endpoints ==</h3>
    {% for endpoint in endpoints %}
        <h4>=== {{ endpoint }} with {{ endpoint.active_findings|length|apnumber }} active findings ===</h4>
        {% for find in endpoint.active_findings %}
            <h5>==== Finding {{ find.id }}: {{ find.title | nice_title }} {% if find.mitigated %}
                Mitigated on: {{ find.mitigated }} {% endif %}
                {% if find.tags %}
                    <sup>
                        [
                        {% for tag in find.tags.all %}
                        {{ tag }}
                        {% endfor %}
                        ]
                    </sup>
                {% endif %}  ====
            </h5>
            <br>
            <p><b>==== Product: ====</b>
                <br>
                {{ find.test.engagement.product.name }}
            </p>
            <br>
            <p><b>==== Status: ====</b>
                <br>
                {{ find.status }}
            </p>
            <p><b>==== CVSSv3: ====</b>
            <br>
                {{ find.cvssv3|linebreaksbr }}
            </p>
            <br>
            <p><b>==== Severity: ====</b>
                <br>
<span style="color:
        {% if find.severity == 'Critical' %} Red
        {% elif find.severity == 'High' %} Magenta
        {% elif find.severity == 'Medium' %} Orange
        {% elif find.severity == 'Low' %} #00CC00
        {% elif find.severity == 'Info' %} Blue {% endif %}">
{{ find.severity }} ({{ find.numerical_severity }})
</span>
            </p>
            <p><b>==== Description / Exploit: ====</b>
                <br>
                {{ find.description|linebreaksbr }}
            </p>
            <br>
            <p><b>==== Impact: ====</b>
                <br>
                {{ find.impact|linebreaksasciidocbr }}
            </p>
            <br>
            {% with endpoints=find|get_vulnerable_endpoints %}
                {% if endpoints %}
                    <p><b>==== Vulnerable Endpoints: ====</b><br>
                        {% for endpoint in endpoints %}
                            {{ endpoint }} +<br/>
                        {% endfor %}
                    </p>
                    <br>
                {% endif %}
            {% endwith %}

            {% with endpoints=find|get_mitigated_endpoints %}
                {% if endpoints %}
                    <p><b>==== Remediated Endpoints: ====</b><br>
                        {% for endpoint in endpoints %}
                            {{ endpoint }} +<br/>
                        {% endfor %}
                    </p>
                    <br>
                {% endif %}
            {% endwith %}
            <br>
            <p><b>==== Suggested Mitigation: ====</b>
                <br>
                {{ find.mitigation|linebreaksasciidocbr }}
            </p>
            <br>
            <p><b>==== Further References: ====</b>
                <br>
                {{ find.references|linebreaksasciidocbr }}
            </p>
            <br>
            {% if include_finding_images %}
                <p><b>==== Finding Images: ====</b>
                    <br>
                    {% include "dojo/snippets/file_images.html" with size='small' obj=find format="AsciiDoc" %}
                </p><br>
            {% else %}
                <br>
            {% endif %}
            <br>
            {% if include_finding_notes %}
                {% with notes=find.notes.all|get_public_notes %}
                    {% if notes.count > 0 %}
                        <p><b>==== Finding Notes: ====</b>
                            <br>
                            {% if notes|get_notetype_notes_count > 0 %}
                                {% for note in notes reversed %}
                                        {{ note.author }} - {{ note.date }} - {% if note.note_type != None %}{{ note.note_type }}{% endif %} - {{ note }} +<br>
                                {% endfor %}
                            {% else %}
                                {% for note in notes reversed %}
                                        {{ note.author }} - {{ note.date }} - {{ note }} +<br>
                                {% endfor %}
                            {% endif %}
                        </p><br>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
