{% load display_tags %}
{% load humanize %}
{% load event_tags %}
{% if findings %}
    <h3>== Findings ==</h3>
    <br>
{% endif %}
{% for find in findings %}
    <h4>=== {{ find.title | nice_title }} {% if find.mitigated %}
        Mitigated on: {{ find.mitigated }} {% endif %}===</h4>
    <br>
    <p><b>==== Product: ====</b>
        <br>
        {{ find.test.engagement.product.name }}
    </p>
    <br>
    <p><b>==== Status: ====</b>
        <br>
        {{ find.status }}
    </p>
    <br>
    <p><b>==== Severity: ====</b>
        <br>
<span style="color:
        {% if find.severity == 'Critical' %} Red
        {% elif find.severity == 'High' %} Magenta
        {% elif find.severity == 'Medium' %} Orange
        {% elif find.severity == 'Low' %} #00CC00
        {% elif find.severity == 'Info' %} Blue {% endif %}">
{{ find.severity }} ({{ find.numerical_severity }})
</span>
    </p>
    <p><b>==== Description / Exploit: ====</b>
        <br>
        {{ find.description|linebreaksbr }}
    </p>
    <br>
    <p><b>==== Impact: ====</b>
        <br>
        {{ find.impact|linebreaksasciidocbr }}
    </p>
    <br>
    {% if find.endpoints.all %}
        <p><b>==== Systems Vulnerable: ====</b><br>
            {% for endpoint in  find.endpoints.all %}
                {{ endpoint }} +<br/>
            {% endfor %}
        </p>
        <br>
    {% endif %}

    <p><b>==== Suggested Mitigation: ====</b>
        <br>
        {{ find.mitigation|linebreaksasciidocbr }}
    </p>
    <br>
    <p><b>==== Further References: ====</b>
        <br>
        {{ find.references|linebreaksasciidocbr }}
    </p>
    <p><b>==== Finding ID: ====</b>
        <br>
        Finding {{ find.id }}
    </p>
    <br>
    {% if include_finding_images %}
        <p><b>==== Finding Images: ====</b>
            <br>
            {% if find.images.all %}
                {% for pic in find.images.all %}
                    image::{{ host }}{% pic_token pic 'small' %}[] +<br>
                {% endfor %}
            {% else %}
                No images found.
            {% endif %}
        </p><br>
    {% else %}
        <br>
    {% endif %}
    <br>
    {% if include_finding_notes %}
        <p><b>==== Finding Notes: ====</b>
            <br>
            {% if find.notes.all %}
                {% for note in find.notes.all %}
                    {{ note.author }} - {{ note.date }} - {{ note }} +<br>
                {% endfor %}
            {% else %}
                No notes found.
            {% endif %}
        </p><br>
    {% else %}
        <br>
    {% endif %}
{% endfor %}
