{% extends "base.html" %}
{% load event_tags %}
{% load static %}
{% load i18n %}
{% block add_styles %}
    {{ block.super }}
    body{
        padding-top: 0px !important;
    }
    nav.navbar {display: none;}
    #page-wrapper {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    }
    br {margin: 0;}
    h2 {margin: -5px 0px 0px;background-color: white;padding: 5px 15px 8px;border-bottom: 1px solid #e8e8e8;}

    ul.breadcrumb {display:none}
    span.close_link {font-size: 14px;}
    .metric-data{margin-top: 40px;}
    .graph {height: 45vh; width: 100%;}
    .graph-500 {height: 65vh; width: 100%;}
    #punchcard .flot-x-axis .flot-tick-label span {  transform: rotate(45deg);-webkit-transform:
    rotate(-45deg);-ms-transform:rotate(-45deg);display: inline-block;}
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="row navbar-fixed-top">
        <div class="col-md-12">
            <h2>{% blocktrans with start_date=start_date.date end_date=end_date.date%}{{ name }} for {{ start_date }} - {{ end_date }}{% endblocktrans %}
                <a class="btn close pull-right" href="{% url 'metrics' %}" aria-hidden="true">&times;</a>
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" label="view_selector" aria-label="view_selector" aria-expanded="true">
                        <span class="fa-solid fa-bars"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a href="{% url 'metrics' %}?view=dashboard&type=Finding">
                                <i class="fa-solid fa-file-lines"></i> {% trans "Measures Findings" %}
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'metrics' %}?view=dashboard&type=Endpoint">
                                <i class="fa-solid fa-file-lines"></i> {% trans "Measure Affected Endpoints" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </h2>
        </div>
    </div>
    <div class="row metric-data">
        <div class="col-md-6 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Open Bug Count by Month" %}</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="opened_per_month" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Risk Accepted Bug Count by Month" %}</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="accepted_per_month" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-md-12 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Open Bug Count by Week" %}</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="opened_per_week" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-md-12 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Risk Accepted Bug Count by Week" %}</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="accepted_per_week" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>


        {% if top_ten_products %}
            <div class="col-md-12 section-start">
                <div class="panel panel-default">
                    <div class="panel-heading">{% blocktrans with length=top_ten_products|length %}Top {{ length }} Products By Bug Severity{% endblocktrans %}</div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="top-ten" class="graph"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        {% endif %}
        <div class="col-md-4 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Findings In Period By Severity" %}</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="opened_in_period" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Findings Risk Accepted In Period By Severity" %}</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="total_accepted_in_period" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Findings Closed In Period By Severity" %}</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="total_closed_in_period" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        {% if punchcard %}
            <div class="col-lg-12 section-start">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% trans "Weekly activity, displayed by day, of findings reported.*" %}
                    </div>
                    <div class="panel-body">
                        <div class="graph-500" id="punchcard"></div>
                        <p class="text-center text-muted small"><br/>{% trans "Week begins on date displayed." %}</p>

                        <p>
                            <br/>
                            <span class="text-muted small">{% trans "* Weeks are only displayed if findings are available." %}</span>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <br/>
{% endblock %}
{% block postscript %}
    {{ block.super }}
    <!-- Flot Charts JavaScript -->
    <script src="{% static "flot/excanvas.min.js" %}"></script>
    <script src="{% static "flot/jquery.flot.js" %}"></script>
    <script src="{% static "flot/jquery.flot.pie.js" %}"></script>
    <script src="{% static "flot/jquery.flot.time.js" %}"></script>
    <script src="{% static "jquery.flot.tooltip/js/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "flot/jquery.flot.stack.js" %}"></script>
    <script src="{% static "flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "flot-axis/jquery.flot.axislabels.js" %}"></script>
    {% if punchcard %}
        <script src="{% static "JUMFlot/javascripts/JUMFlot.min.js" %}"></script>
        <script src="{% static "JUMFlot/javascripts/jquery.flot.mouse.js" %}"></script>
        <script src="{% static "JUMFlot/javascripts/jquery.flot.bubbles.js" %}"></script>
    {% endif %}
    {% block metrics %}
        <script src="{% static "dojo/js/metrics.js" %}"></script>
    {% endblock metrics %}
    <script>
        $(function () {
            setInterval(function () {
                window.location.reload();
            }, 900000);


            var i = 0;
            items = $('.section-start');
            setInterval(function () {
                item = items.get(i);
                ++i;
                $('html, body').animate({

                    scrollTop: $(item).offset().top - 55
                }, 4000);
                if (i >= items.length) i = 0;

            }, 20000);

            var critical = [];
            var high = [];
            var medium = [];
            var low = [];
            {% for month in opened_per_month|slice:'1:' %}
                critical.push([{{ month.0 }}, {{ month.2 }}]);
                high.push([{{ month.0 }}, {{ month.3 }}]);
                medium.push([{{ month.0 }}, {{ month.4 }}]);
                low.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            opened_per_month(critical, high, medium, low);

            critical = [];
            high = [];
            medium = [];
            low = [];
            {% for month in accepted_per_month|slice:'1:' %}
                critical.push([{{ month.0 }}, {{ month.2 }}]);
                high.push([{{ month.0 }}, {{ month.3 }}]);
                medium.push([{{ month.0 }}, {{ month.4 }}]);
                low.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            accepted_per_month(critical, high, medium, low);

            critical = [];
            high = [];
            medium = [];
            low = [];
            {% for month in opened_per_week|slice:'1:' %}
                critical.push([{{ month.0 }}, {{ month.2 }}]);
                high.push([{{ month.0 }}, {{ month.3 }}]);
                medium.push([{{ month.0 }}, {{ month.4 }}]);
                low.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            opened_per_week(critical, high, medium, low);

            critical = [];
            high = [];
            medium = [];
            low = [];
            {% for month in accepted_per_week|slice:'1:' %}
                critical.push([{{ month.0 }}, {{ month.2 }}]);
                high.push([{{ month.0 }}, {{ month.3 }}]);
                medium.push([{{ month.0 }}, {{ month.4 }}]);
                low.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            accepted_per_week(critical, high, medium, low);

            critical = [];
            high = [];
            medium = [];
            low = [];
            var ticks = [];
            {% for t in top_ten_products %}
                ttp = {{forloop.counter}};
                ticks.push([ttp, "{{t.name}}"]);
                critical.push([ttp, {{t.critical|default_if_none:0}}]);
                high.push([ttp, {{t.high|default_if_none:0}}]);
                medium.push([ttp, {{t.medium|default_if_none:0}}]);
                low.push([ttp, {{t.low|default_if_none:0}}]);
            {% endfor %}
            {% if top_ten_products %}
                top_ten_products(critical, high, medium, low, ticks);
            {% endif %}

            critical = "{{in_period_counts.Critical|default_if_none:0}}";
            high = "{{in_period_counts.High|default_if_none:0}}";
            medium = "{{in_period_counts.Medium|default_if_none:0}}";
            low = "{{in_period_counts.Low|default_if_none:0}}";
            severity_pie(critical, high, medium, low);

            critical = "{{accepted_in_period_counts.critical|default_if_none:0}}";
            high = "{{accepted_in_period_counts.high|default_if_none:0}}";
            medium = "{{accepted_in_period_counts.medium|default_if_none:0}}";
            low = "{{accepted_in_period_counts.low|default_if_none:0}}";
            total_accepted_pie(critical, high, medium, low);

            critical = "{{closed_in_period_counts.Critical}}";
            high = "{{closed_in_period_counts.High}}";
            medium = "{{closed_in_period_counts.Medium}}";
            low = "{{closed_in_period_counts.Low}}";
            total_closed_pie(critical, high, medium, low);

            {%  if punchcard %}

                punchcard("#punchcard", {{ punchcard|safe }}, {{ ticks|safe }});

            {%  endif %}

        })
    </script>
{% endblock %}