{% extends "base.html" %}
{% block content %}
    {{ block.super }}
    <h3> Delete Product {{ product }}</h3>
    <p>
        Deleting this Product will remove any related objects associated
        with it.<BR>
        <a class="text-danger" href="/product/{{product.id}}/dangerzone_delete">Click Here To See Related Objects Before Deleting</a>
    </p>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <div class="form-group">
            <button class="btn btn-danger" type="submit" name="delete_name" value="delete_test">Delete Product</button>
        </div>
    </form>
    <br/>
    <br/>
{% endblock %}
