{% extends "base.html" %}
{% block content %}
    {{ block.super }}
    <h3> Delete Finding Group {{ finding_group }}</h3>
    <p>
        Deleting this Finding Group will NOT remove any findings inside this group.
        A Finding Group is just a thin wrapper around a set of findings.
    </p>
    <div class="danger-zone panel panel-danger">
        <div class="panel-heading">
            <h3>Danger Zone</h3>
        </div>
        {% if rels|length > 1 %}
            <ul class="left">{{ rels|unordered_list }}</ul>
        {% else %}
            <p class="text-center">No relationships found.</p>
        {% endif %}
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form }}

            <div class="form-group">
                <button class="btn btn-danger" type="submit" name="delete_name" value="delete_test">Delete Finding Group</button>
            </div>
        </form>
    </div>
    <br/>
    <br/>
{% endblock %}
