{% extends "base.html" %}
{% block content %}
    {{ block.super }}
    <h3> Delete Test {{ test }}</h3>
    <p>
        Deleting this Test will remove any findings, risk acceptances, check lists, and other relationships associated
        with it.<BR>
        <a class="text-danger" href="/test/{{test.id}}/dangerzone_delete">Click Here To See Related Objects Before Deleting</a>
    </p>
    <form class="form-horizontal" method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <div class="form-group">
            <button class="btn btn-danger" type="submit" name="delete_name" value="delete_test">Delete Test</button>
        </div>
    </form>
    <br/>
    <br/>
{% endblock %}
