{% extends "base.html" %}
{% block content %}
    {{ block.super }}
    <h3> Delete {{ engagement }}</h3>
    <p>
        Deleting this Engagement will remove any related objects associated
        with it.<BR>
        <a class="text-danger" href="/engagement/{{engagement.id}}/dangerzone_delete">Click Here To See Related Objects Before Deleting</a>
    </p>
    <form class="form-horizontal" method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <div class="form-group">
            <button class="btn btn-danger" type="submit" name="delete_name" value="delete_test">Delete Engagement</button>
        </div>
    </form>
    <br/>
    <br/>
{% endblock %}
