{% extends "base.html" %}
{% block content %}
    {{ block.super }}
    <h3> Delete All alerts {{ product }}</h3>
    <p>
        Delete all alerts will remove all alerts from this instance
    </p>
    <div class="danger-zone panel panel-danger">
        <div class="panel-heading">
            <h3>Danger Zone</h3>
        </div>

        <div>
            <h4>The following alerts will be deleted</h4>
        </div>
        {% for alert in alerts %}
            <tr>
                <td>{%if alert.url %}<a href="{{ alert.url }}">{% endif %}{{ alert.title|linebreaks }}{% if alert.url %}</a>{% endif %}</td>
            </tr>
        {% endfor %}
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form }}

            <div class="form-group">
                <button class="btn btn-danger" type="submit" name="delete_name" value="delete_test">Delete Alert</button>
            </div>
        </form>
    </div>
    <br/>
    <br/>
{% endblock %}
