{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {{ block.super }}
    <h3>{{ label_delete_with_name }}</h3>
    <p>{{ labels.ORG_DELETE_CONFIRM_MESSAGE }}</p>
    <div class="danger-zone panel panel-danger">
        <div class="panel-heading">
            <h3>{% trans "Danger Zone" %}</h3>
        </div>
        {% if rels|length > 1 %}
            <ul class="left">{{ rels|unordered_list }}</ul>
        {% else %}
            <p class="text-center">{% trans "No relationships found." %}</p>
        {% endif %}
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form }}

            <div class="form-group">
                <button class="btn btn-danger" type="submit" name="delete_product_type" value="delete_product_type">
                {{ labels.ORG_DELETE_LABEL }}
                </button>
            </div>
        </form>
    </div>
    <br/>
    <br/>
{% endblock %}
