{% extends "base.html" %}
{% block content %}
    <h3> Please set the width of each field, Fields with width 0 will not be displayed in the google sheets. </h3><br>
    <form class="form-horizontal" action="{%  url 'drive_authentication' %}" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}
