{% extends "base.html" %}
{% load static from staticfiles %}

{% block add_styles %}
.chosen-container {
    width: 70% !important;
}
{% endblock %}

{% block content %}
    <h3> Edit Test Details </h3>
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" name="edit_test" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}
{% block postscript %}
    <script type="application/javascript">
        $(function () {
            $('#id_tags').chosen({
                'placeholder_text_multiple': 'Select or add some tags...',
                'no_results_text': "Tag not found, press TAB key to add.",
            });

            $(".search-field").find("input").on("keydown", function (evt) {
                var stroke;
                stroke = (_ref = evt.which) != null ? _ref : evt.keyCode;
                if (stroke == 9) { // 9 = tab key
                    var o = new Option($(this).val(), $(this).val(), true, true);
			        $("#id_tags").append(o);
                    $('#id_tags').trigger('chosen:updated');
                    $('#id_tags').focus();
                    return false;
                }
            });
        });
    </script>
{% endblock %}
