{% extends "base.html" %}
{% load static from staticfiles %}
{% block add_css %}
    <link rel="stylesheet" href="{% static "chosen-bootstrap/chosen.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "simplemde/dist/simplemde.min.css" %}">
{% endblock %}
{% block add_styles %}
    .editor-toolbar, .editor-statusbar, .editor-preview-side, .CodeMirror {
    width: 70% !important;
    }
    .chosen-container.chosen-container-multi {
    width: 70% !important;
    }
{% endblock %}
{% block content %}
    <h3> Edit {{ product.name }}</h3>
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        {%  if jform %}
                <h4> JIRA </h4>
                <hr>
                {% include "dojo/form_fields.html" with form=jform %}
            {% endif %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}
{% block postscript %}
    <script type="application/javascript" src="{% static "chosen/chosen.jquery.min.js" %}"></script>
    <script type="application/javascript" src="{% static "simplemde/dist/simplemde.min.js" %}"></script>
    <script type="application/javascript">
        $(function () {
          $("textarea").each(function (index, elem) {

              if (elem.hasAttribute("required")) {
                  elem.removeAttribute("required");
                  elem.id = "req"
              }

              var mde = new SimpleMDE({
                  spellChecker: false,
                  element: elem,
                  autofocus: false,
                  forceSync: true,
                  toolbar: ["bold", "italic", "heading", "|",
                        "quote", "unordered-list", "ordered-list", "|",
                        "link", "image", "|",
                        "table", "horizontal-rule", "code", "|",
                        "guide"
                    ]
              });
              mde.render();
          });
            $('#id_product_manager').chosen({'placeholder_text_single': 'Select a Product Manager...'});
            $('#id_team_manager').chosen({'placeholder_text_single': 'Select a Team Manager...'});
            $('#id_technical_contact').chosen({'placeholder_text_single': 'Select a Technical Contact...'});
            $('#id_authorized_users').chosen({'placeholder_text_multiple': 'Select some users...'});
            $('#id_tags').chosen({
                'placeholder_text_multiple': 'Select or add some tags...',
                'no_results_text': "Tag not found, press TAB key to add.",
            });

            $(".search-field").find("input").on("keydown", function (evt) {
                var stroke;
                stroke = (_ref = evt.which) != null ? _ref : evt.keyCode;
                if (stroke == 9) { // 9 = tab key
                    $('#id_tags').append('<option value="' + $(this).val() + '" selected="selected">' + $(this).val() + '</option>');
                    $('#id_tags').trigger('chosen:updated');
                    $('#id_tags').focus();
                    return false;
                }
            });
        });
    </script>
{% endblock %}
