{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h3> Edit Tool Type Configuration</h3>
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=tform %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}
{% block postscript %}
{% endblock %}
