{% extends "base.html" %}
 {% block content %}
    {{ block.super }}
     <h3> Edit Notification Webhook </h3>
     <form class="form-horizontal" action="{%  url 'edit_notification_webhook' nwh.id %}" method="post">{% csrf_token %}
         {% include "dojo/form_fields.html" with form=form %}
         <div class="form-group">
             <div class="col-sm-offset-2 col-sm-10">
                 <input class="btn btn-primary" label="submit" type="submit" value="Submit and activate webhook"/>
                 <input class="btn btn-danger" type="submit" label="deactivate_webhook" name="deactivate_webhook" value="Deactivate Webhook" />
             </div>
         </div>
     </form>
 {% endblock %}
 