{% extends "base.html" %}
{% load event_tags %}
{% load static from staticfiles %}
{% block content %}
    <h3> Edit a Finding</h3>
    {% if temp %}

        <form class="form-horizontal" action="{% url 'edit_finding' finding.id %}" method="post">
            {% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            {%  if jform %}
                <h3> JIRA </h3>
                <hr>
                {% include "dojo/form_fields.html" with form=jform %}
            {% endif %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Add Another Finding"/>
                    <input type="submit" value="Finished"/>
                </div>
            </div>
        </form>
    {% else %}
        <form class="form-horizontal" action="{% url 'edit_finding' finding.id %}" method="post">
            {% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            {%  if jform %}
                {% include "dojo/form_fields.html" with form=jform %}
            {% endif %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" name="_Finished" type="submit" value="Finished"/>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}
{% block postscript %}
    <script type="application/javascript">
        $('#add_id_endpoints').attr('href', '/endpoints/{{ finding.test.engagement.product.id }}/add?_popup');
    </script>
    <script type="application/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
{% endblock %}
