{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
    {{ block.super }}
    <h3> Edit Note</h3><br></br>
    <form class="form-horizontal" action="{% url 'edit_note' note.id page objid %}" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input aria-label="Edit Note" class="btn btn-primary" name="edit_note" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}