{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'edit_scan_settings' pid sid %}" method="post" class="form-horizontal">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-warning" name="edit" type="submit" value="Edit"/>
                <input class="btn btn-danger" name="delete" type="submit" value="Delete"/>
            </div>
        </div>
    </form>
{% endblock %}