{% extends "base.html" %}
{% load authorization_tags %}
{% load static %}

{% block content %}
    {{ block.super }}
    <h3> Edit Regulation Configuration</h3>
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=tform %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit" name="submit"  id="submit" value="Submit">Update</button>
                {% if "dojo.delete_regulation"|has_configuration_permission:"superuser" %}
                <button class="btn btn-danger" type="submit" name="delete" id="delete" value="Delete">Delete</button>
                {% endif %}
            </div>
                </div>
    </form>
{% endblock %}
{% block postscript %}
    {{ block.super }}
{% endblock %}
