{% extends "base.html" %}
{% block content %}
    <h4> Active Engagements</h4>
    <br/>
    <div class="row">
        <div class="col-md-10">
            {% if products %}
                <div class="table-responsive panel panel-default">
                    <table id="engagements"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                        <tr>
                            <th class="prod_name">Product</th>
                            <th>Active Engagements</th>
                        </tr>

                        {% for p in products %}
                            <tr>
                                <td class="prod_name"><a href="{% url 'view_product' p.id %}">{{ p.name }}</a></td>
                                <td>
                                    {% for e in p.engagement_set.all %}
                                        {%  if e.active %}
                                        <a class="eng_link" href="{% url 'view_engagement' e.id %}">
                                            {% if e.name %}{{ e.name }} {% endif %}{{ e.target_start }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% include "dojo/paging_snippet.html" with page=products %}
            {% else %}
                <h5> No active engagements </h5>
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="filters panel panel-default">
                <div class="panel-heading">Actions</div>
                <div class="panel-body centered">
                    <a class="btn btn-sm btn-success" href="{% url 'new_eng' %}">
                        <i class="fa fa-plus"></i> New Engagement
                    </a>
                </div>
                <div class="panel-heading">Filters</div>
                <form method="get" class="panel-body">
                    {{ filtered.form.as_p }}
                    <div class="centered">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-filter"></i> Apply
                        </button><br/><br/>
                        <a href="{% url 'engagement' %}"> [Clear Filters] </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block postscript %}
    <script>
        $(function () {
            var availableTags = [
                {% for word in name_words %}
                    "{{word}}",
                {% endfor %}
            ];
            var engWords = [
                {% for word in eng_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_name").autocomplete({
                source: availableTags
            });
            $("#id_engagement__name").autocomplete({
                source: engWords
            });
        });
    </script>
{% endblock %}