{% extends "base.html" %}
{% load navigation_tags %}
{% load display_tags %}
{% load authorization_tags %}
{% block content %}
    {{ block.super }}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        Engagements
                        <div class="dropdown pull-right">
                            <button id="show-filters" data-toggle="collapse" data-target="#the-filters" class="btn btn-primary toggle-filters"> <i class="fa fa-filter"></i> <i class="caret"></i> </button>
                        </div>
                    </h3>
                </div>
                <div id="the-filters" class="is-filters panel-body collapse {% if filter_form.has_changed %}in{% endif %}">
                    {% include "dojo/filter_snippet.html" with form=filter_form %}
                </div>
            </div>
            {% if products %}

                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=products page_size=True %}
                </div>

                <div class="table-responsive panel panel-default">
                    <table id="engagements" class="tablesorter-bootstrap table table-condensed table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Product Type</th>
                            <th>Engagement Name</th>
                            {% if system_settings.enable_jira %}
                                <th>JIRA</th>
                            {% endif %}
                            <th>Status</th>
                            <th>Period</th>
                            <th>Lead</th>
                            <th>Tests</th>
                            <th>Engagement</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for p in products %}
                            {% for e in p.engagement_set.all %}
                                <tr>

                                    <td class="prod_name"><a href="{% url 'view_product' p.id %}">{{ p.name }}</a>
                                        {% include "dojo/snippets/tags.html" with tags=p.tags.alll %}
                                    </td>
                                    <td class="prod_name">
                                        <a href="{% url 'product_type_metrics' p.prod_type.id %}">{{ p.prod_type.name }}</a>
                                    </td>
                                    <td>
                                        <a class="eng_link" href="{% url 'view_engagement' e.id %}">{% if e.name %}{{ e.name }}{% endif %}</a>
                                        {% include "dojo/snippets/tags.html" with tags=e.tags.alll %}
                                        <br>
                                    </td>
                                    {% if system_settings.enable_jira %}
                                    <td class="text-center">
                                      {{ e|jira_project_tag }}
                                    </td>
                                    {% endif %}
                                    <td> {{ e.status }} </td>
                                    <td> {{ e.target_start }} - {{ e.target_end }}
                                        {% if e.is_overdue and e.active %}
                                        <sup><div class="tag-label warning-color">{{ e.target_end|overdue }} overdue</div></sup>
                                        {% endif %}
                                    </td>
                                    <td> {{ e.lead.first_name }} {{ e.lead.last_name }}</td>
                                    <td>
                                        <a class="eng_link"
                                           href="{% url 'view_engagement' e.id %}#tests">
                                            {{ e.test_count }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if p|has_object_permission:"Engagement_Add" %}
                                        <a class="btn btn-sm btn-success" href="{% url 'new_eng_for_prod' p.id %}">
                                                <i class="fa fa-plus"></i> Add
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=products page_size=True %}
                </div>
            {% else %}
            <div id="no_engagements"><h5 class="text-center"> No engagements found </h5></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block postscript %}
    {{ block.super }}

    <script>
        $(function () {
            var availableTags = [
                {% for word in name_words %}
                    "{{word}}",
                {% endfor %}
            ];
            var engWords = [
                {% for word in eng_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_name").autocomplete({
                source: availableTags
            });
            $("#id_engagement__name").autocomplete({
                source: engWords
            });
        });
    </script>
    <script>
        // DataTables setup
        $(document).ready(function() {
            date =  new Date().toISOString().slice(0, 10);
            var fileDated = 'Engagements_List_' + date;
            var buttonCommon = {
                exportOptions: {
                    columns: ':not(:eq(7))',
                    stripHtml: true,
                    stripNewlines: true,
                    trim: true,
                    orthogonal: 'export'
                },
                filename: fileDated,
                title: 'Engagements List'
            };

            // Mapping of table columns to objects for proper cleanup and data formatting
            var dojoTable = $('#engagements').DataTable({
                colReorder: true,
                columnDefs: [
                    {
                        "orderable": false,
                        "targets": [0]
                    },
                ],
                dom: 'Bfrtip',
                paging: false,
                info: false,
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':not(.noVis)'
                    },
                    $.extend( true, {}, buttonCommon, {
                        extend: 'copy'
                    }),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'excel',
                        autoFilter: true,
                        sheetName: 'Exported data',
                    }),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'csv'
                    }),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'pdf',
                        orientation: 'landscape',
                        pageSize: 'LETTER'
                    }),
                    $.extend( true, {}, buttonCommon, {
                        extend: 'print'
                    }),
                ],
            });
        });
    </script>
    {% include "dojo/filter_js_snippet.html" %}
{% endblock %}
