{% extends "base.html"%}
{% block content %}
    {{ block.super }}
    <h3> Add a JIRA Configuration Express </h3>
    <form class="form-horizontal" action="{% url 'express_jira' %}" method="post">{% csrf_token %}
     {% include "dojo/form_fields.html" with form=jform %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" title="Submit" type="submit" value="Submit"/>
            </div>
            <div class="col-sm-offset-2 col-sm-10"><br>
                <i>Finding severity mappings and other options can be edited after express configuration is complete.</i>
            </div>
        </div>
    </form>
{% endblock %}
