{% load static %}
<script type="application/javascript" src="{% static "chosen-js/chosen.jquery.min.js" %}"></script>
<script type="application/javascript">
    $(function () {
        var toggle=$('#show-filters')
        toggle.on('click', function () {
            $(this).toggleClass("dropup");
        })
    })

    {% if title_words %}
        var title_words = [
                {% for word in title_words %}
                    "{{word}}",
                {% endfor %}
            ];
            {% comment %}ideally we use the form.prefix but then we have the trailing dash... django templates are hard{% endcomment %}
            $("#id_title, #id_finding-title").autocomplete({
                source: title_words
            });
    {% endif %}

    {% if component_words %}
            var component_words = [
                {% for word in component_words %}
                    "{{word}}",
                {% endfor %}
            ];

            $("#id_component_name, #id_finding-component_name").autocomplete({
                source: component_words
            });
    {% endif %}
</script>