{% load navigation_tags %}
{% load event_tags %}
{% load static %}
{% block add_css %}
    <link rel="stylesheet" href="{% static "chosen-bootstrap/chosen.bootstrap.min.css" %}">
{% endblock %}
{% block css %}
    {{ form.media.css }}
{% endblock %}
{% block js %}    
    {{ form.media.js }}
{% endblock %}
<div class="filter-set">
    <form method="get" {% if form_id %}id="{{form_id}}"{% endif %} class="{{ request.path|slugify }}-filters form-inline dojo-filter-set">
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.errors }}
                <label for="{{ field.auto_id }}" style="display: block;">{{ field.label }}</label>
                {% with placeholder="placeholder:"|add:field.label %}
                    {{ field|addcss:"class:form-control input-sm"|addcss:placeholder }}
                {% endwith %}
            </div>
        {% endfor %}
        {% if submit == 'report' %}
            {% query_string_as_hidden %}
            <div class="inline-block" style="vertical-align: text-top">
                <button class="btn btn-secondary" name="_generate" type="submit">
                    <i class="fa fa-file-text-o"></i> Generate Report
                </button>
            </div>
        {% else %}
            <div class="inline-block" style="vertical-align: text-top">
                <button id="apply" class="btn btn-sm btn-secondary">
                    <i class="fa fa-filter"></i> Apply Filters
                </button>
                &nbsp;
                {% if clear_js %}
                    <a href="#{{form_id}}" id="clear_js" class="clear centered"> [Clear Filters] </a>
                {% elif clear_link %}
                    <a href="{{ clear_link }}" id="clear" class="clear centered"> [Clear Filters] </a>
                {% else %}
                    <a href="{{ request.path }}" id="clear" class="clear centered"> [Clear Filters] </a>
                {% endif %}
                {% if restart_link %}
                    <a href="{{ restart_link }}" id="clear" class="clear centered"> [Restart] </a>
                {% endif %}
            </div>
        {% endif %}
    </form>

</div>
