{% load navigation_tags %}
{% load static %}
<div class="clearfix">
    {% include "dojo/paging_snippet.html" with page=finding_list prefix=prefix page_size=True %}
</div>
<table id="{{prefix}}_findings_table" class="table table-striped table-hover centered no-bottom-margin">
    <tr>
        <th>Relationship</th>
        <th>Severity</th>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th>Test</th>
        <th>Engagement</th>
        <th>Product</th>
        <th>CWE</th>
        <th>CVE</th>
        <th>File</th>
        {% if system_settings.enable_jira %}
            <th>JIRA</th>
        {% endif %}
        <th>Action</th>
    </tr>

    {% if finding_first_related %}
        {% include "dojo/finding_related_row.html" with similar_finding=finding_first_related finding_context=finding %}
    {% endif %}

    {% for similar_finding in finding_list %}
        {% include "dojo/finding_related_row.html" with similar_finding=similar_finding finding_context=finding %}
    {% endfor %}
</table>