{% extends "base.html" %}
{% block content %}
    {% load event_tags %}
    <h3>= {{ findings.0.test.engagement.product.name }} =</h3>
    <br>
    {% for find in findings %}
        <h4>== Finding {{ forloop.counter | pad_zeroes }}: {{ find.title | nice_title }} ==</h4>
        <br>
        <p><b>=== Severity: ===</b>
            <br>
<span style="color:
        {% if find.severity == 'Critical' %} Red
        {% elif find.severity == 'High' %} Magenta
        {% elif find.severity == 'Medium' %} Orange
        {% elif find.severity == 'Low' %} #00CC00
        {% elif find.severity == 'Info' %} Blue {% endif %}">
{{ find.severity }} ({{ find.numerical_severity }})
</span>
        </p>
        <p><b>=== Description / Exploit: ===</b>
            </br>
            {{ find.description|linebreaksbr }}
        </p>
        <p><b>=== Impact: ===</b>
            <br>
            {{ find.impact|linebreaksbr }}
        </p>
        <p><b>=== Systems Vulnerable: ===</b>
            <br>
            {{ find.endpoint|linebreaksbr }}
        </p>
        <p><b>=== Suggested Mitigation: ===</b>
            <br>
            {{ find.mitigation|linebreaksbr }}
        </p>
        <p><b>=== Further References: ===</b>
            <br>
            {{ find.references|linebreaksbr }}
        </p><br>
    {% endfor %}
{% endblock %}
