<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones de Seguridad</title>
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism.css" rel="stylesheet" type="text/css" />
    {% load static %}
    {% block dojo_css %}
            <link rel="stylesheet" href="{% static "dojo/css/dojo.css" %}">
    {% endblock %}
    
</head>
<body>
    <div id="id_recommendation_content">
        <h5>IA Recommendations</h5>
        <ul>
            {%for recommendation in recommendations%}
                <li class="recommendation-item">{{recommendation}}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div id="id_mitigations_contect">
        <h5>Mitigations</h5>
        {% for mitigation in mitigations%}
            <pre><code class="language-css">{{mitigation}}</code></pre>
        {% endfor %}
    </div>

    <div id="id_files_to_fix_content">
        <h5>files to fix</h5>
        <ul>
            {% for file in files_to_fix %}
                <li class="file-path">{{file}}</li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    
    <script>
        new ClipboardJS('.copy-btn');
        Prism.highlightAll();
    </script>

</body>
</html>