{% raw %}
<i class="fa {{ icon }} has-popover {{ color }}"
   title="<i class='fa {{ icon }}'></i> <b>Import Settings</b>"
   data-trigger="hover"
   data-container="body"
   data-html="true"
   data-placement="bottom"
   data-content="
       <b>ID:</b> {{ test_import.id }}<br/>
       <b>Active:</b> {{ test_import.import_settings.active|default_if_none:'' }}<br/>
       <b>Verified:</b> {{ test_import.import_settings.verified|default_if_none:'' }}<br/>
       <b>Minimum Severity:</b> {{ test_import.import_settings.minimum_severity|default_if_none:'' }}<br/>
       <b>Close Old Findings:</b> {{ test_import.import_settings.close_old_findings|default_if_none:'' }}<br/>
       <b>Push to jira:</b> {{ test_import.import_settings.push_to_jira|default_if_none:'' }}<br/>
       <b>Tags:</b> {{ test_import.import_settings.tags|default_if_none:'' }}<br/>
       <b>Endpoints:</b> {{ test_import.import_settings.endpoints|default:test_import.import_settings.endpoint|default_if_none:'' }}<br/>
   "
></i>
{% endraw %}