{% extends "base.html" %}
{% load navigation_tags %}
{% load authorization_tags %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        JIRA Instances
                        <div class="dropdown pull-right">
                            {% if "dojo.add_jira_instance"|has_configuration_permission %}
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-expanded="true">
                                <span class="fa fa-wrench"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a href="{% url 'express_jira' %}">
                                        <i class="fa fa-plus"></i> Add Jira Instance (Express)
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="{% url 'add_jira' %}">
                                        <i class="fa fa-plus"></i> Add Jira Instance
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </h3>
                </div>

            </div>
            {% if jira_instances %}

                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=jira_instances page_size=True %}
                </div>
                <div class="panel panel-default table-responsive">
                    <table id="products"
                           class="tablesorter-bootstrap table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for jira_instance in jira_instances %}
                            <tr>
                                <td>
                                    {% if "dojo.change_jira_instance"|has_configuration_permission %}
                                    <a href="{% url 'edit_jira' jira_instance.id %}"><b>{{ jira_instance.configuration_name }}</b></a>
                                    {% else %}
                                    {{ jira_instance.configuration_name }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ jira_instance.url }}">{{ jira_instance.url }}
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                        {{ jira_instance.username }}
                                </td>
                                <td>
                                    {% if "dojo.change_jira_instance"|has_configuration_permission %}
                                    <a href="{% url 'edit_jira' jira_instance.id %}" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil"></i>
                                        Edit
                                    </a>
                                    {% endif %}
                                    {% if "dojo.delete_jira_instance"|has_configuration_permission %}
                                    <a href="{% url 'delete_jira' jira_instance.id %}" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash" style="color:white"></i>
                                        Delete
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=jira_instances page_size=True %}
                </div>
            {% else %}
                <p class="text-center">No JIRA instances found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block postscript %}
    {{ block.super }}
    {% include "dojo/filter_js_snippet.html" %}
{% endblock %}
