{% extends "base.html" %}
{% block content %}
    <form class="form-horizontal" action="{% url 'launch_va' pid %}" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p>
                    By clicking submit you agree and understand that there is a risk for degredation of service or data
                    corruption when launching this vulnerability scanner. It is not advised to launch this tool against
                    any production data. For production vulnerability scans please contact product security. This tool
                    should only be used in prelimary enviorments that can afford to be degredated and possibly
                    corrupted.
                </p>
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}
