{% extends "base.html" %}
{% block content %}
    <h3>Login</h3>
    <hr/>
    {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
        <div class="alert alert-danger" role="alert">
            {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors
                below.{% endif %}
        </div>
    {% endif %}

    {% if form.non_field_errors or form.this_is_the_login_form.errors %}
        {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <form class="form-horizontal" method="POST"> {% csrf_token %}
        <fieldset class="col-md-offset-3 col-md-6">
            {% include "dojo/form_fields.html" with form=form %}
            <!-- Button -->
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-4" id="toggleBox" onclick="togglePassVisibility()">
                    <i class="fa fa-eye"></i>
                    <span><b>Show Password</b></span>
                </div>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-1">
                            <button class="btn btn-success">Login</button>
                    </div>
                <div class="col-sm-offset-1 col-sm-3">
                    <button class="btn btn-success" type="button">
                        {% if GOOGLE_ENABLED == True %}
                            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)">Login with Google</a>
                        {% else %}
                            <a href="https://docs.google.com/document/d/1NaynLZ1EOQuVgdnHjG4h9fp7XVGHpB9qqtPrapknOw0/edit?usp=sharing style=" style="color: rgb(255,255,255)">Login with Google</a>
                        {% endif %}
                    </button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
                    <button class="btn btn-success" type="button">
                        {% if OKTA_ENABLED == True %}
                            <a href="{% url 'social:begin' 'okta-oauth2' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)">Login with OKTA</a>
                        {% else %}
                            <a href="https://docs.google.com/document/d/1NaynLZ1EOQuVgdnHjG4h9fp7XVGHpB9qqtPrapknOw0/edit?usp=sharing" style="color: rgb(255,255,255)">Login with OKTA</a>
                        {% endif %}
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}