{% extends "base.html" %}
{% load event_tags %}
{% load display_tags %}
{% load static %}
{% block add_styles %}
    {{ block.super }}
    .tabs-below > .nav-tabs,
    .tabs-right > .nav-tabs,
    .tabs-left > .nav-tabs {
    border-bottom: 0;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
    display: none;
    }

    .tab-content > .active,
    .pill-content > .active {
    display: block;
    }

    .tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
    }

    .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
    }

    .tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    }

    .tabs-below > .nav-tabs > li > a:hover,
    .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
    }

    .tabs-below > .nav-tabs > .active > a,
    .tabs-below > .nav-tabs > .active > a:hover,
    .tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
    }

    .tabs-left > .nav-tabs > li,
    .tabs-right > .nav-tabs > li {
    float: none;
    }

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    }

    .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
    }

    .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    }

    .tabs-left > .nav-tabs > li > a:hover,
    .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
    }

    .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
    }

    .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    }

    .tabs-right > .nav-tabs > li > a:hover,
    .tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
    }

    .tabs-right > .nav-tabs .active > a,
    .tabs-right > .nav-tabs .active > a:hover,
    .tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
    }

    #opened_per_month_2, #active_per_month, #accepted_per_month_2, #opened_per_week_2, #accepted_per_week_2 {height: 300px}
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading tight">
                <div class="clearfix">
                    <h3 {% if not critical_prods %}class="has-filters" {% endif %}>
                        {{ name }}
                        {% comment %} {% if not critical_prods %}
                            <div class="dropdown pull-right"></div>
                        {% endif %} {% endcomment %}
                        {% if not critical_prods %}
                            <div class="dropdown pull-right">
                                <button id="show-filters" data-toggle="collapse" data-target="#the-filters" class="btn btn-primary toggle-filters"> <i class="fa fa-filter"></i> <i class="caret"></i> </button>
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" label="view_selector" aria-label="view_selector" aria-expanded="true">
                                    <span class="fa fa-bars"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a href="{% url 'metrics_product_type' %}?type=Finding">
                                            <i class="fa fa-file-text-o"></i> Measures Findings
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{% url 'metrics_product_type' %}?type=Endpoint">
                                            <i class="fa fa-file-text-o"></i> Measure Affected Endpoints
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </h3>

                </div>
            </div>
            <div id="the-filters" class="is-filters panel-body collapse">
                {% include "dojo/filter_snippet.html" with form=findings.form clear_link="/metrics/product/type" %}
            </div>
        </div>
    </div>

    <div class="row metric-data">
        <div class="col-md-12">
            {% if critical_prods %}
                <div class="row">
                    {% for c_prod in critical_prods %}
                        <div class='col-md-4' align="center">
                            <div><b>{{ c_prod.name }} </b><br><br></div>
                            <div style="display:inline-block;" class="gaugeloop" name="{{ c_prod.name }}"
                                 id="{{ c_prod.name }}{{ c_prod.id }}" class="200x160px"
                                 start="{{ c_prod.calc_health }}"></div>
                            <div>
                                {% if c_prod.critical_present and c_prod.high_present %}
                                    <p> {{ c_prod.name }} is affected by <b>both</b> critical and high severity
                                        vulnerabilities.</p>
                                    <p>
                                        <a href="{{ url_prefix }}/finding/open?title=&date=&severity=Critical&mitigated_by=&last_reviewed_by=&last_reviewed=&test__engagement__product__prod_type={{ c_prod.id }}&o=numerical_severity&page_size=25">Critical
                                            Severity Vulnerabilities</a></p>
                                    <p>
                                        <a href="{{ url_prefix }}/finding/open?title=&date=&severity=High&mitigated_by=&last_reviewed_by=&last_reviewed=&test__engagement__product__prod_type={{ c_prod.id }}&o=numerical_severity&page_size=25">High
                                            Severity Vulnerabilities</a></p>
                                {% elif c_prod.critical_present %}
                                    <p> {{ c_prod.name }} is affected by critical vulnerabilities. </p>
                                    <p>
                                        <a href="{{ url_prefix }}/finding/open?title=&date=&severity=Critical&mitigated_by=&last_reviewed_by=&last_reviewed=&test__engagement__product__prod_type={{ c_prod.id }}&o=numerical_severity&page_size=25">Critical
                                            Severity Vulnerabilities</a></p>
                                {% elif c_prod.high_present %}
                                    <p> {{ c_prod.name }} is affected by high severity vulnerabilities.</p>
                                    <p>
                                        <a href="{{ url_prefix }}/finding/open?title=&date=&severity=High&mitigated_by=&last_reviewed_by=&last_reviewed=&test__engagement__product__prod_type={{ c_prod.id }}&o=numerical_severity&page_size=25">High
                                            Severity Vulnerabilities</a></p>
                                {% endif %}
                                <p>
                                    <a href='{{ url_prefix }}/metrics/product/type?date=2&test__engagement__product__prod_type={{ c_prod.id }}&status='>
                                        Full Metrics</a></p></div>
                            <br>
                        </div>
                    {% endfor %}
                </div>
            {% elif name == "Critical Product Metrics" %}
                <div class="row">
                    <div class="col-lg-6">
                        <h3><b> No Critical Products registered</b></h3>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                {% if opened_per_month %}
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Open Bug Count by Month
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="opened_per_month_2"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                {% endif %}
                {% if active_per_month %}
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Active Bug Count by Month
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="active_per_month"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                {% endif %}

                {% if accepted_per_month %}
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Risk Accepted Bug Count by Month
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="accepted_per_month_2"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                {% endif %}
                {% if  not critical_prods %}
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Open Bug Count by Week
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="opened_per_week_2"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Risk Accepted Bug Count by Week
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="accepted_per_week_2"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="row" id="metric_counts">
                        <div class="col-md-12">
                            <h3>Metric Counts</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="tabbable tabs-left">
                                <ul class="nav nav-tabs">
                                    {% if top_ten_products %}
                                        <li class="active"><a data-toggle="tab" href="#tabs-1">Top
                                            10 Products <br/> by bug severity
                                        </a></li> {% endif %}
                                    <li><a data-toggle="tab" href="#tabs-2">Detail Breakdown</a></li>
                                    <li><a data-toggle="tab" href="#tabs-3">Opened Findings</a></li>
                                    <li><a data-toggle="tab" href="#tabs-4">Accepted Findings</a></li>
                                    <li><a data-toggle="tab" href="#tabs-5">Closed Findings</a></li>
                                    <li><a data-toggle="tab" href="#tabs-6">Trending Open <br/>
                                        Bug Count
                                    </a></li>
                                    <li><a data-toggle="tab" href="#tabs-7">Trending Accepted <br/>
                                        Bug Count
                                    </a></li>
                                    <li><a data-toggle="tab" href="#tabs-8">Age of Issues</a></li>
                                </ul>
                                <div class="tab-content">
                                    {% if top_ten_products %}
                                        <div class="table-responsive tab-pane active" id="tabs-1">
                                            <table
                                                    class="table table-bordered table-condensed table-striped table-400">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Total</th>
                                                </tr>
                                                {% for t in top_ten_products %}
                                                    <tr>
                                                        <td><a href="{% url 'view_product' t.id %}">{{ t.name }}</a>
                                                        </td>
                                                        <td>{{ t.critical|default_if_none:0 }}</td>
                                                        <td>{{ t.high|default_if_none:0 }}</td>
                                                        <td>{{ t.medium|default_if_none:0 }}</td>
                                                        <td>{{ t.low|default_if_none:0 }}</td>
                                                        <td>{{ t.total|default_if_none:0 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    {% endif %}
                                    <div class="tab-pane table-responsive" id="tabs-2">
                                        <table class="table table-bordered table-condensed table-striped table-600">
                                            <tr>
                                                <th class="nowrap">Team</th>
                                                <th class="">Product</th>
                                                <th>Severity</th>
                                                <th>Description</th>
                                                <th class="nowrap">Days<br/>Open</th>
                                                <th class="nowrap">Status</th>
                                                <th class="nowrap">Reporter</th>

                                            </tr>
                                            {% for finding in findings.qs %}
                                                <tr>
                                                    <td>{{ finding.test.engagement.product.prod_type.name }}</td>
                                                    <td>
                                        <span title="{{ finding.test.engagement.product.name }}">
                                            {{ finding.test.engagement.product.name|truncatechars_html:20 }}
                                        </span>
                                                    </td>
                                                    <td>{{ finding.severity_display }}</td>
                                                    <td><a href="{% url 'view_finding' finding.id %}"
                                                           title="{{ finding.title }}">{{ finding.title|truncatechars_html:20 }}</a>
                                                    </td>
                                                    <td>{{ finding.age }}</td>
                                                    <td>{{ finding.status }}</td>
                                                    <td>{{ finding.reporter }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tabs-3">
                                        <div class="table-responsive">
                                            <h4>Opened During Period</h4>
                                            <table
                                                    class="table table-bordered table-condensed table-striped table-600">
                                                <tr>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Info</th>
                                                    <th>Total</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ in_period_counts.Critical }}</td>
                                                    <td>{{ in_period_counts.High }}</td>
                                                    <td>{{ in_period_counts.Medium }}</td>
                                                    <td>{{ in_period_counts.Low }}</td>
                                                    <td>{{ in_period_counts.Info }}</td>
                                                    <td>{{ in_period_counts.Total }}</td>
                                                </tr>
                                            </table>
                                            <table
                                                    class="table table-bordered table-condensed table-striped table-600">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Info</th>
                                                    <th>Total</th>

                                                </tr>
                                                {% for key, value in in_period_details.items %}
                                                    <tr>
                                                        <td><a href="{{ value.path }}">{{ key }}</a></td>
                                                        <td>{{ value.Critical }}</td>
                                                        <td>{{ value.High }}</td>
                                                        <td>{{ value.Medium }}</td>
                                                        <td>{{ value.Low }}</td>
                                                        <td>{{ value.Info }}</td>
                                                        <td>{{ value.Total }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-4">
                                        <div class="table-responsive">
                                            <h4>Accepted in Period</h4>
                                            <table
                                                    class="table table-bordered table-condensed table-striped table-600">
                                                <tr>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Info</th>
                                                    <th>Total</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ accepted_in_period_counts.critical|default_if_none:0 }}</td>
                                                    <td>{{ accepted_in_period_counts.high|default_if_none:0 }}</td>
                                                    <td>{{ accepted_in_period_counts.medium|default_if_none:0 }}</td>
                                                    <td>{{ accepted_in_period_counts.low|default_if_none:0 }}</td>
                                                    <td>{{ accepted_in_period_counts.info|default_if_none:0 }}</td>
                                                    <td>{{ accepted_in_period_counts.total|default_if_none:0 }}</td>
                                                </tr>
                                            </table>
                                            <table
                                                    class="table table-bordered table-condensed table-striped table-600">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Info</th>
                                                    <th>Total</th>

                                                </tr>
                                                {% for key, value in accepted_in_period_details.items %}
                                                    <tr>
                                                        <td><a href="{{ value.path }}">{{ key }}</a></td>
                                                        <td>{{ value.Critical }}</td>
                                                        <td>{{ value.High }}</td>
                                                        <td>{{ value.Medium }}</td>
                                                        <td>{{ value.Low }}</td>
                                                        <td>{{ value.Info }}</td>
                                                        <td>{{ value.Total }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>


                                    </div>
                                    <div class="tab-pane" id="tabs-5">
                                        <div class="table-responsive">
                                            <h4>Closed in Period</h4>
                                            <table
                                                    class="table table-bordered table-condensed table-striped table-600">
                                                <tr>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Info</th>
                                                    <th>Total</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ closed_in_period_counts.Critical }}</td>
                                                    <td>{{ closed_in_period_counts.High }}</td>
                                                    <td>{{ closed_in_period_counts.Medium }}</td>
                                                    <td>{{ closed_in_period_counts.Low }}</td>
                                                    <td>{{ closed_in_period_counts.Info }}</td>
                                                    <td>{{ closed_in_period_counts.Total }}</td>
                                                </tr>
                                            </table>
                                            <table
                                                    class="table table-bordered table-condensed table-striped table-600">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Info</th>
                                                    <th>Total</th>

                                                </tr>
                                                {% for key, value in closed_in_period_details.items %}
                                                    <tr>
                                                        <td><a href="{{ value.path }}">{{ key }}</a></td>
                                                        <td>{{ value.Critical }}</td>
                                                        <td>{{ value.High }}</td>
                                                        <td>{{ value.Medium }}</td>
                                                        <td>{{ value.Low }}</td>
                                                        <td>{{ value.Info }}</td>
                                                        <td>{{ value.Total }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-6">
                                        <div class="metric-half table-responsive">
                                            <table class="table table-bordered table-condensed table-striped">
                                                <tr>
                                                    <th>Weekly</th>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Total</th>
                                                    <th>Closed*</th>
                                                </tr>
                                                {% for week in opened_per_week|slice:'1:' %}
                                                    <tr>
                                                        <td>{{ week.1|date:"m-d-Y" }}</td>
                                                        <td>{{ week.2 }}</td>
                                                        <td>{{ week.3 }}</td>
                                                        <td>{{ week.4 }}</td>
                                                        <td>{{ week.5 }}</td>
                                                        <td>{{ week.6 }}</td>
                                                        <td>{{ week.7 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div class="metric-half table-responsive">
                                            <table class="table table-bordered table-condensed table-striped">
                                                <tr>
                                                    <th>Monthly</th>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Total</th>
                                                    <th>Closed*</th>
                                                </tr>
                                                {% for month in opened_per_month|slice:'1:' %}
                                                    <tr>
                                                        <td>{{ month.1|date:"m-Y" }}</td>
                                                        <td>{{ month.2 }}</td>
                                                        <td>{{ month.3 }}</td>
                                                        <td>{{ month.4 }}</td>
                                                        <td>{{ month.5 }}</td>
                                                        <td>{{ month.6 }}</td>
                                                        <td>{{ month.7 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <p>*Closed findings may have been opened outside of requested period.</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-7">
                                        <div class="metric-half table-responsive">
                                            <table class="table table-bordered table-condensed table-striped">
                                                <tr>
                                                    <th>By Week</th>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Total</th>
                                                </tr>
                                                {% for week in accepted_per_week|slice:'1:' %}
                                                    <tr>
                                                        <td>{{ week.1|date:"m-d-Y" }}</td>
                                                        <td>{{ week.2 }}</td>
                                                        <td>{{ week.3 }}</td>
                                                        <td>{{ week.4 }}</td>
                                                        <td>{{ week.5 }}</td>
                                                        <td>{{ week.6 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div class="metric-half table-responsive">
                                            <table class="table table-bordered table-condensed table-striped">
                                                <tr>
                                                    <th>By Month</th>
                                                    <th>Critical</th>
                                                    <th>High</th>
                                                    <th>Medium</th>
                                                    <th>Low</th>
                                                    <th>Total</th>
                                                </tr>
                                                {% for month in accepted_per_month|slice:'1:' %}
                                                    <tr>
                                                        <td>{{ month.1|date:"m-Y" }}</td>
                                                        <td>{{ month.2 }}</td>
                                                        <td>{{ month.3 }}</td>
                                                        <td>{{ month.4 }}</td>
                                                        <td>{{ month.5 }}</td>
                                                        <td>{{ month.6 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane table-responsive" id="tabs-8">
                                        <table
                                                class="table table-bordered table-condensed table-striped table-400">
                                            <tr>
                                                <th>Days</th>
                                                <th>Bug Count</th>
                                            </tr>
                                            <tr>
                                                <td>0 - 30 Days</td>
                                                <td>{{ age_detail.0 }}</td>
                                            </tr>
                                            <tr>
                                                <td>31 - 60 Days</td>
                                                <td>{{ age_detail.1 }}</td>
                                            </tr>
                                            <tr>
                                                <td>61 - 90 Days</td>
                                                <td>{{ age_detail.2 }}</td>
                                            </tr>
                                            <tr>
                                                <td>91+ Days</td>
                                                <td>{{ age_detail.3 }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
    <br/>
    <br/>
    <br/>
{% endblock %}
{% block postscript %}
    {{ block.super }}
    <!-- Flot Charts JavaScript -->
    <script src="{% static "flot/excanvas.min.js" %}"></script>
    <script src="{% static "flot/jquery.flot.js" %}"></script>
    <script src="{% static "flot/jquery.flot.pie.js" %}"></script>
    <script src="{% static "flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "flot/jquery.flot.time.js" %}"></script>
    <script src="{% static "jquery.flot.tooltip/js/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "flot/jquery.flot.stack.js" %}"></script>
    {% include "dojo/filter_js_snippet.html" %}
    <script src="{% static "justgage/raphael.min.js" %}"></script>
    <script src="{% static "justgage/justgage.js" %}"></script>
    {% block metrics %}
        <script src="{% static "dojo/js/metrics.js" %}"></script>
    {% endblock metrics %}
    <script>
        $('.gaugeloop').each(function () {
            j_obj = $(this);
            var g_id = j_obj.attr('id');
            var g_title = j_obj.attr('name');
            var g_start = j_obj.attr('start');
            var g = new JustGage({
                id: g_id,
                value: g_start,
                levelColors: ["#FF0000", "#F9C802", "#A9D70B"],
                min: 0,
                max: 100,
            });
        });
        $(function () {
            {% if not show_pt_filter %}
                $('#id_test__engagement__product__prod_type').parents('p').remove();
            {% endif %}
            
            var critical = [];
            var high = [];
            var medium = [];
            var low = [];
            {% for month in opened_per_month|slice:'1:' %}
                critical.push([{{ month.0 }}, {{ month.2 }}]);
                high.push([{{ month.0 }}, {{ month.3 }}]);
                medium.push([{{ month.0 }}, {{ month.4 }}]);
                low.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            {% if opened_per_month %}
                opened_per_month_2(critical, high, medium, low);
            {% endif %}
            
            critical = [];
            high = [];
            medium = [];
            low = [];
            {% for month in active_per_month|slice:'1:' %}
                critical.push([{{ month.0 }}, {{ month.2 }}]);
                high.push([{{ month.0 }}, {{ month.3 }}]);
                medium.push([{{ month.0 }}, {{ month.4 }}]);
                low.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            {% if active_per_month %}
                active_per_month(critical, high, medium, low);
            {% endif %}
            
            critical = [];
            high = [];
            medium = [];
            low = [];
            {% for month in accepted_per_month|slice:'1:' %}
                critical.push([{{ month.0 }}, {{ month.2 }}]);
                high.push([{{ month.0 }}, {{ month.3 }}]);
                medium.push([{{ month.0 }}, {{ month.4 }}]);
                low.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            {%  if accepted_per_month %}
                accepted_per_month_2(critical, high, medium, low);
            {%  endif %}

            critical = [];
            high = [];
            medium = [];
            low = [];
            var critical1 = [];
            var high1 = [];
            var medium1 = [];
            var low1 = [];
            {% for month in opened_per_week|slice:'1:' %}
                critical.push([{{ month.0 }}, {{ month.2 }}]);
                high.push([{{ month.0 }}, {{ month.3 }}]);
                medium.push([{{ month.0 }}, {{ month.4 }}]);
                low.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            {% for month in accepted_per_week|slice:'1:' %}
                critical1.push([{{ month.0 }}, {{ month.2 }}]);
                high1.push([{{ month.0 }}, {{ month.3 }}]);
                medium1.push([{{ month.0 }}, {{ month.4 }}]);
                low1.push([{{ month.0 }}, {{ month.5 }}]);
            {% endfor %}
            {% if not critical_prods %}
                opened_per_week_2(critical, high, medium, low);
                accepted_per_week_2(critical1, high1, medium1, low1);
            {% endif %}
        });
    </script>
{% endblock %}
