{% extends "base.html" %}
{% load authorization_tags %}
{% load i18n %} {% load static %}
{% block add_styles %}
    .embed-responsive .embed-responsive-item,
    .embed-responsive iframe { height: 100%;}
{% endblock %}
{% block content %}
{{block.super }}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        allow="local-network-access *"
        src="{{ mf_frontend_defect_dojo_url }}{{ mf_frontend_defect_dojo_path }}{{ mf_frontend_defect_dojo_params }}"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
    <hr />
{% endblock %}
