{% extends "base.html" %}
{% block add_styles %}
    .chosen-container.chosen-container-multi {
    width: 70% !important;
    }
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3> Register new Product Type Members </h3>
    <form class="form-horizontal" action="{%  url 'add_product_type_member_user' user.id %}" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}
