{% extends "base.html" %}
{% load i18n %}
{% block add_styles %}
.chosen-container.chosen-container-multi {
width: 70% !important;
}
{% endblock %}
{% block content %}
<h3>{{ name }}</h3>
<form class="form-horizontal" action="{%  url 'add_product_type_group' pt.id %}" method="post">{% csrf_token %}
  {% include "dojo/form_fields.html" with form=form %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}"/>
    </div>
  </div>
</form>
{% endblock %}
