{% extends "base.html" %}
{% block content %}
    <h3> Register a new Product Type </h3>
    <form class="form-horizontal" action="{%  url 'add_product_type' %}" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}
{% block postscript %}
    <script type="application/javascript">
        $(function () {
            $('#id_authorized_users').chosen({'placeholder_text_multiple': 'Select some product types...'});
        });
    </script>
{% endblock %}

