{% extends "base.html" %}
{% load static from staticfiles %}
{% block add_css %}
    <link rel="stylesheet" href="{% static "chosen-bootstrap/chosen.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "simplemde/dist/simplemde.min.css" %}">
{% endblock %}
{% block add_styles %}
    .editor-toolbar, .editor-statusbar, .editor-preview-side, .CodeMirror {
    width: 70% !important;
    }
    .chosen-container.chosen-container-multi {
    width: 70% !important;
    }
{% endblock %}
{% block content %}
    <h3> New Engagement </h3>
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Done"/>
            </div>
        </div>
    </form>
{% endblock %}
