{% load i18n %}

{% if page.paginator.count > 0 %}
{% load navigation_tags %}
{% with page_param=prefix|add:'page' %}
{% with page_size_param=prefix|add:'page_size' %}
<div class="pull-left pagination  pagination-sm">
    {% blocktrans with start_index=page.start_index end_index=page.end_index count=page.paginator.count %}
    Showing entries {{ start_index }} to {{ end_index }} of {{ count }}
    {% endblocktrans %}
</div>

<nav class="pull-right">
    <ul class="pagination pagination-sm">
            {% if page.has_other_pages %}
                {% for num in page|paginate:5 %}
                    <li {% if num.is_current %}class="active"{% endif %}>
                        {% if num.page_number %}
                            <a href="?{% url_replace request page_param num.page_number %}"> {{ num.display }}</a>
                        {% else %}
                            <a>{{ num.display }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
            {% if page_size %}
                <li>
                    <!-- Split button -->
                    &nbsp;
                    <div class="btn-group">
                        <button type="button" class="btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "Page Size" %}
                            <span class="caret"></span>
                            <span class="sr-only">{% trans "Toggle Dropdown" %}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="?{% url_replace request page_size_param 25 %}">25</a></li>
                            <li><a href="?{% url_replace request page_size_param 50 %}">50</a></li>
                            <li><a href="?{% url_replace request page_size_param 75 %}">75</a></li>
                            <li><a href="?{% url_replace request page_size_param 100 %}">100</a></li>
                            <li><a href="?{% url_replace request page_size_param 150 %}">150</a></li>
                            {% if page.paginator.count > 500 %}
                                <li><a href="?{% url_replace request page_size_param 500 %}">500</a></li>
                            {% endif %}
                            <li><a href="?{% url_replace request page_size_param page.paginator.count %}">{% trans "All" %}</a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endwith %}
{% endwith %}
{% endif %}
