{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  {{ block.super }}
<h3>{% translate 'Password reset' %}</h3>
<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form class="form-horizontal" method="POST"> {% csrf_token %}
  <fieldset class="col-md-offset-3 col-md-6">
    {% include "dojo/form_fields.html" with form=form %}
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-1">
        <button id="reset-password" class="btn btn-success">{% translate 'Reset my password' %}</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}