{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
{{ block.super }}
<h3>{% translate 'Password reset' %}</h3>
<div class="col-md-offset-3 col-md-6">
    <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
    <div class="col-sm-offset-1 col-sm-1">
        <button class="btn btn-success" type="button">
            <a id="reset-password" href="{{ login_url }}" style="color: rgb(255,255,255)">{% translate 'Log in' %}</a>
        </button>
    </div>
</div>
{% endblock %}