{% extends "base.html" %}
{% load navigation_tags %}
{% load display_tags %}
{% load get_system_setting %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        Product List
                        <div class="dropdown pull-right">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-expanded="true">
                                <span class="fa fa-wrench"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                aria-labelledby="dropdownMenu1">
                                {% if request.user.is_staff %}
                                    <li role="presentation">
                                        <a href="{% url 'new_product' %}">
                                            <i class="fa fa-plus"></i> Add Product
                                        </a>
                                    </li>
                                {% endif %}

                                <li role="presentation">
                                    <a href="{% url 'product_findings_report' %}">
                                        <i class="fa fa-file-text-o"></i> Product Report
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </h3>
                </div>
                <div id="the-filters" class="panel-body collapse {% if request.META.QUERY_STRING %}in{% endif %}">
                    {% include "dojo/filter_snippet.html" with form=prods.form %}
                </div>
            </div>
            {% if prod_list %}
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=prod_list page_size=True %}
                </div>
                <div class="panel panel-default table-responsive">
                    <table id="products"
                           class="tablesorter-bootstrap table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>{% dojo_sort request 'Product' 'name' 'asc' %}</th>
                            <th> Criticality</th>
                            <th> Metadata
                            <th> Engagement</th>
                            {% if "enable_jira"|get_system_setting %}
                            <th>Jira</th>
                            {% endif %}
                            <th> Findings</th>
                            <th> Endpoint</th>
                            <th> Contact</th>
                            <th>{% dojo_sort request 'Product Type' 'prod_type__name' %}</th>
                            {% if user.is_staff %}
                                <th> Engagement</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for prod in prod_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'view_product' prod.id %}"><b>{{ prod.name }}</b></a>
                                    {% with grade=prod|product_grade %}
                                      {% if grade %}
                                        <sup><div class="tag-label {{ grade }}">{{ grade }}</div></sup>
                                      {% endif %}
                                    {% endwith %}
                                    <sup>
                                    {% for tag in prod.tags %}
                                      <a title="Search {{ tag }}" class="tag-label tag-color" href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                    {% endfor %}
                                  </sup>
                                </td>
                                <td class="text-center">{{ prod.business_criticality|business_criticality_icon }}</td>
                                <td>
                                  {{ prod.platform|platform_icon }}
                                  {{ prod.lifecycle|lifecycle_icon }}
                                  {{ prod.origin|origin_icon }}
                                  {{ prod.external_audience|external_audience_icon }}
                                  {{ prod.internet_accessible|internet_accessible_icon }}
                                </td>
                                <td class="text-center">
                                  {% if prod.last_engagement_date %}
                                    <i class="fa fa-bullseye happy-green-color has-popover" title="<i class='fa fa-bullseye'></i> <b>Engagements</b>" data-trigger="hover" data-placement="bottom" data-html="true"
                                    data-content="{{ prod.active_engagement_count }} Active,
                                    {{ prod.closed_engagement_count }} Closed<br>
                                    <b>Last Assessed:</b> {{ prod.last_engagement_date.target_end }}"></i>
                                  {% else %}
                                    <i class="fa fa-bullseye text-danger has-popover" title="<i class='fa fa-bullseye'></i> <b>Engagements</b>" data-trigger="hover" data-placement="bottom" data-html="true"
                                    data-content="No Engagements Exist"></i>
                                  {% endif %}
                                </td>
                                {% if "enable_jira"|get_system_setting %}
                                <td class="text-center">
                                {% for jira in prod.id|get_jira_conf %}
                                <i class="fa fa-bug has-popover" title="<i class='fa fa-bug'></i> <b>Jira Configuration</b>" data-trigger="hover" data-html="true" data-placement="bottom"
                                  data-content="<b>Jira:</b> {{ jira.conf }}<br/>
                                  <b>Project Key:</b> {{ jira.project_key }}<br/>
                                  <b>Component:</b> {{ jira.component }}<br/>
                                  <b>Push All Issues:</b> {{ jira.push_all_issues }}<br/>
                                  <b>Engagement Epic Mapping:</b> {{ jira.enable_engagement_epic_mapping }}<br/>
                                  <b>Push Notes:</b> {{ jira.push_notes }}">
                                </i>
                                {% endfor %}
                                </td>
                                {% endif %}
                                <td class="text-center">
                                    {% if prod.findings_count %}
                                        <a href="{% url 'product_open_findings' prod.id %}?test__engagement__product={{ prod.id }}"><b>{{ prod.findings_count }}</b></a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                  {% if prod.findings_count %}
                                    <a href="{% url 'vulnerable_endpoints' %}?product={{ prod.id }}"><b>{{ prod.endpoint_count }}</b></a>
                                  {% else %}
                                      0
                                  {% endif %}
                                </td>
                                <td>
                                  {% if prod.prod_manager %}
                                    {% if prod.prod_manager != "0" %}
                                      {{ prod.prod_manager }}, <i>Manager</i>
                                        {% if prod.tech_contact or prod.technical_contact %}<br>{% endif %}
                                    {% endif %}
                                  {% endif %}
                                  {% if prod.tech_contact %}
                                    {% if prod.tech_contact != "0" %}
                                      {{ prod.tech_contact }}, <i>Technical</i>
                                    {% endif %}
                                  {% endif %}
                                  {% if prod.technical_contact %}
                                    {% if prod.technical_contact != "0" %}
                                      {{ prod.technical_contact }}, <i>Technical</i>
                                    {% endif %}
                                  {% endif %}
                                </td>
                                <td> {{ prod.prod_type.name }}</td>
                                {% if user.is_staff %}
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-success" href="{% url 'new_eng_for_prod' prod.id %}">
                                            <i class="fa fa-plus"></i> Add
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=prod_list page_size=True %}
                </div>
            {% else %}
                <p class="text-center">No products found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block postscript %}
    <script>
        $(function () {
            var availableTags = [
                {% for word in name_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_name").autocomplete({
                source: availableTags
            });
        });
    </script>
    {% include "dojo/filter_js_snippet.html" %}
{% endblock %}
