{% extends "base.html" %}
{% load humanize %}
{% load display_tags %}
{% load static from staticfiles %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading tight">
                <div class="clearfix">
                    <h3 class="pull-left">Components</h3>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <!-- Page numbers-->
        </div>
        <div class="panel panel-default table-responsive">
            <table id="products" class="tablesorter-bootstrap table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Active</th>
                        <th>Duplicate</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>component.name</td>
                        <td>12.0.2.12</td>
                        <td>231</td>
                        <td>100</td>
                        <td>331</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}