{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            {% if prod_list %}
                <div class="panel panel-default table-responsive">
                    <table id="products"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped">
                        <thead>
                        <tr>
                            <th> Product</th>
                            <th> Active<br/>findings</th>
                            <th> Product<br/>endpoints</th>
                            <th> Product Type</th>
                            {% if user.is_staff %}
                                <th> Engagement</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for prod in prod_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'view_product' prod.id %}"><b>{{ prod.name }}</b></a>
                                </td>
                                <td>
                                    {% if prod.findings_count %}
                                        <a href="{% url 'view_product_findings' prod.id %}"><b>{{ prod.findings_count }}</b></a>
                                    {% else %}
                                        {{ prod.findings_count }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'endpoints' %}?product={{ prod.id }}"><b>{{ prod.endpoint_count }}</b></a>
                                </td>
                                <td> {{ prod.prod_type.name }}</td>
                                {% if user.is_staff %}
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{% url 'new_eng_for_prod' prod.id %}">
                                            Add Engagement
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "dojo/paging_snippet.html" with page=prod_list %}
            {% else %}
                No products found.
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="panel panel-default filters">

                <div class="panel-heading">Actions</div>
                <div class="panel-body centered">
                    {% if request.user.is_staff %}
                        <a class="btn btn-sm btn-primary" href="{% url 'new_product' %}">
                            Add Product
                        </a><hr>
                    {% endif %}
                    <a class="btn btn-sm btn-primary" href="{% url 'product_findings_report' %}">
                        Generate Report
                    </a>
                </div>

                <div class="panel-heading">Filters</div>
                <form method="get" class="panel-body">
                    {{ prods.form.as_p }}
                    <div class="centered">
                        <input type="submit" class="btn btn-sm btn-primary" value="Apply"/><br/><br/>
                        <a href="{% url 'product' %}" class="clear"> [Clear Filters] </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block postscript %}
    <script>
        $(function () {
            var availableTags = [
                {% for word in name_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_name").autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}
