{% extends "report_base.html" %}
{% load static %}
{% load display_tags %}
{% load humanize %}
{% load get_endpoint_status %}
{% load get_note_status %}
{% load get_notetype_availability %}
{% load event_tags %}
{% block content %}
    {{ block.super }}
    <div class="container">
        {% if include_table_of_contents%}
			<div class="row">
				<div class="col-lg-12" id="toc">
					<h3 id="table_of_contents">Table of Contents for {{ product_type.name }}</h3>
				</div>
			</div>

			<div id="contents">
		{% endif %}
        {% if include_executive_summary %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 id="executive">Executive Summary</h3>
                    <p>
                        This report represents a security audit performed by the {{ team_name }} team.
                        It contains confidential information about the state of your network and applications.
                        Access to this information by unauthorized personnel may allow them to compromise your network.
                    </p>
                </div>
                <div class="col-lg-12">
                    {% if product_type %}
                        {% for prod in context.products %}
                            <h4>{{ prod.name }}</h4>
                            {% if prod.engagement_set.all %}
                                {% for eng in prod.engagement_set.all %}
                                    {% if eng in context.engagements %}
                                        <p>
                                            {% if eng.name  and eng.name|length > 0 %}
                                                The {{ eng.name }}
                                            {% else %}
                                                An
                                            {% endif %}
                                            engagement ran from {{ eng.target_start|date:"SHORT_DATE_FORMAT" }}
                                            {% if eng.target_end %}
                                                to {{ eng.target_end|date:"SHORT_DATE_FORMAT" }}.
                                            {% else %}
                                                and is ongoing.
                                            {% endif %}
                                        </p>
                                        {% if eng.test_set %}
                                            <p>
                                                The engagement also included the following tests which may be reported
                                                here:
                                            </p>
                                            <ul>
                                                {% for t in eng.test_set.all %}
                                                    {% if t in context.tests %}
                                                        <li>{{ t }}
                                                            ({{ t.environment.name|default:"unknown" }}):
                                                            {{ t.target_start|date:"SHORT_DATE_FORMAT" }}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        {% if eng.test_strategy %}
                                            <p>
                                                The test strategy for this engagement can be viewed at
                                                <a href="{{ eng.test_strategy }}">{{ eng.test_strategy }}</a><br/><br/>
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p>No engagements found for {{ prod.name }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <p>
                        A total of {{ findings|length|apnumber }} finding{{ findings|length|pluralize }} of varying
                        severity are represented in this report.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                Engagement Finding Count
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div id="open_findings" class="graph"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                Opened bug count by month
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="opened_per_month_2" class="graph"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
        {% endif %}
        {% if include_disclaimer%}
            <div style="background-color:#DADCE2; border:1px #003333; padding:.8em; ">
                <span style="font-size:16pt;  font-family: 'Cambria','times new roman','garamond',serif; color:#ff0000;">Disclaimer</span><br/>
                <p style="font-size:11pt; line-height:10pt; font-family: 'Cambria','times roman',serif;">{{ disclaimer }}</p>
            </div>
		{% endif %}
        <div class="row">
            <div class="col-lg-12">
                {% for prod in context.products %}
                    {% if prod|product_findings:findings %}
                        <h3 id="findings">Findings in {{ prod.name}}</h3>
                    {% endif %}
                    {% for finding in prod|product_findings:findings %}
                        {% ifchanged finding.severity %}
                            <h4>{{ finding.severity|capfirst }}</h4>
                        {% endifchanged %}
                        <div class="panel panel-default">
                            <div class="panel-heading finding-title">
                                <div class="clearfix">
                                    <h5>
                                        Finding {{ finding.id }}: {{ finding.title }}
                                        {% if finding.tags %}
                                            <sup>
                                                {% for tag in finding.tags.all %}
                                                {{ tag }}
                                                {% endfor %}
                                            </sup>
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="notes" class="table-striped table table-condensed table-hover centered">
                                    <tr>
                                        <th>Severity</th>
                                        <th>Status</th>
                                        {% if finding.risk_acceptance_set.all %}
                                            <th>Acceptance</th>
                                        {% endif %}
                                        <th>Date discovered</th>
                                        <th>Age</th>
                                        <th>Reporter</th>
                                        {% if finding.mitigated %}
                                            <th>Date Mitigated</th>
                                            <th>Mitigated By</th>
                                        {% endif %}
                                        {% if finding.cwe > 0 %}
                                            <th>CWE</th>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>
                                        <span class="label severity severity-{{ finding.severity }}">
                                            {% if finding.severity %}
                                                {{ finding.severity }}
                                            {% else %}
                                                Unknown
                                            {% endif %}
                                        </span>
                                        </td>
                                        <td>{{ finding.status }}</td>
                                        {% if finding.risk_acceptance_set.all %}
                                            <td>
                                                {% comment %} for some reason the font-awesome icons don't work with the report template{% endcomment %}
                                                {% for ra in finding.risk_acceptance_set.all|slice:":5" %}
                                                    <a href="{% url 'view_risk_acceptance' finding.test.engagement.id ra.id %}"
                                                    class="{% if ra.is_expired %}lightgrey{% endif%}">acceptance</a>&nbsp;
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                        <td>{{ finding.date }}</td>
                                        <td>{{ finding.age }} days</td>
                                        <td>{{ finding.reporter }}</td>
                                        {% if finding.mitigated %}
                                            <td>{{ finding.mitigated }}</td>
                                            <td>{{ finding.mitigated_by }}</td>
                                        {% endif %}
                                        {% if finding.cwe > 0 %}
                                            <td>
                                                <a target="_blank"
                                                href="https://cwe.mitre.org/data/definitions/{{ finding.cwe }}.html">
                                                    <i class="fa fa-external-link"></i> {{ finding.cwe }}
                                                </a>
                                            </td>
                                        {% endif %}

                                    </tr>
                                </table>
                            </div>
                        </div>

                        {% include "dojo/snippets/endpoints.html" with finding=finding destination="Report" %}

                        <h6>CVSS v3</h6>
                        <pre>{{ finding.cvssv3 }}</pre>

                        <h6>Description</h6>
                        <pre>{{ finding.description }}</pre>

                        <h6>Mitigation</h6>
                        <pre>{{ finding.mitigation }}</pre>
                        {% if finding.get_report_requests %}
                            <h5>Sample Request(s): Displaying {{finding.get_report_requests.count}} of {{finding.burprawrequestresponse_set.count}}</h5>
                            {% for req in finding.get_report_requests %}
                                <h6>Request {{forloop.counter}} </h6>
                                <pre>{{ req.get_request }}</pre>
                                {% if req.get_response %}
                                <h6>Response {{forloop.counter}}</h6>
                                <pre>{{ req.get_response|truncatechars_html:800 }}</pre>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <h6>Impact</h6>
                        <pre>{{ finding.impact }}</pre>
                        <h6>References</h6>
                        <pre>{{ finding.references }}</pre>
                        {% if include_finding_images %}
                            {% include "dojo/snippets/file_images.html" with size='original' obj=finding format="HTML" %}
                        {% endif %}

                        {% if include_finding_notes %}
                            {% with notes=finding.notes.all|get_public_notes %}
                                {% if notes.count > 0 %}
                                    {% with notes_with_type=notes|get_notetype_notes_count %}
                                        <h6>Notes</h6>
                                        <table id="notes" class="tablesorter-bootstrap table table-condensed table-striped">
                                            <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Date</th>
                                                        {% if notes_with_type > 0 %}
                                                            <th>Note Type</th>
                                                        {% endif %}
                                                    <th>Note</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for note in notes reversed %}
                                                    <tr>
                                                        <td>
                                                            {{ note.author.username }}
                                                        </td>
                                                        <td>
                                                            {{ note.date }}
                                                        </td>
                                                        {% if notes_with_type > 0 %}
                                                        <td>
                                                            {% if note.note_type != None %}
                                                                {{ note.note_type }}
                                                            {% endif %}
                                                        </td>
                                                        {% endif %}
                                                        <td>
                                                            {{ note|linebreaks }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% if include_table_of_contents %}
			</div>
		{% endif %}
    </div> <!-- /container -->
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{{ host }}{% static "jquery/dist/jquery.min.js" %}"></script>
    <!-- Flot Charts JavaScript -->
    <script src="{{ host }}{% static "flot/excanvas.min.js" %}"></script>
    <script src="{{ host }}{% static "flot/jquery.flot.js" %}"></script>
    <script src="{{ host }}{% static "flot/jquery.flot.resize.js" %}"></script>
    <script src="{{ host }}{% static "flot/jquery.flot.time.js" %}"></script>
    <script src="{{ host }}{% static "flot/jquery.flot.stack.js" %}"></script>
    <script src="{{ host }}{% static "flot-axis/jquery.flot.axislabels.js" %}"></script>
    <script src="{{ host }}{% static "dojo/js/metrics.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            var critical = 0;
            var high = 0;
            var medium = 0;
            var low = 0;
            var info = 0;
            var ticks = [
                [0, "Critical"], [1, "High"], [2, "Medium"], [3, "Low"], [4, "Info"]
            ];

            {% for f in findings %}
                {% if f.severity == 'Critical' %}
                    critical += 1;
                {% elif f.severity == 'High' %}
                    high += 1;
                {% elif f.severity == 'Medium' %}
                    medium += 1;
                {% elif f.severity == 'Low' %}
                    low += 1;
                {% elif f.severity == 'Info' %}
                    info += 1;
                {% endif %}
            {% endfor %}

            var d1 = [
                [0, critical],
            ];
            var d2 = [
                [1, high],
            ];
            var d3 = [
                [2, medium],
            ];
            var d4 = [
                [3, low],
            ];
            var d5 = [
                [4, info],
            ];
            open_findings(d1, d2, d3, d4, d5, ticks);

            {% if endpoint_opened_per_month %}
                critical = [];
                high = [];
                medium = [];
                low = [];
                info = [];
                {% for month in endpoint_opened_per_month|slice:'1:' %}
                    critical.push([{{ month.0 }}, {{ month.2 }}]);
                    high.push([{{ month.0 }}, {{ month.3 }}]);
                    medium.push([{{ month.0 }}, {{ month.4 }}]);
                    low.push([{{ month.0 }}, {{ month.5 }}]);
                {% endfor %}
                opened_per_month_2(critical, high, medium, low);
            {% endif %}
        });

        {% if include_table_of_contents%}
            window.onload = function () {
                var toc = "";
                var level = 3;

                document.getElementById("contents").innerHTML =
                    document.getElementById("contents").innerHTML.replace(
                        /<h([\d])([^<]*)>([^<]+)<\/h([\d])>|<h([\d])([^>]*)>([^<]+)<sup>([^<]*)<\/sup>([^<]*)<\/h([\d])>/gi,
                        function (str, openLevel, id, titleText, closeLevel, openLevel_t, id_t, titleText_t, tags, junk, closeLevel_t) {
                            if (openLevel != closeLevel || openLevel > 5) {
                                return str;
                            }

                            if(tags)
                            {
                                openLevel = openLevel_t;
                                id = id_t;
                                titleText = titleText_t;
                                closeLevel = closeLevel_t;
                            }

                            if (openLevel > level) {
                                toc += (new Array(openLevel - level + 1)).join("<ul>");
                            } else if (openLevel < level) {
                                toc += (new Array(level - openLevel + 1)).join("</ul>");
                            }

                            level = parseInt(openLevel);

                            var anchor = titleText.trim().replace(/ /g, "_");

                            if(tags)
                            {
                                if (['Info', 'Low', 'Medium', 'High', 'Critical'].indexOf(titleText) >= 0) {
                                    toc += "<li><a style=\"font-size:" + (160 - (level * 7)) + "%; color:black;\" href=\"#" + anchor + "\">" +
                                    "<span class=\"label severity severity-" + titleText + "\">" + titleText + "</span></a></li>";
                                }
                                else {
                                    toc += "<li><a style=\"font-size:" + (160 - (level * 7)) + "%; color:black;\" href=\"#" + anchor + "\">" +
                                    titleText + "<sup>" + tags + "</sup></a></li>";
                                }

                                return "<a style=\"color:black;\" name=\"" + anchor + "\"><h" + openLevel + "" + id + ">"
                                    + titleText + "<sup>" + tags + "</sup></h" + closeLevel + "></a>";
                            }
                            else
                            {
                                if (['Info', 'Low', 'Medium', 'High', 'Critical'].indexOf(titleText) >= 0) {
                                    toc += "<br><li><a style=\"font-size:" + (160 - (level * 7)) + "%; color:black;\" href=\"#" + anchor + "\">" +
                                    "<span class=\"label severity severity-" + titleText + "\">" + titleText + "</span></a></li><br>";
                                }
                                else {
                                    toc += "<li><a style=\"font-size:" + (160 - (level * 7)) + "%; color:black;\" href=\"#" + anchor + "\">" +
                                    titleText + "</a></li>";
                                }

                                return "<a style=\"color:black;\" name=\"" + anchor + "\"><h" + openLevel + "" + id + ">"
                                    + titleText + "</h" + closeLevel + "></a>";
                            }

                            return "<a style=\"color:black;\" name=\"" + anchor + "\"><h" + openLevel + "" + id + ">"
                                + titleText + "<sup>" + tags + "</sup></h" + closeLevel + "></a>";
                        }
                    );

                if (level) {
                    toc += (new Array(level + 1)).join("</ul>");
                }

                document.getElementById("toc").innerHTML += toc;
            };
        {% endif %}
    </script>
{% endblock %}
