{% extends "base.html" %}
{% load humanize %}
{% load display_tags %}
{% load static from staticfiles %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading tight">
                <div class="clearfix">
                    <h3 class="pull-left">Components</h3>
                </div>
            </div>
        </div>
        <div class="clearfix">

        </div>
        <div class="panel panel-default table-responsive">
            <table id="components" class="tablesorter-bootstrap table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Active</th>
                        <th>Duplicate</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in result  %}
                    <tr>
                        <td>{{ result.component_name  }}</td>
                        <td>{{result.component_version}} </td>
                        <td>
                            {% if result.active %}
                            <a
                                href="{% url 'open_findings' %}?component_name={{ result.component_name }}&component_version={{result.component_version}}&test__engagement__product={{prod.id}}"><b>{{ result.active }}</b></a>
                            {% else %}
                            0
                            {% endif %}
                        </td>
                        <td>
                            {% if result.duplicate %}
                            <a
                                href="{% url 'findings' %}?component_name={{ result.component_name }}&component_version={{result.component_version}}&test__engagement__product={{prod.id}}&duplicate=1"><b>{{ result.duplicate }}</b></a>
                            {% else %}
                            0
                            {% endif %}
                        </td>
                        <td>
                            {% if result.total %}
                            <a
                                href="{% url 'findings' %}?component_name={{ result.component_name }}&component_version={{result.component_version}}&test__engagement__product={{prod.id}}"><b>{{ result.total }}</b></a>
                            {% else %}
                            0
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}