{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            {% if pts %}
                <div class="panel panel-default table-responsive">
                    <table id="product_types"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped">
                        <thead>
                        <tr>
                            <th> Product Type</th>
                            <th> # of Products</th>
                            <th> # of active findings</th>
                            {% if user.is_staff %}
                                <th> Actions</th>{% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for pt in pts %}
                            <tr>
                                <td><a href="{% url 'product_type_metrics' pt.id %}"> {{ pt.name }} </a></td>
                                <td><a href="{% url 'product' %}?prod_type={{ pt.id }}">{{ pt.products_count }}</a></td>
                                <td>
                                    <a href="{% url 'open_findings' %}?test__engagement__product__prod_type={{ pt.id }}">
                                        {{ pt.findings_count }}
                                    </a>
                                </td>
                                {% if user.is_staff %}
                                    <td>
                                        <a class="btn btn-sm btn-success"
                                           href="{% url 'add_product_to_product_type' pt.id %}">
                                            <i class="fa fa-plus"></i> Add Product
                                        </a>
                                        <a class="btn btn-sm btn-warning"
                                           href="{% url 'edit_product_type' pt.id %}">
                                            <i class="fa fa-pencil"></i> Edit Product Type
                                        </a>
                                        <a class="btn btn-sm btn-primary"
                                           href="{% url 'product_type_report' pt.id %}">
                                            <i class="fa fa-file-text-o"></i> Generate Report
                                        </a>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "dojo/paging_snippet.html" with page=prod_list %}
            {% else %}
                <p>No product types found.</p>
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="panel panel-default filters">
                {% if request.user.is_staff %}
                    <div class="panel-heading">Actions</div>
                    <div class="panel-body centered">
                            <a class="btn btn-sm btn-success" href="/product/type/add">
                                <i class="fa fa-plus"></i> Add Product Type
                            </a>
                    </div>
                {% endif %}
                <div class="panel-heading">Filters</div>
                <form method="get" class="panel-body">
                    {{ ptl.form.as_p }}
                    <div class="centered">
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-filter"></i> Apply
                        </button>
                        <br/><br/>
                        <a href="{% url 'product_type' %}" class="clear"> [Clear Filters] </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block postscript %}
    <script>
        $(function () {
            var availableTags = [
                {% for word in name_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_name").autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}






