{% extends "base.html" %}
{% load event_tags %}
{% block content %}
    {{ block.super }}
    <h3> Add or Edit a Planned Remediation Date</h3>
    <h4>{{ finding.title }}</h4>
      <p>Please provide the date the Finding will be remediated in the environment it was discovered.</p>

    <form class="form-horizontal" action="{% url 'remediation_date' finding.id %}" method="post">
        {% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                <input class="btn btn-primary" name='submit' type="submit" value="Save" aria-label="Save"/>

            </div>
        </div>
    </form>
{% endblock %}
