{% extends "base.html" %}
{% load humanize %}
{% block content %}
    <h3 xmlns="http://www.w3.org/1999/html">Generate
        {% if product_type %}
            Product Type
        {% elif product %}
            Product
        {% elif engagement %}
            Engagement
        {% elif test %}
            Test
        {% endif %}
        Report</h3>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <p>
                    The {{ findings|length|apnumber }} finding{{ findings|length|pluralize }} listed below will be
                    included in the report. Use the filters to fine
                    tune the findings to be used.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {% if findings %}
                <div class="panel panel-default table-responsive">
                    <table id="open_findings"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Mitigated</th>
                            <th>Severity</th>
                            <th>Product</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for finding in paged_findings %}
                            <tr>
                                <td><a title="{{ finding.title }}"
                                       href="{% url 'view_finding' finding.id %}">{{ finding.title|truncatechars:50 }}</a>
                                </td>
                                <td class="nowrap">{{ finding.date }}</td>
                                <td class="">{{ finding.status }}</td>
                                <td class="">{{ finding.mitigated }}</td>
                                <td>{% if finding.severity == "Critical" or finding.severity == "High" %}
                                    <p class="text-error">
                                {% else %}<p>{% endif %}{{ finding.severity }}</p></td>
                                <td>{{ finding.test.engagement.product }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "dojo/paging_snippet.html" with page=paged_findings %}
            {% else %}
                No findings found.
            {% endif %}
        </div>
        <div class="col-md-3">
            <form class="panel-body filters" action="
                        {% if product_type %}
                            {% url 'product_type_report' product_type.id %}
                        {% elif product %}
                            {% url 'product_report' product.id %}
                        {% elif engagement %}
                            {% url 'engagement_report' engagement.id %}
                        {% elif test %}
                            {% url 'test_report' test.id %}
                        {% endif %}
                        " method="get">
                <div class="panel panel-default filters">
                    <div class="panel-heading">Filters</div>
                    <div class="panel-body">
                        {{ findings.form.as_p }}
                        <div class="alert alert-info" role="alert">
                            <span class="fa fa-lightbulb-o" aria-hidden="true"></span>
                            <span class=""><b>Hint:</b></span>
                            To generate a report of all mitigated findings select: Active: Either, Verified: Either,
                            Mitigated: Yes
                        </div>
                        <div class="centered">
                            <button class="btn btn-sm btn-primary">
                                <i class="fa fa-filter"></i> Apply Filters
                            </button><br/>
                            <a href="?"> [Clear Filters] </a><br/><br/>
                        </div>

                    </div>
                    <div class="panel-heading">Report Options</div>
                    <div class="panel-body">
                        <p>
                            <label for=" id_include_finding_notes">Include finding notes</label>
                            <select class="form-control" id="id_include_finding_notes" name="include_finding_notes">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </p>
                        <p>
                            <label for="id_include_executive_summary">Include executive summary</label>
                            <select class="form-control" id="id_include_executive_summary"
                                    name="include_executive_summary">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </p>
                        <p>
                            <label for="id_include_executive_summary">Include table of contents</label>
                            <select class="form-control" id="id_include_table_of_contents"
                                    name="include_table_of_contents">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </p>
                        <p style="text-align: left">
                            <label for="id_report_type">Report type</label>


                            <select class="form-control" id="id_report_type" name="report_type">
                                <option value="AsciiDoc">AsciiDoc</option>
                                {% if findings|length <= 150 %}
                                    <option value="PDF">PDF</option>
                                {% endif %}
                            </select>
                        </p>
                        {% if findings|length <= 150 %}
                            <div class="alert alert-warning" role="alert">
                                <span class="fa fa-cogs" aria-hidden="true"></span>
                                <span class=""><b>Warning:</b></span>
                                PDF reports can take some time to generate depending on the number of findings included.
                            </div>
                            <div class="alert alert-info" role="alert">
                                <span class="fa fa-info-circle" aria-hidden="true"></span>
                                <span class=""><b>Note:</b></span>
                                For PDF reports, the finding description will be truncated at 500 characters to aid in
                                redering speed.
                            </div>
                        {% endif %}
                        <div class="centered">
                            <input class="btn btn-primary" name="_generate" type="submit"
                                   value="Generate Report"/><br/><br/>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock %}






