{% extends "base.html" %}
{% load event_tags %}
{% load display_tags %}
{% block content %}
    <table id="content" class="table-full">
        <tr id="open">
            <td class="top">
                <h4>All New Issues This Month</h4>
                <table class="table table-bordered table-condensed table-striped table-400">
                    <tr>
                        <th> Product</th>
                        <th>{% severity_value 'Critical' %}</th>
                        <th>{% severity_value 'High' %}</th>
                        <th>{% severity_value 'Medium' %}</th>
                        <th>{% severity_value 'Low' %}</th>
                        <th>Total</th>
                    </tr>
                    {% for key, value in month_all_by_product.items %}
                        <tr>
                            <td> {{ key }} </td>
                            {% for i in value %}
                                <td> {{ i }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td class="top">
                <h4>All New Issues This Week</h4>
                <table class="table table-bordered table-condensed table-striped table-400">
                    <tr>
                        <th> Product</th>
                        <th>{% severity_value 'Critical' %}</th>
                        <th>{% severity_value 'High' %}</th>
                        <th>{% severity_value 'Medium' %}</th>
                        <th>{% severity_value 'Low' %}</th>
                        <th>Total</th>
                    </tr>
                    {% for key, value in week_all_by_product.items %}
                        <tr>
                            <td> {{ key }} </td>
                            {% for i in value %}
                                <td> {{ i }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr id="verified">
            <td class="top">
                <h4>Verified New Issues This Month</h4>
                <table class="table table-bordered table-condensed table-striped table-400">
                    <tr>
                        <th> Product</th>
                        <th>{% severity_value 'Critical' %}</th>
                        <th>{% severity_value 'High' %}</th>
                        <th>{% severity_value 'Medium' %}</th>
                        <th>{% severity_value 'Low' %}</th>
                        <th>Total</th>

                    </tr>
                    {% for key, value in month_verified_by_product.items %}
                        <tr>
                            <td> {{ key }} </td>
                            {% for i in value %}
                                <td> {{ i }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td class="top">
                <h4>Verified New Issues This Week</h4>
                <table class="table table-bordered table-condensed table-striped table-400">
                    <tr>
                        <th> Product</th>
                        <th>{% severity_value 'Critical' %}</th>
                        <th>{% severity_value 'High' %}</th>
                        <th>{% severity_value 'Medium' %}</th>
                        <th>{% severity_value 'Low' %}</th>
                        <th>Total</th>
                    </tr>
                    {% for key, value in week_verified_by_product.items %}
                        <tr>
                            <td> {{ key }} </td>
                            {% for i in value %}
                                <td> {{ i }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr id="remaining">
            <td class="top">
                <h4>Remaining Issues</h4>
                <table class="table table-bordered table-condensed table-striped table-400">
                    <tr>
                        <th>{% severity_value 'Critical' %}</th>
                        <th>{% severity_value 'High' %}</th>
                        <th>{% severity_value 'Medium' %}</th>
                        <th>{% severity_value 'Low' %}</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        {% for key, value in remaining_aggregate.items %}

                            <td> {{ value }} </td>
                        {% endfor %}

                        <td>{{ remaining_aggregate | sum_dict }}</td>
                    </tr>
                </table>
            </td>
            <td class="top">
                <h4>Remaining Issues By Product</h4>
                <table class="table table-bordered table-condensed table-striped table-400">
                    <tr>
                        <th> Product</th>
                        <th>{% severity_value 'Critical' %}</th>
                        <th>{% severity_value 'High' %}</th>
                        <th>{% severity_value 'Medium' %}</th>
                        <th>{% severity_value 'Low' %}</th>
                        <th>Total</th>
                    </tr>
                    {% for key, value in remaining_by_product.items %}
                        <tr>
                            <td> {{ key }} </td>
                            {% for i in value %}
                                <td> {{ i }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr id="avg">
            <td class="top">
                <h4>Average Time to Close (Days)</h4>
                <table class="table table-bordered table-condensed table-striped table-400">
                    <tr>
                        <th>{% severity_value 'Critical' %}</th>
                        <th>{% severity_value 'High' %}</th>
                        <th>{% severity_value 'Medium' %}</th>
                        <th>{% severity_value 'Low' %}</th>
                    </tr>
                    <tr>
                        <td> {{ time_to_close.S0 }} </td>
                        <td> {{ time_to_close.S1 }} </td>
                        <td> {{ time_to_close.S2 }} </td>
                        <td> {{ time_to_close.S3 }} </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}