{% extends "base.html" %}
{% load event_tags %}
{% load display_tags %}

{% block content %}
    <h2> {{ name }}</h2>
    <p>This simple search function will return results whose findings or finding templates
        title, URL, description, endpoints, tags, references, languages or technologies contain the search query and products whose
        name, tags or description contain the search query.</p>
    <p>Advanced search operators: (Restrict results to a certain type) product:, engagement:, finding:, endpoint:, tag:, langugage: or technology:
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {% if products %}
                <li class="active" role="presentation"><a role="tab" data-toggle="tab"
                                                          href="#tabs">Product Results</a>
                </li>
            {% endif %}
            {% if findings %}
                <li role="presentation" {% if not products %}class="active"{% endif %}><a href="#tabs-1" role="tab"
                                                                                          data-toggle="tab">Finding
                    Results</a></li>
            {% endif %}
            {% if finding_templates %}
                <li role="presentation" {% if not findings and not products %}class="active"{% endif %}><a
                        href="#tabs-2" role="tab"
                        data-toggle="tab">Finding Template
                    Results</a></li>
            {% endif %}
            {% if engagements %}
                <li {% if not findings and not finding_templates and not products %}class="active"{% endif %}
                    role="presentation"><a href="#tabs-6" role="tab"
                                           data-toggle="tab">Engagement
                    Results</a>
                </li>
            {% endif %}
            {% if tests %}
                <li {% if not findings and not finding_templates and not products %}class="active"{% endif %}
                    role="presentation"><a href="#tabs-3" role="tab"
                                           data-toggle="tab">Test
                    Results</a>
                </li>
            {% endif %}
            {% if endpoints %}
                <li {% if not findings and not finding_templates and not products %}class="active"{% endif %}
                    role="presentation"><a href="#tabs-5" role="tab"
                                           data-toggle="tab">Endpoint
                    Results</a>
                </li>
            {% endif %}
            {% if languages %}
                <li {% if not findings and not finding_templates and not products %}class="active"{% endif %}
                    role="presentation"><a href="#tabs-6" role="tab"
                                           data-toggle="tab">Language
                    Results</a>
                </li>
            {% endif %}
            {% if app_analysis %}
                <li {% if not findings and not finding_templates and not products %}class="active"{% endif %}
                    role="presentation"><a href="#tabs-7" role="tab"
                                           data-toggle="tab">Application Technolgies
                    Results</a>
                </li>
            {% endif %}
            {% if tagged_findings or tagged_finding_templates or tagged_products or tagged_tests or tagged_endpoints or tagged_engagements %}
                <li {% if not findings and not finding_templates and not products and not tests %}class="active"{% endif %}
                    role="presentation"><a href="#tabs-4" role="tab"
                                           data-toggle="tab">Tagged Results</a>
                </li>
            {% endif %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% if products %}
                <div role="tabpanel" class="table-responsive tab-pane active fade in" id="tabs">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'view_product' product.object.id %}">{{ product.object.name }}</a>
                                    <sup>
                                        {% for tag in product.object.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td>{{ product.object.description|truncatechars:150|markdown_render }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if findings %}
                <div role="tabpanel" class="table-responsive tab-pane fade {% if not products %}active in{% endif %}"
                     id="tabs-1">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Severity</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Product</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for finding in findings %}
                            <tr>
                                <td>
                                  <span class="label severity severity-{{ finding.object.severity }}">
                                      {{ finding.object.severity_display }}
                                  </span>
                                </td>
                                <td><a class="search-finding"
                                       href="{% url 'view_finding' finding.object.id %}">{{ finding.object.title }}</a>
                                    <sup>
                                        {% for tag in finding.object.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td>{{ finding.object.date }}</td>
                                <td><a href="{% url 'view_product' finding.object.test.engagement.product.id %}">{{ finding.object.test.engagement.product.name }}</a>
                                  <sup>
                                      {% for tag in finding.object.test.engagement.product.tags %}
                                          <a title="Search {{ tag }}" class="tag-label tag-color"
                                             href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                      {% endfor %}
                                  </sup>
                                </td>
                              </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if finding_templates %}
                <div role="tabpanel"
                     class="table-responsive tab-pane fade {% if not products and not findings %}active in{% endif %}"
                     id="tabs-2">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for finding_template in finding_templates %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'edit_template' finding_template.object.id %}">{{ finding_template.object.title }}</a>
                                    <sup>
                                        {% for tag in finding_template.object.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td>{{ finding_template.object.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if engagements %}
                <div role="tabpanel"
                     class="table-responsive tab-pane fade {% if not findings and not finding_templates and not products %}in active {% endif %}"
                     id="tabs-6">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Product</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for engagement in engagements %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'view_engagement' engagement.object.id %}">{{ engagement.object.name }}</a>
                                    <sup>
                                        {% for tag in engagement.object.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td><a href="{% url 'view_product' engagement.object.product.id %}">{{ engagement.object.product.name }}</a>
                                  <sup>
                                      {% for tag in engagement.object.product.tags %}
                                          <a title="Search {{ tag }}" class="tag-label tag-color"
                                             href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                      {% endfor %}
                                  </sup>
                                </td>
                                <td>{{ engagement.object.target_start }} - {{ engagement.object.target_end }}</td>
                                <td>{{ engagement.object.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if tests %}
                <div role="tabpanel"
                     class="table-responsive tab-pane fade {% if not findings and not finding_templates and not products %}in active {% endif %}"
                     id="tabs-3">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Test Type</th>
                            <th>Product</th>
                            <th>Engagement</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test in tests %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'view_test' test.object.id %}">{{ test.object.test_type }}</a>
                                    <sup>
                                        {% for tag in test.object.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td><a href="{% url 'view_product' test.object.engagement.product.id %}">{{ test.object.engagement.product.name }}</a>
                                  <sup>
                                      {% for tag in test.object.engagement.product.tags %}
                                          <a title="Search {{ tag }}" class="tag-label tag-color"
                                             href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                      {% endfor %}
                                  </sup>
                                </td>
                                <td><a href="{% url 'view_engagement' test.object.engagement.id %}">{{ test.object.engagement.name }}</a>
                                  <sup>
                                      {% for tag in test.object.engagement.tags %}
                                          <a title="Search {{ tag }}" class="tag-label tag-color"
                                             href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                      {% endfor %}
                                  </sup>
                                </td>
                                <td>{{ test.object.engagement.target_start }} - {{ test.object.engagement.target_end }}</td>
                                <td>{{ test.object.engagement.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if endpoints %}
                <div role="tabpanel"
                     class="table-responsive tab-pane fade {% if not findings and not finding_templates and not products %}in active {% endif %}"
                     id="tabs-5">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Endpoint</th>
                            <th>Product</th>
                            <th>Open Findings</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for e in endpoints %}
                            <tr>
                                <td><a href="{% url 'view_endpoint' e.id %}">{{ e }}</a>
                                  {% if e.tags %}
                                      <sup>
                                          {% for tag in e.tags %}
                                          <a title="Search {{ tag }}" class="tag-label tag-color" href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                          {% endfor %}
                                      </sup>
                                  {% endif %}
                                </td>
                                <td><a href="{% url 'view_product' e.product.id %}">{{ e.product.name }}</a>
                                  <sup>
                                      {% for tag in e.product.tags %}
                                          <a title="Search {{ tag }}" class="tag-label tag-color"
                                             href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                      {% endfor %}
                                  </sup>
                                </td>
                                <td>
                                  {% if e.finding_count_endpoint > 0 %}
                                  <a href="{% url 'open_findings' %}?endpoints={{ e.id }}">{{ e.finding_count_endpoint }}</a>
                                  {% else %}
                                  No Open, Active Findings
                                  {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if languages %}
            <div role="tabpanel"
                 class="table-responsive tab-pane fade {% if not findings and not finding_templates and not products %}in active {% endif %}"
                 id="tabs-6">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Language</th>
                            <th>Product</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lang in languages %}
                            <tr>
                               <td>{{ lang.language.language }}</td>
                                <td><a class="search-finding"
                                       href="{% url 'view_product' lang.product.id %}">{{ lang.product.name }}</a>
                                    <sup>
                                        {% for tag in lang.product.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if app_analysis %}
            <div role="tabpanel"
                 class="table-responsive tab-pane fade {% if not findings and not finding_templates and not products %}in active {% endif %}"
                 id="tabs-7">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Technology</th>
                            <th>Product</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in app_analysis %}
                            <tr>
                               <td>{{ app.name }}</td>
                                <td><a class="search-finding"
                                       href="{% url 'view_product' app.product.id %}">{{ app.product.name }}</a>
                                    <sup>
                                        {% for tag in app.product.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if tagged_findings or tagged_finding_templates or tagged_products or tagged_tests or tagged_endpoints or tagged_engagements %}
                <div role="tabpanel"
                     class="table-responsive tab-pane fade {% if not findings and not finding_templates and not products and not tests %}in active {% endif %}"
                     id="tabs-4">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if tagged_tests %}
                            {% for test in tagged_tests %}
                                <tr>
                                    <td><a class="search-finding"
                                           href="{% url 'view_test' test.id %}">{{ test.test_type }}</a>
                                        <sup>
                                            {% for tag in test.tags %}
                                                <a title="Search {{ tag }}" class="tag-label tag-color"
                                                   href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                            {% endfor %}
                                        </sup>
                                    </td>
                                    <td>Test</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% for finding in tagged_findings %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'view_finding' finding.id %}">{{ finding.title }}</a>
                                </td>
                                <td>Finding</td>
                            </tr>
                        {% endfor %}
                        {% for finding_template in tagged_finding_templates %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'edit_template' finding_template.id %}">{{ finding_template.title }}</a>
                                    <sup>
                                        {% for tag in finding_template.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td>Finding Template</td>
                            </tr>
                        {% endfor %}
                        {% for product in tagged_products %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'view_product' product.id %}">{{ product.name }}</a>
                                    <sup>
                                        {% for tag in product.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td>Product</td>
                            </tr>
                        {% endfor %}
                        {% for endpoint in tagged_endpoints %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'view_endpoint' endpoint.id %}">{{ endpoint }}</a>
                                    <sup>
                                        {% for tag in endpoint.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td>Endpoint</td>
                            </tr>
                        {% endfor %}
                        {% for eng in tagged_engagements %}
                            <tr>
                                <td><a class="search-finding"
                                       href="{% url 'view_engagement' eng.id %}">{{ eng }}</a>
                                    <sup>
                                        {% for tag in eng.tags %}
                                            <a title="Search {{ tag }}" class="tag-label tag-color"
                                               href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </sup>
                                </td>
                                <td>Engagement</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}
{% block postscript %}
    <script type="text/javascript">
        $(function () {
            $('input#simple_search').val("{{clean_query|escapejs}}");
        });
    </script>
{% endblock %}
