{% extends "base.html" %}
{% load event_tags %}
{% load display_tags %}
{% block content %}
    {{ block.super }}

    <h2> {{ name }}</h2>
    <form class="simple_metrics" action="{% url 'simple_metrics' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Generate Metrics For Selected Month/Year"/>
    </form>
    <hr/>

    {% for key, value in findings.items %}

        <h3 class="inline-block">{{ key.name }}</h3> [
        <a href="{% url 'product_type_metrics' key.id %}" class="inline-block">View Details</a>]
        <div class="panel panel-default table-responsive">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>
                        Total
                    </th>
                    <th>Critical</th>
                    <th>High</th>
                    <th>Medium</th>
                    <th>Low</th>
                    <th>Info</th>
                    <th>
                        Opened This Month
                    </th>
                    <th>
                        Closed This Month
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ value.Total }}
                    </td>
                    <td>
                        {{ value.S0 }}
                    </td>
                    <td>
                        {{ value.S1 }}
                    </td>
                    <td>
                        {{ value.S2 }}
                    </td>
                    <td>
                        {{ value.S3 }}
                    </td>
                    <td>
                        {{ value.S4 }}
                    </td>
                    <td>
                        {{ value.Opened }}
                    </td>
                    <td>
                        {{ value.Closed }}
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

{% endblock %}
