{% extends "base.html" %}
{% load navigation_tags %}
{% load authorization_tags %}
{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        SLA Configurations
                        <div class="dropdown pull-right">
                            {% if "dojo.add_sla_configuration"|has_configuration_permission %}
                            <button class="btn btn-primary dropdown-toggle" type="button" name="sla_dropdown" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-expanded="true">
                                <span class="fa-solid fa-screwdriver-wrench"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a href="{% url 'new_sla_config' %}">
                                            <i class="fa-solid fa-plus"></i> Add SLA Configuration
                                        </a>
                                    </li>
                            </ul>
                            {% endif %}
                        </div>
                    </h3>
                </div>

            </div>
            {% if confs %}
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=confs page_size=True %}
                </div>
                <div class="panel panel-default table-responsive">
                    <table id="sla_groups"
                           class="tablesorter-bootstrap table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Critical Finding SLA Days</th>
                            <th>High Finding SLA Days</th>
                            <th>Medium Finding SLA Days</th>
                            <th>Low Finding SLA Days</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for conf in confs %}
                            <tr>
                                <td>
                                    {% if "dojo.change_sla_configuration"|has_configuration_permission %}
                                        <a href="{% url 'edit_sla_config' conf.id %}"><b>{{ conf.name }}</b></a>
                                    {% else %}
                                        {{ conf.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if conf.description %}{{ conf.description }}{% endif %}
                                </td>
                                <td>
                                    {% if conf.critical %}{{ conf.critical }}{% endif %}
                                </td>
                                <td>
                                    {% if conf.high %}{{ conf.high }}{% endif %}
                                </td>
                                <td>
                                    {% if conf.medium %}{{ conf.medium }}{% endif %}
                                </td>
                                <td>
                                    {% if conf.low %}{{ conf.low }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=confs page_size=True %}
                </div>
            {% else %}
                <p class="text-center">No SLA configurations found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block postscript %}
    {{ block.super }}
    {% include "dojo/filter_js_snippet.html" %}
{% endblock %}
