{% extends "base.html" %}
{% load navigation_tags %}
{% block content %}
    {{ block.super }}
    {% load display_tags %}
    <p>
        Synced with "{{ sheet_title }}" sheet of Spreadsheet "{{ spreadsheet_name }}"
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        {{ name }}
                    </h3>
                </div>
            </div>
            {% if errors %}
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=errors page_size=True %}
                </div>
                <div class="table-responsive panel panel-default">
                    <table id="users"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                        <tr>
                            <th> Finding ID </th>
                            <th> Column Names </th>
                            <th> Error </th>
                        </tr>
                        {% for e in errors %}
                            <tr>
                                <td>{{ e.finding_id }}</td>
                                <td>{{ e.column_names }}</td>
                                <td>{{ e.error }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=errors page_size=True %}
                </div>
            {% else %}
                <h5> No Errors </h5>
            {% endif %}
        </div>
    </div>
    <a class="btn btn-primary" href={{spreadsheet_url}}>View Google Sheet</a>
{% endblock %}
