{% extends "base.html" %}
{% block content %}

    {% if user.is_staff %}
        <a class="btn btn-primary" href="{%  url 'add_test_type' %}"> New Test Type </a>
        <br/>
        <br/>
    {% endif %}
    {% if tts %}
        <div class="panel panel-default">
            <table id="test_types"
                   class="table-responsive tablesorter-bootstrap table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th> Test Type</th>
                </tr>
                </thead>
                <tbody>
                {% for tt in tts %}
                    <tr>
                        {% if user.is_staff %}
                            <td><a href="{% url 'edit_test_type' tt.id %}"> {{ tt.name }} </a></td>
                        {% else %}
                            <td> {{ tt.name }} </a> </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No test types found.
    {% endif %}
    {% include "dojo/paging_snippet.html" with page=tts %}
{% endblock %}
