{% extends "base.html" %}
{% load static from staticfiles %}

{% block add_styles %}
    .chosen-container {
    width: 70% !important;
    }
    .editor-toolbar, .editor-statusbar, .editor-preview-side, .CodeMirror {
    width: 70% !important;
    }
{% endblock %}
{% block content %}
    <h3> Risk acceptance</h3>
    <div id="risk_acceptance">
        <p>
        </p>
        <p>
            A risk acceptance can consist of compensating control(s) and documentation.
            Documentation can be in the form of an image or PDF file.<br/>
            Select the findings that apply to this acceptance. These findings will be automatically be deactivated.
        </p>
        <br/>
        <form id="risk" enctype="multipart/form-data" class="form-horizontal" method="post">
            {% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Save"/>
                </div>
            </div>
            <br/><br/>
        </form>
    </div>
{% endblock %}
