{% extends "base.html" %}
{% load display_tags %}
{% load get_system_setting %}
{% load humanize %}
{% load static from staticfiles %}
{% block add_styles %}
    .tooltip-inner {
      max-width: 350px;
    }
{% endblock %}
{% block content %}

<div class="row">
  <div id="tests" class="col-md-8">
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="clearfix">
                  <h4 class="pull-left">
                      Description
                  </h4>

                  <div class="dropdown pull-right">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                              data-toggle="dropdown" aria-expanded="true">
                          <span class="fa fa-bars"></span>
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                              <a class="" href="{% url 'edit_vm' vm.id %}">
                                  <i class="fa fa-pencil-square-o"></i> Edit Virtual Machine
                              </a>
                          </li>

                          <li role="presentation">
                              <a class="" href="{% url 'delete_vm' vm.id %}">
                                  <i class="fa fa-close"></i> Delete Virtual Machine
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
            <div class="panel-body">
              {% if vm.description %}
                {{ vm.description|markdown_render }}
              {% else %}
                <small class="text-muted"><em>No virtual machine description.</em></small>
              {% endif %}
            </div>
        </div>

<!-- Sidebar -->
</div>
<div class="col-md-4">
  <div class="panel panel-default-secondary">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-info-circle fa-fw" aria-hidden="true"></span> Metadata
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td style="width: 150px;"><strong>Status</strong></td>
            <td>
              {% if vm.status == "Blocked" %}
              <em class="text-danger">
              {% elif vm.status == "On Hold" %}
              <em class="text-warning">
              {% else %}
              <em>
              {% endif %}
              {{ vm.status }}
            </em>
            </td>
          </tr>
          <tr>
            <td><strong>Dates Till Unused</strong></td>
            <td>{{ vm.days_till_free }}</td>
          </tr>
          <tr>
            <td><strong>Internal IP</strong></td>
            <td>{{ vm.IP }}</td>
          </tr>
          <tr>
            <td><strong>External IP</strong></td>
            <td>{{ vm.externalIP }}</td>
          </tr>
          <tr>
            <td><strong>Current Users</strong></td>
            <td>{{ vm.current_uses.count }}
              {% if vm.total_uses_count > 0 %}
                <ol>
                  {% for e in vm.vm.all %}
                    <li>{{e.tester}}</li>
                  {% endfor %}
                </ol>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><strong>Total Uses</strong></td>
            <td>{{ vm.total_uses_count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div class="panel panel-default-secondary">
      <div class="panel-heading">
        <h4><span class="fa fa-key" aria-hidden="true"></span>
          RDP Link
        </h4>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Link</th>
          </tr>
          </thead>
          <tbody>
             <tr>
               <td><a href="{{vm.vm.rdp_link}}">{{vm.fqdn}}</a></td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

</div>
</div>
<div class="protip">
   <i class="fa fa-lightbulb-o"></i> <strong>ProTip!</strong> Type <kbd>e</kbd> to edit this vm. Type <kbd>r</kbd> to RDP.
</div>
{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{% static "jquery-highlight/jquery.highlight.js" %}"></script>
    <script type="application/javascript" src="{% static "jquery.hotkeys/jquery.hotkeys.js" %}"></script>
        <script type="text/javascript">
        $(function () {
            $(document).on('keypress', null, 'e', function () {
              window.location.assign('{% url 'edit_vm' vm.id %}');
            });

            $(document).on('keypress', null, 'r', function () {
                window.location.assign('{{vm.vm.rdp_link}}');
            });

            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
            //Ensures dropdown has proper zindex
            $('.table-responsive').on('show.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "inherit" );
            });

            $('.table-responsive').on('hide.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "auto" );
            })
            if (document.referrer.indexOf('simple_search') > 0) {
                var terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight').split(' ');

                    for (var i = 0; i < terms.length; i++) {
                        $('body').highlight(terms[i]);
                    }
                }

                $('input#simple_search').val(terms);
            }
        });



    </script>
{% endblock %}
