{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {{ block.super }}
    <h3>{% trans "Note History" %}</h3><br />
    <form class="form-horizontal" action="{% url 'note_history' note.id page objid %}" method="post">{% csrf_token %}
        {% for entry in history %}
            <div>
                <div class="panel panel-default">
                <div class="panel-comments">
                    <div class="row-sm-2">
                        <strong>{{ entry.current_editor }}</strong> 
                        {% if forloop.first %}
                            <span class="text-muted">{% blocktranslate with time=entry.time%}commented {{ time }}{% endblocktranslate %}</span>
                        {% else %}
                            <span class="text-muted">{% blocktranslate with time=entry.time%}made changes on {{ time }}{% endblocktranslate %}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                  {% if note.note_type != None %}
                    <strong>{% trans "Note type:" %} {{ note.note_type }}</strong><br>
                  {% endif %}
                  {{ entry.data }}
                </div>
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-5">
                <input class="btn btn-primary" aria-label="Return" type="submit" value="{% trans "Return" %}"/>
            </div>
        </div>
    </form>
{% endblock %}