{% extends "base.html" %}
{% load display_tags %}
{% load humanize %}
{% load static from staticfiles %}

{% block add_styles %}
    .chosen-container {
    width: 70% !important;
    }
    .editor-toolbar, .editor-statusbar, .editor-preview-side, .CodeMirror {
    width: 70% !important;
    }
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading tight">
            <div class="clearfix">
                <h3 class="pull-left">
                    Risk Acceptance <small>added by {{ risk_approval.reporter.get_full_name }}, Updated {{ risk_approval.updated|naturaltime|default_if_none:"" }}, Created {{ risk_approval.created|naturaltime|default_if_none:"" }}</small>
                </h3>
                <div class="dropdown pull-right">
                    <!--
                    <a href="{% url 'action_history' risk_approval|content_type risk_approval.id %}"
                       class="btn btn-primary"
                       title="View History">
                        <span><i class="fa fa-history"></i></span>
                    </a>-->
                </div>
            </div>
        </div>
    <div class="table-responsive">
        <table class="table-striped table table-condensed table-hover centered">
                <tr>
                    <th>Name</th>
                    <th>Expiration Date</th>
                    <th>Accepted By</th>
                    <th>Compensating Control</th>
                </tr>
                <tr>
                    <td>{{ risk_approval.name }}</td>
                    <td>{{ risk_approval.expiration_date|default_if_none:"" }}</td>
                    <td>{{ risk_approval.accepted_by|default_if_none:"" }}</td>
                    <td>{{ risk_approval.compensating_control|default_if_none:"" }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="risk_acceptance" class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h3>Findings Accepted</h3>
        </div>
        {% if accepted_findings %}
            <table id="open_findings" class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Severity</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Active</th>{% if authorized %}
                    <th>Actions</th>{% endif %}</tr>
                </thead>
                <tbody>
                {% for finding in accepted_findings %}
                    <tr>
                        <td>
                          <span class="label severity severity-{{ finding.severity }}">
                              {{ finding.severity_display }}
                          </span>
                        </td>
                        <td><a href="{% url 'view_finding' finding.id %}"
                               title="{{ finding.title }}">{{ finding.title|truncatechars_html:140 }}</a></td>
                        <td>{{ finding.date }}</td>
                        <td>{{ finding.active }}</td>

                        {% if authorized %}
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="remove_finding_id" value="{{ finding.id }}"/>
                                    <input class="btn btn-sm btn-warning" type="submit" name="remove_finding"
                                           value="Remove"/>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="panel-body">
                {% include "dojo/paging_snippet.html" with page=accepted_findings %}
            </div>
        {% else %}
            <div class="panel-body">
                <p><b>No findings associated with this Risk Exception.</b></p>
            </div>
        {% endif %}
    </div>

    {% if authorized %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Accept Additional Findings</h3>
            </div>
            <br/>
            <form method="post" class="form-horizontal">{% csrf_token %}
                <div class="show_add_findings_form">
                    {% include "dojo/form_fields.html" with form=add_findings_form %}
                </div>
                <div class="panel-body">
                    {% include "dojo/paging_snippet.html" with page=add_findings parm_name="apage" %}
                </div>
                <div class="panel-footer text-center">
                    <input class="btn btn-primary" name="add_findings" type="submit" value="Add Selected Findings"/>
                </div>
            </form>
        </div>
    {% endif %}

    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h3>Uploaded Document</h3>
        </div>
        <table id="doc" class="tablesorter-bootstrap table table-condensed table-striped">
            <thead>
            <tr>
                <th>Current File</th>
                <th>Date Added</th>{% if authorized %}
                <th>Actions</th>{% endif %}</tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="{% url 'download_risk' eng.id risk_approval.id %}">{{ risk_approval.filename }}</a>
                </td>
                <td>
                    {{ risk_approval.created }}
                </td>
                {% if authorized %}
                    <td>
                        <form id="replace_risk_file" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <label class="btn btn-sm btn-primary">
                                Replace File
                                <input accept="application/pdf,image/*" id="id_path" name="path" type="file"/>
                            </label>
                            <input type="hidden" name="replace_file" value="Replace File"/>
                        </form>
                    </td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default to_highlight table-responsive">
        <div class="panel-heading">
            <h3>Notes</h3>
        </div>
        {% if notes %}
            <table id="notes" class="tablesorter-bootstrap table table-condensed table-striped">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Note</th>{% if authorized %}
                    <th>Actions</th>{% endif %}</tr>
                </thead>
                <tbody>
                {% for note in notes %}
                    <tr>
                        <td>
                            {{ note.author.username }}
                        </td>
                        <td>
                            {{ note.date }}
                        </td>
                        <td>
                            {{ note }}
                        </td>
                        {% if authorized %}
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_note_id" value="{{ note.id }}"/>
                                    <input class="btn btn-sm btn-danger" type="submit" name="delete_note"
                                           value="Delete"/>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p class="text-center">No notes saved.</p>
        {% endif %}
        <hr/>
        <form class="form-horizontal" method="post">{% csrf_token %}
            {% include "dojo/form_fields.html" with form=note_form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn" type="submit" value="Add Note"/>
                </div>
            </div>
        </form>
    </div>


    {% if authorized %}
        <div class="panel panel-danger">
            <div class="panel-heading text-center"><h3>Danger Zone</h3></div>
            <div class="panel-body text-center">
                <p>
                    Deleting this Risk Acceptance will remove the uploaded file, delete associated Notes and make
                    related
                    findings active.
                </p>

                <form class="form-horizontal" action="{% url 'delete_risk' eng.id risk_approval.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="btn btn-danger" type="submit" value="Delete Risk Acceptance"/>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    <br/>
{% endblock %}
