{% extends "base.html" %}
{% load display_tags %}
{% load get_system_setting %}
{% load humanize %}
{% load static from staticfiles %}
{% block add_styles %}
    h3 { margin-top: 5px; margin-bottom: 5px; font-size: 20px; line-height: 22px;}
{% endblock %}
{% block content %}

<div class="row">
  <div id="tests" class="col-md-8">
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="clearfix">
                  <h4 class="pull-left">
                      Description
                  </h4>

                  <div class="dropdown pull-right">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                              data-toggle="dropdown" aria-expanded="true">
                          <span class="fa fa-bars"></span>
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation">
                              <a class="" href="{% url 'edit_engagement' eng.id %}">
                                  <i class="fa fa-pencil-square-o"></i> Edit Engagement
                              </a>
                          </li>

                          <li role="presentation">
                              {% if eng.active %}
                                  <a class="" href="{% url 'close_engagement' eng.id %}">
                                      <i class="fa fa-close"></i> Close Engagement
                                  </a>
                              {% else %}
                                  <a class="" href="{% url 'reopen_engagement' eng.id %}">
                                      <i class="fa fa-undo"></i> Reopen Engagement
                                  </a>
                              {% endif %}
                          </li>
                          <li role="presentation">
                              <a href="{% url 'engagement_report' eng.id %}">
                                  <i class="fa fa-file-text-o"></i> Report
                              </a>
                          </li>
                          <li role="presentation">
                              <a href="{% url 'engagement_ics' eng.id %}">
                                  <i class="fa fa-calendar-plus-o"></i> Add To Calendar
                              </a>
                          </li>
                          <li role="presentation">
                              <a href="{% url 'view_object_eng' eng.id %}">
                                  <i class="fa fa-file-text-o"></i> View Files for this Build
                              </a>
                          </li>
                          <li role="presentation">
                              <a href="{% url 'action_history' eng|content_type eng.id %}">
                                  <i class="fa fa-history"></i> View History
                              </a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li role="presentation">
                              {% if eng.test_strategy %}
                                  <a target="_blank" href="{{ eng.test_strategy }}"><i class="fa fa-file-text-o"></i> View Test
                                      Strategy </a>
                              {% else %}
                                  <a href="{% url 'edit_engagement' eng.id %}"><i class="fa fa-file-text-o"></i> Add a Test Strategy</a>
                              {% endif %}
                          </li>
                          {% if threat != 'none' %}
                          <li role="presentation">
                                  <a href="{% url 'view_threatmodel' eng.id %}"><i class="fa fa-file-text-o"></i> Download Threat Model</a>
                          </li>
                          <li role="presentation">
                                  <a href="{% url 'upload_threatmodel' eng.id %}"><i class="fa fa-file-text-o"></i> Upload Threat Model</a>
                          </li>
                          {% else %}
                          <li role="presentation">
                              <a href="{% url 'upload_threatmodel' eng.id %}"><i class="fa fa-file-text-o"></i> Upload Threat Model</a>
                          </li>
                         {% endif %}
                          <li role="separator" class="divider"></li>
                          <li role="presentation">
                              <a class="text-danger" href="{% url 'delete_engagement' eng.id %}">
                                  <i class="fa fa-trash-o"></i> Delete Engagement
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
            <div class="panel-body">
              {% if eng.description %}
                {{ eng.description|markdown_render }}
              {% else %}
                <small class="text-muted"><em>There is no description.</em></small>
              {% endif %}
            </div>
        </div>

<div class="row">
    <div id="tests" class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h4 class="pull-left">
                        Tests
                    </h4>

                    <div class="dropdown pull-right">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-expanded="true">
                            <span class="fa fa-bars"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a class="" href="{% url 'add_tests' eng.id %}">
                                    <i class="fa fa-plus"></i> Add Tests
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="" href="{% url 'import_scan_results' eng.id %}">
                                    <i class="fa fa-upload"></i> Import Scan Results
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if tests %}
                <div class="table-responsive">
                    <table class="tablesorter-bootstrap table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th></th>
                            <th>Date</th>
                            <th>Lead</th>
                            <th>Findings</th>
                            <th>Duplicate</th>
                            <th>Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test in tests %}
                            <tr>
                                <td><a href="{% url 'view_test' test.id %}">{{ test.test_type }}</a>
                                  {% if test.tags %}
                                      <sup>
                                          {% for tag in test.tags %}
                                          <a title="Search {{ tag }}" class="tag-label tag-color" href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                          {% endfor %}
                                      </sup>
                                  {% endif %}
                                </td>
                                <td>
                                  <ul>
                                   <li class="dropdown" style="list-style:none;">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;<b class="fa fa-ellipsis-v"></b>&nbsp;</a>
                                         <ul class="dropdown-menu">
                                           <li>
                                             <a class="" href="{% url 'view_test' test.id %}">
                                               <i class="fa fa-list-alt"></i> View</a>
                                          </li>
                                          <li>
                                             <a class="" href="{% url 'edit_test' test.id %}">
                                              <i class="fa fa-pencil-square-o"></i> Edit</a>
                                          </li>
                                           <li class="divider"></li>
                                           <li>
                                             <a class="" href="{% url 'add_tests' eng.id %}">
                                               <i class="fa fa-plus"></i> Add Tests
                                             </a>
                                           </li>
                                           <li><a class="" href="{% url 'import_scan_results' eng.id %}">
                                               <i class="fa fa-upload"></i> Import Scan Results
                                           </a></li>
                                           <li class="divider"></li>
                                           <li>
                                             <a class="text-danger" href="{% url 'delete_test' test.id %}">
                                              <i class="fa fa-trash-o"></i> Delete</a>
                                          </li>
                                         </ul>
                                       </li>
                                   </ul>
                                </td>
                                <td>{{ test.target_start.date }} - {{ test.target_end.date }}</td>
                                <td>
                                  {% if eng.lead.get_full_name and eng.lead.get_full_name.strip %}
                                      {{ eng.lead.get_full_name }}
                                  {% else %}
                                      {{ eng.lead }}
                                  {% endif %}
                                </td>
                                <td><a href="{% url 'view_test' test.id %}">{{ test.finding_set.all|finding_status:False|length }}</a></td>
                                <td>{{ test.finding_set.all|finding_status:True|length }}</td>
                                <td>{{ test.notes.all|length }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="panel-body">
                    <small class="text-muted"><em>No tests found.</em></small>
                </div>
            {% endif %}
        </div>

    </div>

</div>

<div class="row">
    <div id="risk" class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Risk Acceptance
                    {% if can_add_risk %}
                        <a title="Add Risk Acceptance" class="pull-right btn btn-sm btn-primary"
                           href="{% url 'upload_risk_acceptance$' eng.id %}"><span class="fa fa-plus"></span></a>
                        </a>
                    {% endif %}
                </h4>
            </div>
            {% if risks_accepted %}
                <div class="table-responsive">
                    <table id="open_findings"
                           class="tablesorter-bootstrap table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>Reporter</th>
                            <th>Date</th>
                            <th>Findings Accepted</th>
                            <th>View File</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                        {% for risk in risks_accepted %}
                            <tr>
                                <td>{{ risk.reporter }}</td>
                                <td>{{ risk.created }}</td>
                                <td>{{ risk.accepted_findings.all|length }}</td>
                                <td><a href="{% url 'download_risk' eng.id risk.id %}">{{ risk.filename }}</a></td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{% url 'view_risk' eng.id risk.id %}">
                                        View
                                        Approval</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="panel-body">
                    <small class="text-muted"><em>No Risk Acceptances found.</em></small>
                </div>
            {% endif %}

        </div>

    </div>

</div>

<div class="row">
    <div id="checklist" class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Check List
                    {% if check %}
                        <a title="Edit Checklist" class="btn btn-primary pull-right"
                           href="{% url 'complete_checklist' eng.id %}">
                            <span class="fa fa-edit"></span></a>
                    {% else %}
                        <a title="Complete Check List" class="btn btn-sm btn-primary pull-right"
                           href="{% url 'complete_checklist' eng.id %}">
                            <span class="fa fa-edit"></span></a></a>
                    {% endif %}
                </h4>
            </div>

            {% if check %}
                <div class="table-responsive">
                    <table class="tablesorter-bootstrap table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>Session</th>
                            <th>Encryption</th>
                            <th>Configuration</th>
                            <th>Authentication</th>
                            <th>Authorization</th>
                            <th>Data Input</th>
                            <th>Sensitive Data</th>
                            <th>Other</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span
                                    class="label label-{{ check.session_management|checklist_status }}">{{ check.session_management }}</span>
                            </td>
                            <td><span
                                    class="label label-{{ check.encryption_crypto|checklist_status }}">{{ check.encryption_crypto }}</span>
                            </td>
                            <td><span
                                    class="label label-{{ check.configuration_management|checklist_status }}">{{ check.configuration_management }}</span>
                            </td>
                            <td><span
                                    class="label label-{{ check.authentication|checklist_status }}">{{ check.authentication }}</span>
                            </td>
                            <td><span
                                    class="label label-{{ check.authorization_and_access_control|checklist_status }}">{{ check.authorization_and_access_control }}</span>
                            </td>
                            <td><span
                                    class="label label-{{ check.data_input_sanitization_validation|checklist_status }}">{{ check.data_input_sanitization_validation }}</span>
                            </td>
                            <td><span
                                    class="label label-{{ check.sensitive_data|checklist_status }}">{{ check.sensitive_data }}</span>
                            </td>
                            <td><span
                                    class="label label-{{ check.other|checklist_status }}">{{ check.other }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="panel-body">
                    <small class="text-muted"><em>Checklist has not been completed.</em></small>
                </div>
            {% endif %}


        </div>

    </div>

</div>


<!-- Sidebar -->
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-info-circle fa-fw" aria-hidden="true"></span> {% if eng.name %}
          {{ eng.name }}
      {% else %}
          Engagement for <a href="{% url 'view_product' eng.product.id %}">{{ eng.product }}</a>
      {% endif %}
      {% if eng.tags %}
          <sup>
              {% for tag in eng.tags %}
              <a title="Search {{ tag }}" class="tag-label tag-color" href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
              {% endfor %}
          </sup>
      {% endif %}
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td><strong>Status</strong></td>
            <td>{{ eng.status }}</td>
          </tr>
          <tr>
            <td><strong>Dates</strong></td>
            <td>{{ eng.target_start }} - {{ eng.target_end }}</td>
          </tr>
          <tr>
            <td><strong>Length</strong></td>
            <td>{{ eng.target_start|datediff_time:eng.target_end }}
              {% if eng.target_end|overdue %}
              <sup>
                <div class="tag-label warning-color">
                  {{ eng.target_end|overdue }} overdue
                </div>
              </sup>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><strong>Lead</strong></td>
            <td>{% if eng.lead.get_full_name and eng.lead.get_full_name.strip %}
                {{ eng.lead.get_full_name }}
            {% else %}
                {{ eng.lead }}
            {% endif %}</td>
          </tr>
          {% if jissue and jconf %}
          <tr>
            <td><strong>Jira</strong></td>
            <td><a href="{{ jconf.url }}/browse/{{ jissue.jira_key }}">Jira Epic</a></td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-key" aria-hidden="true"></span>
          Credentials
        {% if creds %}
          <a title="Add New Credential" class="pull-right btn btn-primary btn-sm"
             href="{% url 'new_cred_product_engagement' eng.id %}"><span class="fa fa-plus"></span></a>
        {% endif %}
      </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th></th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
            {% if creds %}
            <tr><td colspan="3">
              <small class="text-muted"><em>
                {% if cred_eng %}
                Credentials Configured for this <strong>Engagement</strong>
                {% else %}
                No Credentials Configured for this <strong>Engagement</strong>
                {% endif %}
              </em></small></td>
            </tr>
            {% endif %}
            {% for cred in cred_eng %}
                <tr>
                  <td>
                      <a href="{% url 'view_cred_product_engagement' cred.engagement.id cred.id  %}">{{ cred.cred_id.name }}</a>
                  </td>
                  <td>
                    <ul>
                     <li class="dropdown" style="list-style:none;">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;<b class="fa fa-ellipsis-v"></b>&nbsp;</a>
                           <ul class="dropdown-menu">
                             <li>
                               <a class="" href="{% url 'view_cred_product_engagement' cred.engagement.id cred.id %}">
                                 View</a>
                            </li>
                            <li>
                               <a class="" href="{% url 'delete_cred_engagement' cred.engagement.id cred.id %}">
                                 Delete</a>
                            </li>
                           </ul>
                         </li>
                     </ul>
                  </td>
                  <td>{{ cred.cred_id.username }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="3">
              <small class="text-muted"><em>
                {% if creds %}
                Credentials Configured for this <strong>Product</strong>
                {% else %}
                No Credentials Configured for this <strong>Product</strong>
                {% endif %}
              </em></small></td>
            </tr>
            {% for cred in creds %}
                <tr>
                  <td>
                      <a href="{% url 'view_cred_product' cred.product.id cred.id  %}">{{ cred.cred_id.name }}</a>
                  </td>
                  <td>
                    <ul>
                     <li class="dropdown" style="list-style:none;">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;<b class="fa fa-ellipsis-v"></b>&nbsp;</a>
                           <ul class="dropdown-menu">
                             <li>
                               <a class="" href="{% url 'view_cred_product' cred.product.id cred.id %}">
                                 View</a>
                            </li>
                           </ul>
                         </li>
                     </ul>
                  </td>
                  <td>{{ cred.cred_id.username }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

</div>
</div>
{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{% static "jquery-highlight/jquery.highlight.js" %}"></script>
        <script type="text/javascript">
        $(function () {
            //Ensures dropdown has proper zindex
            $('.table-responsive').on('show.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "inherit" );
            });

            $('.table-responsive').on('hide.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "auto" );
            })
            if (document.referrer.indexOf('simple_search') > 0) {
                var terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight').split(' ');

                    for (var i = 0; i < terms.length; i++) {
                        $('body').highlight(terms[i]);
                    }
                }

                $('input#simple_search').val(terms);
            }
        });



    </script>
{% endblock %}
