{% extends "base.html" %}
{% block content %}
    <div class="row to_highlight">
        <div class="col-md-12">
            <h4> {{ finding.title }} </h4>
        </div>
    </div>
    <div class="row to_highlight">
        <div class="col-md-5">
            <ul class="no-bullets well">
                <li><b> Severity: </b>{{ finding.severity }} </li>
                <li>
                    <b> Status: </b>
                    {{ finding.status }}
                </li>
                {% if finding.risk_acceptance_set.all %}
                    <li>
                        <b> Acceptance: </b> <a
                            href="/engagement/{{ finding.test.engagement.id }}/risk_approval/{{ finding.risk_acceptance_set.all.0.id }}">View
                        Risk Acceptance</a>
                    </li>
                {% endif %}
                <li><b> Date discovered: </b> {{ finding.date }} </li>
                <li><b> Date Mitigated: </b>{{ finding.mitigated }} </li>
                <li><b> Reporter: </b>{{ finding.reporter }} </li>
            </ul>
        </div>
        <div class="col-md-7">
            <ul class="no-bullets well">
                <li><b> Endpoints / Systems:</b><br/> {{ finding.endpoint }} </li>
            </ul>
        </div>
    </div>
    <br/>

    <div class="to_highlight">
        <p><b> Description: </b></p>
        <pre>{{ finding.description }}</pre>
        <p><b> Mitigation: </b></p>
        <pre>{{ finding.mitigation }}</pre>
        <p><b> Impact: </b></p>
        <pre>{{ finding.impact }}</pre>
        <p><b> References: </b></p>
        <pre>{{ finding.references }}</pre>
    </div>

    {% if user.is_staff %}
        <div class="btn-group">
            <a class="btn btn-warning" href="edit_finding"> Edit Finding </a>
            <a class="btn btn-info" href="mktemplate"> Make Finding a Template</a>
            <a class="btn btn-primary" href="close_finding"> Close Finding</a>
            <a class="btn btn-danger" href="delete_finding"
               onclick="return confirm('Are you sure you want to delete this finding?')"> Delete Finding </a>
        </div>
    {% endif %}

    <br>
    <br>
    <br>
    <br>
    <p><b>Notes:</b></p>
    <div class="to_highlight">
        {% if notes %}
            <table id="notes" class="table-responsive tablesorter-bootstrap table table-condensed table-striped">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes %}
                    <tr>
                        <td>
                            {{ note.author.username }}
                        </td>
                        <td>
                            {{ note.date }}
                        </td>
                        <td>
                            {{ note }}
                            {% ifequal user.username note.author.username %}
                                <a href="view_finding/{{ note.id }}"> [X] </a>
                            {% endifequal %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p>No saved notes.</p>
        {% endif %}
    </div>
    <br/>
    <form class="form-horizontal" action="/{{ finding.id }}/view_finding" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn" type="submit" value="Add Note"/>
            </div>
        </div>
    </form>


{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}text-highlighter/build/TextHighlighter.min.js"></script>
    <script type="text/javascript">
        $(function () {
            if (document.referrer.indexOf('simple_search') > 0) {
                terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight');

                    var options = {
                        exact: "partial",
                        highlight: ".to_highlight",
                        keys: terms
                    }
                    $(document).SearchHighlight(options);
                }

                $('input#simple_search').val(terms);
            }
        });
    </script>
{% endblock %}