{% extends "base.html" %}
{% block content %}
    <h3> {{ prod }}
        {% if user.is_staff %}
            <div class="btn-group">
            <a class="btn btn-sm btn-warning" href="{% url 'edit_product' prod.id %}">Edit</a>
        {% endif %}
        <a class="btn btn-sm btn-primary" href="{% url 'view_product_findings' prod.id %}">Open Findings</a>
        {% if user.is_staff %}
            </div>
        {% endif %}
    </h3>
    <div class="row">
        <div class="col-md-5">
            <ul class="no-bullets well">
                <li><b> Product Type: </b>{{ prod.prod_type }} </li>
                <li><b> Team Manager: </b> {{ prod.manager }} </li>
                <li><b> Product Manager: </b>{{ prod.prod_manager }} </li>
                <li><b> Tech Contact: </b> {{ prod.tech_contact }}</li>
                {% if prod.authorized_users.all %}
                    <li>
                        <b>Authorized Users</b>
                        <ul>
                            {% for au in prod.authorized_users.all %}
                                <li>{{ au }}</li>
                            {% endfor %}
                        </ul>
                    <li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-7">
            <ul class="no-bullets well">
                <li><b> Description: </b>{{ prod.description }} </li>
            </ul>
        </div>
    </div>
    <br/>
    {% if user.is_staff %}
        <h4> Active Engagements <a class="btn btn-sm btn-primary" href="{% url 'new_eng_for_prod' prod.id %}"> New
            Engagement </a></h4>
        {% if engs %}
            <table class="table-responsive tablesorter-bootstrap table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Lead</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for eng in engs %}
                    <tr>
                    <td>{% if eng.name %}{{ eng.name }}{% else %} N/A {% endif %}</td>
                    <td>{{ eng.lead }}</td>
                    <td>{{ eng.target_start }}</td>
                    <td>{{ eng.target_end }}</td>
                    <td><a class="btn btn-sm btn-primary" href="{% url 'view_engagement' eng.id %}">View Details</a>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No active engagements found.</p>
        {% endif %}
    {% endif %}
    <hr/>
    {% if authorized %}
        <h4> Scans
            <a class="btn btn-success btn-sm" href="{% url 'gmap' prod.id %}"> Set Baseline</a>
        </h4>
        {% if scan_sets %}
            <table class="table-responsive tablesorter-bootstrap table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Creator</th>
                    <th>Date</th>
                    <th>Frequency</th>
                    <th>Protocol</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for scan in scan_sets %}
                    <tr>
                        <td>{{ scan.user }}</td>
                        <td>{{ scan.date }}</td>
                        <td>{{ scan.frequency }}</td>
                        <td>{{ scan.protocol }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'view_scan_settings' scan.product.id scan.id %}"> View
                            Details </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No scans configured.
        {% endif %}
    {% endif %}
    <hr/>
    {% if user.is_staff and i_engs %}
        <h4> Closed Engagements </h4>
        <table class="table-responsive tablesorter-bootstrap table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Lead</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for eng in i_engs %}
                <tr>
                <td>{% if eng.name %}{{ eng.name }}{% else %} N/A {% endif %}</td>
                <td>{{ eng.lead }}</td>
                <td>{{ eng.target_start }}</td>
                <td>{{ eng.target_end }}</td>
                <td><a class="btn btn-sm btn-primary" href="{% url 'view_engagement' eng.id %}">View Details</a>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}text-highlighter/build/TextHighlighter.min.js"></script>
    <script type="text/javascript">
        $(function () {
            if (document.referrer.indexOf('simple_search') > 0) {
                terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight').split(' ');

                    var hltr = new TextHighlighter(document.body);

                    for (var i = 0; i < terms.length; i++) {
                        hltr.find(terms[i], false);
                    }
                }

                $('input#simple_search').val(terms);
            }
        });
    </script>
{% endblock %}
