{% extends "base.html" %}
{% load humanize %}
{% load display_tags %}
{% load static from staticfiles %}
{% block add_styles %}
    .graph {min-height: 158px;}
    h3 { margin-top: 5px; margin-bottom: 5px; font-size: 20px; line-height: 22px;}
{% endblock %}
{% block content %}
    <div class="row">
      {% if user.is_staff or authorized %}
          {% include "dojo/snippets/engagement_list.html" with engs=engs count=engs_count parm_name="engs" status="open" type=engagement_type %}
          {% include "dojo/snippets/engagement_list.html" with engs=i_engs count=i_engs_count parm_name="i_engs" status="closed" type=engagement_type %}
      {% endif %}
    </div>

{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{% static "jquery-highlight/jquery.highlight.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            //Ensures dropdown has proper zindex
            $('.table-responsive').on('show.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "inherit" );
            });
            if (document.referrer.indexOf('simple_search') > 0) {
                var terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight').split(' ');

                    for (var i = 0; i < terms.length; i++) {
                        $('body').highlight(terms[i]);
                    }
                }

                $('input#simple_search').val(terms);
            }
          });
    </script>
{% endblock %}
