{% extends "base.html" %}
{% load display_tags %}
{% load authorization_tags %}

{% block content %}
    {{ block.super }}
<h3 id="id_heading"> User {{ user.first_name }} {{ user.last_name }}</h3>
<div class="row">
    <div id="tests" class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading tight">
                <div class="clearfix">
                    <h3 class="pull-left">Default Information</h3>
                    <div class="dropdown pull-right">
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                aria-label="Actions" data-toggle="dropdown" aria-expanded="true">
                                <span class="fa fa-bars"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                {% if request.user.is_superuser %}
                                <li>
                                    <a class="" href="{% url 'edit_user' user.id %}">
                                        <i class="fa fa-pencil-square-o"></i> Edit</a>
                                </li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{% url 'action_history' user|content_type user.id %}">
                                        <i class="fa fa-history"></i> View History</a>
                                </li>
                                {% if request.user.is_superuser and user.id != request.user.id %}
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a class="" href="{% url 'delete_user' user.id %}" id="deleteUser"> 
                                        <i class="fa fa-trash"></i> Delete</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td><strong>First Name</strong></td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Last Name</strong></td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Username</strong></td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h4 class="pull-left">Contact Information</h4>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td><strong>Title</strong></td>
                        <td>{% if user.usercontactinfo.title %} {{ user.usercontactinfo.title }} {% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone Number</strong></td>
                        <td>{{ user.usercontactinfo.phone_number }}</td>
                    </tr>
                    <tr>
                        <td><strong>Cell Number</strong></td>
                        <td>{{ user.usercontactinfo.cell_number }}</td>
                    </tr>
                    <tr>
                        <td><strong>Twitter Username</strong></td>
                        <td>{% if user.usercontactinfo.twitter_username %} {{ user.usercontactinfo.twitter_username }}
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Github Username</strong></td>
                        <td>{% if user.usercontactinfo.github_username %} {{ user.usercontactinfo.github_username }} {% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Slack Email Address</strong></td>
                        <td>{% if user.usercontactinfo.slack_username %} {{ user.usercontactinfo.slack_username }} {%endif %}</td>

                    </tr>
                </table>
            </div>
        </div>
        {% if 'FEATURE_AUTHORIZATION_V2'|setting_enabled %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h4 class="pull-left">Product Type Members</h4>
                    {% if request.user.is_superuser %}
                    <div class="dropdown pull-right">
                        <button class="btn btn-primary dropdown-toggle" aria-label="Actions" type="button" id="dropdownMenuAddProductTypeMember"
                            data-toggle="dropdown" aria-expanded="true">
                            <span class="fa fa-bars"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation">
                                <a id="addProductTypeMember" href="{% url 'add_product_type_member_user' user.id %}">
                                    <i class="fa fa-plus"></i> Add Product Types
                                </a>
                            </li>
                        </ul>
                        &nbsp;
                        <a href="https://defectdojo.github.io/django-DefectDojo/usage/permissions/" target="_blank">
                            <i class="fa fa-question-circle text-low"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if product_type_members %}
            <div class="table-responsive">
                <table class="tablesorter-bootstrap table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product Type</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in product_type_members %}
                        <tr>
                            <td>
                                <ul>
                                    <li class="dropdown" style="list-style:none;position:absolute">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" name="dropdownManageProductTypeMember"
                                            aria-expanded="true">&nbsp;<b class="fa fa-ellipsis-v"></b>&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            {% if member.product_type|has_object_permission:"Product_Type_Manage_Members" %}
                                            <li>
                                                <a name="editProductTypeMember" href="{% url 'edit_product_type_member' member.id %}">
                                                    <i class="fa fa-pencil-square-o"></i> Edit</a>
                                            </li>
                                            {% endif %}
                                            {% if member|has_object_permission:"Product_Type_Member_Delete" %}
                                            <li>
                                                <a name="deleteProductTypeMember" href="{% url 'delete_product_type_member' member.id %}">
                                                    <i class="fa fa-trash"></i> Delete</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            <td name="member_product_type"><a href="{% url 'view_product_type' member.product_type.id %}">{{ member.product_type }}</a></td>
                            <td name="member_product_type_role">{{ member.role }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="panel-body">
                <small class="text-muted"><em>No product type members found.</em></small>
            </div>
            {% endif %}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h4 class="pull-left">Product Members</h4>
                    {% if request.user.is_superuser %}
                    <div class="dropdown pull-right">
                        <button class="btn btn-primary dropdown-toggle" aria-label="Actions" type="button"  id="dropdownMenuAddProductMember"
                            data-toggle="dropdown" aria-expanded="true">
                            <span class="fa fa-bars"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu3">
                            <li role="presentation">
                                <a id="addProductMember" href="{% url 'add_product_member_user' user.id %}">
                                    <i class="fa fa-plus"></i> Add Products
                                </a>
                            </li>
                        </ul>
                        &nbsp;
                        <a href="https://defectdojo.github.io/django-DefectDojo/usage/permissions/" target="_blank">
                            <i class="fa fa-question-circle text-low"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if product_members %}
            <div class="table-responsive">
                <table class="tablesorter-bootstrap table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in product_members %}
                        <tr>
                            <td>
                                <ul>
                                    <li class="dropdown" style="list-style:none;position:absolute">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" name="dropdownManageProductMember"
                                            aria-expanded="true">&nbsp;<b class="fa fa-ellipsis-v"></b>&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            {% if member.product|has_object_permission:"Product_Manage_Members" %}
                                            <li>
                                                <a name="editProductMember" href="{% url 'edit_product_member' member.id %}">
                                                    <i class="fa fa-pencil-square-o"></i> Edit</a>
                                            </li>
                                            {% endif %}
                                            {% if member|has_object_permission:"Product_Member_Delete" %}
                                            <li>
                                                <a name="deleteProductMember" href="{% url 'delete_product_member' member.id %}">
                                                    <i class="fa fa-trash"></i> Delete</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            <td name="member_product"><a href="{% url 'view_product' member.product.id %}">{{ member.product }}</a></td>
                            <td name="member_product_role">{{ member.role }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="panel-body">
                <small class="text-muted"><em>No product members found.</em></small>
            </div>
            {% endif %}
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h4 class="pull-left">Group Members</h4>
                    {% if request.user.is_superuser %}
                    <div class="dropdown pull-right">
                        <button class="btn btn-primary dropdown-toggle" aria-label="Actions" type="button" id="dropdownMenuAddGroupMember"
                                data-toggle="dropdown" aria-expanded="true">
                            <span class="fa fa-bars"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu4">
                            <li role="presentation">
                                <a id="addGroupMember" href="{% url 'add_group_member_user' user.id %}">
                                    <i class="fa fa-plus"></i> Add Groups
                                </a>
                            </li>
                        </ul>
                        &nbsp;
                        <a href="https://defectdojo.github.io/django-DefectDojo/usage/permissions/#groups" target="_blank">
                            <i class="fa fa-question-circle text-low"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if group_members %}
            <div class="table-responsive">
                <table class="tablesorter-bootstrap table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Group</th>
                        <th>Group role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in group_members %}
                    <tr>
                        <td>
                            <ul>
                                <li class="dropdown" style="list-style:none;position:absolute">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" name="dropdownManageProductTypeMember"
                                       aria-expanded="true">&nbsp;<b class="fa fa-ellipsis-v"></b>&nbsp;</a>
                                    <ul class="dropdown-menu">
                                        {% if member.group|has_object_permission:"Group_Manage_Members" %}
                                        <li>
                                            <a name="editProductTypeMember" href="{% url 'edit_group_member' member.id %}">
                                                <i class="fa fa-pencil-square-o"></i> Edit</a>
                                        </li>
                                        {% endif %}
                                        {% if member|has_object_permission:"Group_Member_Delete" %}
                                        <li>
                                            <a name="deleteProductTypeMember" href="{% url 'delete_group_member' member.id %}">
                                                <i class="fa fa-trash"></i> Delete</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </td>
                        <td name="group_name"><a href="{% url 'view_group' member.group.id %}">{{ member.group }}</a></td>
                        <td name="group_role">{{ member.role }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="panel-body">
                <small class="text-muted"><em>No group members found.</em></small>
            </div>
            {% endif %}
        </div>

        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="panel panel-default-secondary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-info-circle fa-fw" aria-hidden="true"></span>
                    Metadata
                </h3>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td style="width: 200px;"><strong>Active</strong></td>
                            <td>
                                {% if user.is_active %}
                                <i class="text-success fa fa-check"></i>
                                {% else %}
                                <i class="text-danger fa fa-times"></i>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px;"><strong>Staff</strong></td>
                            <td>
                                {% if user.is_staff %}
                                <i class="text-success fa fa-check"></i>
                                {% else %}
                                <i class="text-danger fa fa-times"></i>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px;"><strong>Superuser</strong></td>
                            <td>
                                {% if user.is_superuser %}
                                <i class="text-success fa fa-check"></i>
                                {% else %}
                                <i class="text-danger fa fa-times"></i>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px;"><strong>Block execution</strong></td>
                            <td>
                                {% if user.usercontactinfo.block_execution %}
                                <i class="text-success fa fa-check"></i>
                                {% else %}
                                <i class="text-danger fa fa-times"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% if not 'FEATURE_AUTHORIZATION_V2'|setting_enabled %}
                        <tr>
                            <td style="width: 200px;"><strong>Authorized Products</strong></td>
                            <td>
                                {% if authorized_products.all.count > 1 %}
                                {% for au in authorized_products.all %}
                                {{au}}{%if not forloop.last%},{%endif%}
                                {% endfor %}
                                {% else %}
                                {{ authorized_products.all.0 }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px;"><strong>Authorized Product Types</strong></td>
                            <td>
                                {% if authorized_product_types.all.count > 1 %}
                                {% for au in authorized_product_types.all %}
                                {{au}}{%if not forloop.last%},{%endif%}
                                {% endfor %}
                                {% else %}
                                {{ authorized_product_types.all.0 }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if 'FEATURE_AUTHORIZATION_V2'|setting_enabled %}
                        <tr>
                            <td style="width: 200px;"><strong>Global role</strong></td>
                            <td>{% if user.global_role.role %} {{ user.global_role.role }} {% endif %}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}