{% extends "base.html" %}
{% block content %}
    <h3> {{ test.test_type }}
        <div class="btn-group">
            <a class="btn btn-primary btn-sm" href="{% url 'test_report' test.id %}"> Generate Report</a>
            <a class="btn btn-primary btn-sm" href="{% url 'add_findings' test.id %}"> Add Findings </a>
            <a class="btn btn-primary btn-sm" href="#add_notes"> Add Notes </a>
        </div>
    </h3>
    <h4> Development Environment </h4>
    {% if test.environment %}
        {{ test.environment }}
    {% else %}
        <b><i>Unknown</i></b>
    {% endif %}
    <br/>
    <br/>
    <h4> Findings </h4>
    <div class="to_highlight">
        {% if findings %}
            <div class="panel panel-default">
                <table id="test_findings" class="table-responsive table-bordered table table-condensed table-hover">


                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Severity</th>
                        <th>Reporter</th>
                        <th>Verified</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for finding in findings %}
                        <tr class={% if finding.active %} "active_finding" {% else %} "inactive_finding" {% endif %}>
                        <td><a href="{% url 'view_finding' finding.id %}">{{ finding.title }}</a></td>
                        <td>{% if finding.severity == "Critical" or finding.severity == "High" %}
                            <span class="text-error">
                        {% else %}<span>{% endif %}{{ finding.severity }}</span></td>
                        <td>{{ finding.reporter.username }}</td>
                        <td>{{ finding.verified }}</td>
                        <td>{{ finding.active }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>


                </table>
            </div>
            {% include "dojo/paging_snippet.html" with page=findings %}
        {% else %}
            <p>No findings found.</p>
        {% endif %}
        <br><br>

        <div>
            <h3>Notes</h3><br>
            {% if notes %}
                <table id="notes" class="table-responsive tablesorter-bootstrap table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for note in notes %}
                        <tr>
                            <td>
                                {{ note.author.username }}
                            </td>
                            <td>
                                {{ note.date }}
                            </td>
                            <td>
                                {{ note }}
                                {% ifequal person note.author.username %}
                                    <a href="{% url 'delete_test_note' test.id note.id%}"> [X] </a>
                                {% endifequal %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <p>No notes found.</p>
            {% endif %}
        </div>
        <br/>

        <form class="form-horizontal" id="add_notes" action="{% url 'view_test' test.id %}" method="post">{% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn" type="submit" value="Add Note"/>
                </div>
            </div>
        </form>
        <br/>
        <br/>
    </div>
{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}text-highlighter/build/TextHighlighter.min.js"></script>
    <script type="text/javascript">
        $(function () {
            if (document.referrer.indexOf('simple_search') > 0) {
                terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight').split(' ');

                    var hltr = new TextHighlighter(document.body);

                    for (var i = 0; i < terms.length; i++) {
                        hltr.find(terms[i], false);
                    }
                }

                $('input#simple_search').val(terms);
            }
        });
    </script>
{% endblock %}