{% extends "base.html" %}
{% block content %}
    <h4> CheckList </h4>
    Session Management:
    {% if check.session_management == 'Pass' %}
        <span class="text-success"> Pass </span>
    {% elif check.session_management == 'Fail' %}
        <span class="text-error"> Fail </span>
        <div>
            {% for issue in check.session_issues.all %}
                <a href="{% url 'view_finding' issue.id %}">{{ issue.title }} </a>
            {% endfor %}
        </div>

    {% else %}
        N/A
    {% endif %}
    <br>
    Encryption / Crypto
    {% if check.encryption_crypto == 'Pass' %}
        <span class="text-success"> Pass </span>
    {% elif check.encryption_crypto == 'Fail' %}
        <span class="text-error"> Fail </span>
        <div>
            {% for issue in check.crypto_issues.all %}
                <a href="{% url 'view_finding' issue.id %}">{{ issue.title }} </a>
            {% endfor %}
        </div>
    {% else %}
        N/A
    {% endif %}
    <br>
    Configuration Management
    {% if check.configuration_management == 'Pass' %}
        <span class="text-success"> Pass </span>
    {% elif check.configuration_management == 'Fail' %}
        <span class="text-error"> Fail </span>
        <div>
            {% for issue in check.config_issues.all %}
                <a href="{% url 'view_finding' issue.id %}">{{ issue.title }} </a>
            {% endfor %}
        </div>
    {% else %}
        N/A
    {% endif %}
    <br>
    Authentication
    {% if check.authentication == 'Pass' %}
        <span class="text-success"> Pass </span>
    {% elif check.authenttication == 'Fail' %}
        <span class="text-error"> Fail </span>
        <div>
            {% for issue in check.auth_issuses.all %}
                <a href="{% url 'view_finding' issue.id %}">{{ issue.title }} </a>
            {% endfor %}
        </div>
    {% else %}
        N/A
    {% endif %}
    <br>
    Authorizatiton and Access Control
    {% if check.authorization_and_access_control == 'Pass' %}
        <span class="text-success"> Pass </span>
    {% elif check.authorization_and_access_contorl == 'Fail' %}
        <span class="text-error"> Fail </span>
        <div>
            {% for issue in check.author_issues.all %}
                <a href="{% url 'view_finding' issue.id %}">{{ issue.title }} </a>
            {% endfor %}
        </div>
    {% else %}
        N/A
    {% endif %}
    <br>
    Data Input Sanitization and Verification
    {% if check.data_input_sanitization_validation == 'Pass' %}
        <span class="text-success"> Pass </span>
    {% elif check.data_input_sanitization_validation == 'Fail' %}
        <span class="text-error"> Fail </span>
        <div>
            {% for issue in check.data_issues.all %}
                <a href="{% url 'view_finding' issue.id %}">{{ issue.title }} </a>
            {% endfor %}
        </div>
    {% else %}
        N/A
    {% endif %}
    <br>
    sensitive_data
    {% if check.sensitive_data == 'Pass' %}
        <span class="text-success"> Pass </span>
    {% elif check.sensitive_data == 'Fail' %}
        <span class="text-error"> Fail </span>
        <div>
            {% for issue in check.sensitive_issues.all %}
                <a href="{% url 'view_finding' issue.id %}">{{ issue.title }} </a>
            {% endfor %}
        </div>
    {% else %}
        N/A
    {% endif %}
    <br>
    other_issues
    {% if check.other_issues == 'Pass' %}
        <span class="text-success"> Pass </span>
    {% elif check.other_issues == 'Fail' %}
        <span class="text-error"> Fail </span>
        <div>
            {% for issue in check.other_issues.all %}
                <a href="{% url 'view_finding' issue.id %}">{{ issue.title }} </a>
            {% endfor %}
        </div>
    {% else %}
        N/A
    {% endif %}



{% endblock %}
