{% extends "base.html" %}
{% load display_tags %}
{% load get_system_setting %}
{% load humanize %}
{% load static from staticfiles %}
{% block add_styles %}
    .tooltip-inner {
      max-width: 350px;
    }
{% endblock %}
{% block content %}

<div class="row">
  <div id="tests" class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="clearfix">
          <h4 class="pull-left">Virtual Machine Description</h4>
          <div class="dropdown pull-right">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
              data-toggle="dropdown" aria-expanded="true">
              <span class="fa fa-bars"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                <a class="" href="{% url 'edit_vm' vm.id %}">
                  <i class="fa fa-pencil-square-o"></i> Edit Virtual Machine
                </a>
              </li>
              <li role="presentation">
                <a class="" href="{% url 'delete_vm' vm.id %}">
                  <i class="fa fa-close"></i> Delete Virtual Machine
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body">
        {% if vm.description %}
          {{ vm.description|markdown_render }}
        {% else %}
          <small class="text-muted"><em>No virtual machine description.</em></small>
        {% endif %}
      </div>
    </div>

    <div class="panel panel-default table-responsive">
      <div class="panel-heading">
        <h4> Active Engagements ({{vm.current_uses.count}})
        <a title="Add New Engagement" class="pull-right btn btn-sm btn-primary" href="{% url 'add_vm_engagement' vm.id %}"><span
          class="fa fa-plus"></span> </a>
        </h4>
      </div>
        {% if vm.current_uses.count == 0 %}
          <div class="panel-body">
            <p class="text-muted">No active engagements found.</p>
          </div>
        {% else %}
          <div class="table-responsive">
            <table class="tablesorter-bootstrap table table-condensed table-striped table-hover">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Engagement Name</th>
                  <th>Date</th>
                  <th>Tester Assigned</th>
                </tr>
              </thead>
              <tbody>
                {% for eng in vm.current_uses %}
                  <tr>
                    <td>{{eng.engagement.product}}</td>
                    <td style="width: 250px;">
                      <a href="{% url 'view_engagement' eng.engagement.id %}" data-toggle="tooltip" data-placement="bottom" title="{{ eng.engagement.name|default:"N/A" }}">
                        {{ eng.engagement.name|truncatechars:35|default:"N/A" }}</a>
                    </td>
                    <td style="width: 200px;">
                      <a target="#" data-toggle="tooltip" data-placement="bottom" title="{{ eng.engagement.target_start|date:"l, jS F Y" }} - {{ eng.engagement.target_end|date:"l, jS F Y" }}">
                        {{ eng.engagement.target_start|date:"jS F" }} {% if eng.engagement.target_start|datediff_time:eng.engagement.target_end != "1 day" %} - {{ eng.engagement.target_end|date:"jS F" }}{% endif %}
                      </a>
                    </td>
                    <td>{{eng.tester}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>

    <div class="panel panel-default table-responsive">
      <div class="panel-heading">
        <h4> Historical Engagements ({{vm.past_uses.count}})</h4>
      </div>
        {% if vm.past_uses.count == 0 %}
          <div class="panel-body">
            <p class="text-muted">No historical engagements found.</p>
          </div>
        {% else %}
          <div class="table-responsive">
            <table class="tablesorter-bootstrap table table-condensed table-striped table-hover">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Engagement Name</th>
                  <th>Date</th>
                  <th>Tester Assigned</th>
                </tr>
              </thead>
              <tbody>
                {% for eng in vm.past_uses %}
                  <tr>
                    <td>{{eng.engagement.product}}</td>
                    <td style="width: 250px;">
                      <a href="{% url 'view_engagement' eng.engagement.id %}" data-toggle="tooltip" data-placement="bottom" title="{{ eng.engagement.name|default:"N/A" }}">
                        {{ eng.engagement.name|truncatechars:35|default:"N/A" }}</a>
                    </td>
                    <td style="width: 200px;">
                      <a target="#" data-toggle="tooltip" data-placement="bottom" title="{{ eng.engagement.target_start|date:"l, jS F Y" }} - {{ eng.engagement.target_end|date:"l, jS F Y" }}">
                        {{ eng.engagement.target_start|date:"jS F" }} {% if eng.engagement.target_start|datediff_time:eng.engagement.target_end != "1 day" %} - {{ eng.engagement.target_end|date:"jS F" }}{% endif %}
                      </a>
                    </td>
                    <td>{{eng.tester}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>

<!-- Sidebar -->
</div>
<div class="col-md-4">
  <div class="panel panel-default-secondary">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-info-circle fa-fw" aria-hidden="true"></span> Metadata
      </h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td><strong>Dates Till Unused</strong></td>
            <td>{{ vm.days_till_free }}</td>
          </tr>
          <tr>
            <td><strong>Internal IP</strong></td>
            <td>{{ vm.IP }}</td>
          </tr>
          <tr>
            <td><strong>External IP</strong></td>
            <td>{{ vm.externalIP }}</td>
          </tr>
          <tr>
            <td><strong>Current Users</strong></td>
            <td>
              {% if vm.total_uses_count > 0 %}
                <span class="badge badge-count badge-count{{vm.current_uses.count}}">{{ vm.current_uses.count }}</span>
                <ol>
                  {% for e in vm.vm.all %}
                    <li>{{e.tester}}</li>
                  {% endfor %}
                </ol>
              {% else %}
                None
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><strong>Total Uses</strong></td>
            <td>{{ vm.total_uses_count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div class="panel panel-default-secondary">
      <div class="panel-heading">
        <h4><span class="fa fa-key" aria-hidden="true"></span>
          RDP Link
        </h4>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Link</th>
          </tr>
          </thead>
          <tbody>
             <tr>
               <td><a href="rdp://{{vm.fqdn}}=s:{{request.user.username}}:3389">{{vm.fqdn}}</a></td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

</div>
</div>
<div class="protip">
   <i class="fa fa-lightbulb-o"></i> <strong>ProTip!</strong> Type <kbd>e</kbd> to edit this vm. Type <kbd>r</kbd> to RDP.
</div>
{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{% static "jquery-highlight/jquery.highlight.js" %}"></script>
    <script type="application/javascript" src="{% static "jquery.hotkeys/jquery.hotkeys.js" %}"></script>
        <script type="text/javascript">
        $(function () {
            $(document).on('keypress', null, 'e', function () {
              window.location.assign('{% url 'edit_vm' vm.id %}');
            });

            $(document).on('keypress', null, 'r', function () {
                window.location.assign("rdp://{{vm.fqdn}}=s:{{request.user.username}}:3389");
            });

            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
            //Ensures dropdown has proper zindex
            $('.table-responsive').on('show.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "inherit" );
            });

            $('.table-responsive').on('hide.bs.dropdown', function () {
              $('.table-responsive').css( "overflow", "auto" );
            })
            if (document.referrer.indexOf('simple_search') > 0) {
                var terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight').split(' ');

                    for (var i = 0; i < terms.length; i++) {
                        $('body').highlight(terms[i]);
                    }
                }

                $('input#simple_search').val(terms);
            }
        });



    </script>
{% endblock %}
