{% extends "base.html" %}
{% load navigation_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <h3 class="has-filters">
                        Virtual Machines
                        <div class="dropdown pull-right">

                        </div>
                    </h3>
                </div>
                <div id="the-filters" class="panel-body collapse {% if request.META.QUERY_STRING %}in{% endif %}">
                    {% include "dojo/filter_snippet.html" with form=filtered.form %}
                </div>
            </div>
            {% if vms %}

                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=vms page_size=True %}
                </div>

                <div class="table-responsive panel panel-default">
                    <table id="engagements"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                        <tr>
                            <th class="prod_name">{% dojo_sort request 'VM Name' 'short_name' 'asc' %}</th>
                            <th class="prod_name">{% dojo_sort request 'Internal IP' 'IP' %}</th>
                            <th class="prod_name">{% dojo_sort request 'External IP' 'externalIP' %}</th>
                            <th>Active Engagements</th>
                            {% if user.is_staff %}
                                <th> Engagement</th>
                            {% endif %}
                        </tr>

                        {% for v in vms %}
                            <tr>
                                <td class="prod_name"><a href="{% url 'view_vm' v.id %}">{{ v.short_name }}</a>
                                </td>
                                <td class="prod_name">{{ v.IP }}</td>
                                <td class="prod_name">{{ v.externalIP }}</td>
                                <td>
                                    {% for e in v.vm.all %}
                                        {% if e.engagement.active %}
						<div class="lineContainer">
							<a  style="display: inline" class="eng_link" href="{% url 'view_engagement' e.id %}">
                                                {% if e.engagement.name %}{{e.tester}} - {{ e.engagement.name }} {% endif %}{{ e.engagement.target_start }}</a>
							| Lead: {{ e.engagement.lead.first_name }}
                                                        |
                                                        {%  for test in e.engagement.test_set.all %}
								{% if test.lead %}
                                                                {{e.tester}} - <a href="{% url 'view_test' test.id %}"> {{ test.test_type }}: {{ test.lead.first_name }} </a> |
								{% else %}
                                                                {{e.tester}} - <a href="{% url 'view_test' test.id %}"> {{ test.test_type }} </a> |
								{% endif %}
                                                        {% endfor %}
						</div>
                                                <sup>
                                                 {% for tag in e.engagement.tags %}
                                                      <a title="Search {{ tag }}" class="tag-label tag-color" href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                                                  {% endfor %}
                                                </sup>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                {% if user.is_staff %}
                                    <td>
                                        <a class="btn btn-sm btn-success" href="{% url 'add_vm_engagement' v.id %}">
                                            <i class="fa fa-plus"></i> Add
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="clearfix">
                    {% include "dojo/paging_snippet.html" with page=vms page_size=True %}
                </div>
            {% else %}
                <h5> No virtual machines </h5>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block postscript %}
    <script>
        $(function () {
            var availableTags = [
                {% for word in name_words %}
                    "{{word}}",
                {% endfor %}
            ];
            var engWords = [
                {% for word in eng_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_name").autocomplete({
                source: availableTags
            });
            $("#id_engagement__name").autocomplete({
                source: engWords
            });
        });
    </script>
    {% include "dojo/filter_js_snippet.html" %}
{% endblock %}
