{{- if .Values.initializer.run  }}
{{- $fullName := include "defectdojo.fullname" . -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "initializer.jobname" . }}
  labels:
    defectdojo.org/component: initializer
    app.kubernetes.io/name: {{ include "defectdojo.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "defectdojo.chart" . }}
  annotations:
    {{- with .Values.initializer.jobAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ttlSecondsAfterFinished: {{ .Values.initializer.keepSeconds }}
  template:
    metadata:
      labels:
        defectdojo.org/component: initializer
        app.kubernetes.io/name: {{ include "defectdojo.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
      {{- with .Values.initializer.annotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ $fullName }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ .Values.imagePullSecrets }}
      {{- end }}
      # we are mounting a secret which contains client TLS certificates to a
      # temporary directory
      {{- if .Values.postgresql.tls.enabled }}
      volumes:
      - name: run
        emptyDir: {}
      - name: postgresql-tls-volume
        secret:
          secretName: {{ .Values.postgresql.tls.secretName }}
          # we need it permissive to access as low-privileged user
          defaultMode: 0644
      {{- end }}
      containers:
      {{- if .Values.cloudsql.enabled  }}
      - name: cloudsql-proxy
        image: {{ .Values.cloudsql.image.repository }}:{{ .Values.cloudsql.image.tag }}
        imagePullPolicy: {{ .Values.cloudsql.image.pullPolicy }}
        securityContext:
          runAsNonRoot: true
        command: ["/cloud_sql_proxy"]
        args:
        - "-verbose={{ .Values.cloudsql.verbose }}"
        {{- if eq .Values.database "postgresql" }}
        - "-instances={{ .Values.cloudsql.instance }}=tcp:{{ .Values.postgresql.primary.service.ports.postgresql }}"
        {{- else if eq .Values.database "mysql" }}
        - "-instances={{ .Values.cloudsql.instance }}=tcp:{{ .Values.mysql.primary.service.ports.mysql }}"
        {{- end }}
        {{- if .Values.cloudsql.enable_iam_login }}
        - "-enable_iam_login"
        {{- end }}
        {{- if .Values.cloudsql.use_private_ip }}
        - "-ip_address_types=PRIVATE"
        {{- end }}
      {{- end }}
      - name: initializer
        image: "{{ template "initializer.repository" . }}:{{ .Values.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        {{- if .Values.securityContext.enabled }}
        securityContext:
          {{- toYaml .Values.securityContext.djangoSecurityContext | nindent 10 }}
        {{- end }}          
        command:
          - /bin/sh
          - -cx
          - |
            {{- if .Values.postgresql.tls.enabled }}
            cp -a /run/defectdojo/{{ .Values.postgresql.tls.secretName }}/..data/* /run/defectdojo/
            chmod 600 /run/defectdojo/{{ .Values.postgresql.tls.clientKey }}
            {{- end }}
            /entrypoint-initializer.sh
        envFrom:
        - configMapRef:
            name: {{ $fullName }}
        - secretRef:
            name: {{ $fullName }}
        env:
        - name: DD_DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              {{- if eq .Values.database "postgresql" }}
              name: {{ .Values.postgresql.auth.existingSecret }}
              key: {{ .Values.postgresql.auth.secretKeys.userPasswordKey }}
              {{- else if eq .Values.database "postgresqlha" }}
              name: {{ .Values.postgresqlha.postgresql.existingSecret }}
              key: postgresql-postgres-password
              {{- else if eq .Values.database "mysql" }}
              name: {{ .Values.mysql.auth.existingSecret }}
              key: {{ .Values.mysql.auth.secretKey }}
              {{- end }}
        {{- if .Values.extraEnv }}
        {{- toYaml .Values.extraEnv | nindent 8 }}
        {{- end }}
        {{- if .Values.postgresql.tls.enabled }}
        volumeMounts:
        - name: run
          # here we store client TLS certificates
          mountPath: /run/defectdojo
        - name: postgresql-tls-volume
          mountPath: /run/defectdojo/{{ .Values.postgresql.tls.secretName }}
        {{- end }}
        resources:
          {{- toYaml .Values.initializer.resources | nindent 10 }}
      restartPolicy: Never
      {{- with .Values.initializer.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.initializer.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.initializer.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  backoffLimit: 1
{{- end }}
