{{- if .Values.createValkeySecret -}}
apiVersion: v1
kind: Secret
metadata:
  annotations:
    {{- if (not .Values.disableHooks) }}
    helm.sh/resource-policy: keep
    {{- if or (not (lookup "v1" "Secret" .Release.Namespace "defectdojo-redis-specific")) (lookup "v1" "Secret" .Release.Namespace .Values.valkey.auth.existingSecret) }}
    helm.sh/hook: "pre-install"
    {{- else }}
    helm.sh/hook: "pre-upgrade"
    {{- end }}
    helm.sh/hook-delete-policy: "before-hook-creation"
    {{- end }}
    {{- range $key, $value := mergeOverwrite dict .Values.extraAnnotations .Values.secrets.annotations }}
    {{ $key }}: {{ quote $value }}
    {{- end }}
  labels:
    app.kubernetes.io/name: {{ include "defectdojo.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "defectdojo.chart" . }}
    {{- range $key, $value := .Values.extraLabels }}
    {{ $key }}: {{ quote $value }}
    {{- end }}
  name: {{ .Values.valkey.auth.existingSecret }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
{{- if .Values.valkey.auth.password }}
  {{ .Values.valkey.auth.existingSecretPasswordKey }}: {{ .Values.valkey.auth.password | b64enc | quote }}
{{- else }}
  {{ .Values.valkey.auth.existingSecretPasswordKey }}: {{ randAlphaNum 10 | b64enc | quote }}
{{- end }}
{{- end }}

---
{{- if .Values.createRedisSecret -}}
{{- fail "Error: 'createRedisSecret' value is not supported anymore. Because of license reason, DefectDojo migrated to Valkey. Use 'createValkeySecret' instead. To be sure that you Redis is migrated to Valkey correctly, please follow release notes." }}
{{- end }}
{{- if .Values.redis -}}
{{- fail "Error: Redis is not officialy part of DefectDojo stack anymore. If you have any values in `redis:` section in `values.yaml` file, please migrate them to `valkey:` section. If you are using external Redis (or Redis-compatible) instance, related values about your instance needs to be stored in `redisServer` and `redisParams` variables. For more information, please follow release notes." }}
{{- end }}
