{% extends "base.html" %}
{% block content %}
    {% if user.is_staff %}
        <a class="btn btn-primary" href="/product_type/add"> New Product Type </a>
        <br/>
        <br/>
    {% endif %}
    {% if pts %}
        <div class="panel panel-default">
            <table id="product_types" class="tablesorter-bootstrap table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th> Product Type</th>
                    <th> # of Products</th>
                    <th> # of active findings</th>
                    {% if user.is_staff %}
                        <th> Product</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for pt in pts %}
                    <tr>
                        <td><a href="/product_type/{{ pt.id }}/edit"> {{ pt.name }} </a></td>
                        <td> {{ pt.products_count }}</td>
                        <td> {{ pt.findings_count }}</td>
                        {% if user.is_staff %}
                            <td><a href="/product_type/{{ pt.id }}/add_product">
                                <div class="btn btn-sm btn-primary">
                                    Add Product
                                </div>
                            </a></td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No product types found.
    {% endif %}
    {% include "tracker/paging_snippet.html" with page=pts %}
{% endblock %}
