/* DocSearch Variables — DefectDojo Brand */

:root {
    --docsearch-primary-color: #1779C5;
    --docsearch-text-color: #191919;
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: #666666;
    --docsearch-container-background: rgba(25, 25, 25, 0.7);
    --docsearch-logo-color: #1779C5;

    /* modal */
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: rgb(245, 246, 247);
    --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5), 0 3px 8px 0 rgba(25, 25, 25, 0.6);

    /* searchbox */
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: rgb(235, 237, 240);
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);

    /* hit */
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: #333333;
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: #fff;
    --docsearch-hit-shadow: 0 1px 3px 0 rgb(212, 217, 225);

    /* key */
    --docsearch-key-gradient: linear-gradient(-225deg, #DCDCDC 0%, rgb(248, 248, 248) 100%);
    --docsearch-key-shadow: inset 0 -2px 0 0 #B3B3B3, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(25, 25, 25, 0.3);
    --docsearch-key-pressed-shadow: inset 0 -2px 0 0 #B3B3B3, inset 0 0 1px 1px #fff, 0 1px 1px 0 rgba(25, 25, 25, 0.3);
    /* footer */
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: 0 -1px 0 0 #DCDCDC, 0 -3px 6px 0 rgba(23, 121, 197, 0.08);
  }

  /* Dark mode */

  html[data-bs-theme="dark"] {
    --docsearch-text-color: #DCDCDC;
    --docsearch-container-background: rgba(25, 25, 25, 0.85);
    --docsearch-modal-background: #191919;
    --docsearch-modal-shadow: inset 1px 1px 0 0 #333333, 0 3px 8px 0 rgba(0, 0, 0, 0.6);
    --docsearch-searchbox-background: #333333;
    --docsearch-searchbox-focus-background: #191919;
    --docsearch-hit-color: #B3B3B3;
    --docsearch-hit-shadow: none;
    --docsearch-hit-background: #333333;
    --docsearch-key-gradient: linear-gradient(-26.5deg, #666666 0%, #333333 100%);
    --docsearch-key-shadow: inset 0 -2px 0 0 #191919, inset 0 0 1px 1px #666666, 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    --docsearch-key-pressed-shadow: inset 0 -2px 0 0 #191919, inset 0 0 1px 1px #666666, 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    --docsearch-footer-background: #333333;
    --docsearch-footer-shadow: inset 0 1px 0 0 rgba(102, 102, 102, 0.5), 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
    --docsearch-logo-color: #DCDCDC;
    --docsearch-muted-color: #B3B3B3;
  }