{% load navigation_tags %}
{% load display_tags %}
{% load get_system_setting %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% if request.session.dojo_breadcrumbs and not active_tab %}
            {% with request.session.dojo_breadcrumbs|last as last %}
                {{ last.title }}
            {% endwith %}
        {% else %}
            DefectDojo
        {% endif %}
    </title>
    {% block add_css_before %}
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    {% block add_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "jquery-ui/themes/flick/jquery-ui.min.css" %}">
    <link rel="shortcut icon" href="{% static "dojo/img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "fullcalendar/dist/fullcalendar.min.css" %}">
    <link rel="stylesheet" href="{% static "dojo/css/dojo.css" %}">
    <style>
        {% block add_styles %}
        {% endblock %}
    </style>
</head>
<body class="{% dojo_body_class %}">

<div id="wrapper">
    {% block navigation %}
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static "dojo/img/logo.png" %}" alt="DefectDojo Logo" width="240"/>
                </a>

            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <div class="custom-search-form">
                        <form role="search" method="get" action="{% url 'simple_search' %}">
                            <div class="input-group">
                                <input id="simple_search" type="text" name="query" class="form-control"
                                       placeholder="Search...">
	                                    <span class="input-group-btn">
	                                        <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
	                                    </span>
                            </div>
                        </form>
                    </div>
                    <!-- /input-group -->
                </li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-toggle-h{% alert_count %}" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i><span
                            id="alert_count" class="badge badge-count badge-count{% alert_count %}">{% alert_count %}</span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% block settings-dropdown-items %}
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'view_profile' %}"><i
                                        class="fa fa-user fa-fw"></i> {{ request.user.username }}</a>
                                </li>
                                <li><a href="{% url 'api_key' %}"><i class="fa fa-fw fa-key"></i> API v1 Key</a></li>
                                <li><a href="{% url 'api_v2_key' %}"><i class="fa fa-fw fa-key"></i> API v2 Key</a></li>
                            {% endif %}
                            <li><a href="{% url 'tastypie_swagger:index' %}"><i class="fa fa-book fa-fw"></i> API
                                v1 Docs</a></li>
                            <li><a href="{% url 'api_v2_schema' %}"><i class="fa fa-book fa-fw"></i> API
                                v2 Docs</a></li>
                        {% endblock %}
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        {% endif %}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% block sidebar-items %}

                            {% if request.user.is_staff %}
                                <li>
                                    <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> <span>Dashboard</span></a>
                                </li>
                            {% endif %}
                            <li>
                                {% if request.user.is_staff %}
                                    <a href="#"><i class="fa fa-list fa-fw"></i> <span>Products</span>
                                        <span class="glyphicon arrow"></span></a>
                                {% else %}
                                    <a href="{% url 'product' %}" title="Product Listing"><i class="fa fa-list fa-fw"></i> <span>Products</span></a>
                                {% endif %}
                                {% if request.user.is_staff %}
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{% url 'product' %}"> All Products</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'product_type' %}">View Product Types</a>
                                        </li>

                                    </ul>
                                {% endif %}
                                <!-- /.nav-second-level -->
                            </li>
                            {% if request.user.is_staff %}
                                <li>
                                    <a href="#"><i class="fa fa-inbox fa-fw"></i> <span>Engagements</span><span
                                            class="glyphicon arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{% url 'engagement' %}">All Engagements</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'test_type' %}">Test Types</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'dev_env' %}">Development Environments</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-bug fa-fw"></i> <span>Findings</span><span
                                            class="glyphicon arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{% url 'open_findings' %}">Open Findings</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'accepted_findings' %}">Accepted Findings</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'closed_findings' %}">Closed Findings</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'templates' %}">Finding Templates</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> <span>Endpoints</span><span
                                            class="glyphicon arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{% url 'endpoints' %}">All Endpoints</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'vulnerable_endpoints' %}">
                                                Vulnerable Endpoints
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'reports' %}"><i class="fa fa-file-text-o fa-fw"></i> <span>Reports</span><span
                                        class="glyphicon arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="{% url 'reports' %}"> All Reports </a></li>
                                    <li><a href="{% url 'report_builder' %}"> Report Builder </a></li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="/metrics"><i class="fa fa-bar-chart fa-fw"></i> <span>Metrics</span><span
                                        class="glyphicon arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="{% url 'critical_product_metrics' %}"> Critical Product Metrics </a></li>
                                    <li><a href="{% url 'metrics_product_type' %}"> Product Type Metrics </a></li>
                                    <li><a href="{% url 'product_type_counts' %}"> Product Type Counts </a></li>
                                    {% if user.is_staff %}
                                        <li><a href="{% url 'simple_metrics' %}"> Simple Metrics </a></li>
                                        <li><a href="{% url 'engineer_metrics' %}"> Engineer Metrics </a></li>
                                        <li><a href="{% url 'research_metrics' %}"> Security Research Metrics </a></li>
                                    {% endif %}
                                    <li><a href="{% url 'metrics' %}?date=5&view=dashboard"> Metrics Dashboard </a></li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            {% if request.user.is_staff %}
                                <li>
                                    <a href="{% url 'users' %}"><i class="fa fa-user fa-fw"></i> <span>Users</span></a>
                                </li>
                            {% endif %}
                            {% if request.user.is_staff %}
                                <li>
                                    <a href="{% url 'engagement_calendar' %}"><i class="fa fa-calendar fa-fw"></i>
                                        <span>Calendar</span></a>
                                </li>
                            {% endif %}
                                <li>
                                    <a href="{% url 'jira' %}"><i class="fa fa-cog fa-fw"></i>
                                        <span>Configuration</span></a>
                                    <ul class="nav nav-second-level">
                                        <li><a href="{% url 'cred' %}">Credential Manager </a></li>
                                        {% if "enable_jira"|get_system_setting %}
                                        <li><a href="{% url 'jira' %}">JIRA </a></li>
                                        {% endif %}
                                        <li><a href="{% url 'tool_config' %}">Tool Configuration </a></li>
                                        <li><a href="{% url 'tool_type' %}">Tool Type </a></li>
                                        <li><a href="{% url 'notifications' %}">Notifications </a></li>
                                        {% if request.user.is_superuser %}
                                        <li><a href="{% url 'system_settings' %}">System Settings </a></li>
                                        {% endif %}
                                    </ul>
                                </li>

                        {% endblock %}

                        <li id="min-menu">
                            <a href="#" id="minimize-menu">
                                <i id="nav-minimize-menu-li" class="fa fa-arrow-circle-right fa-fw"></i>
                                <span>Collapse Menu</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    {% endblock %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- start of tabs -->
            {% if active_tab %}
            <div class="row">
              <div class="col-md-12">
                <h3 class="no-margin-top">
                    {{ tab_product }}
                    {% if system_settings.enable_benchmark == 9 %}
                      {% for benchmark in tab_benchmarks%}
                        <sup><span class="fa fa-bookmark has-popover" data-trigger="hover" data-content="{{ benchmark|asvs_level }}"></label></span>
                        {{ benchmark.desired_level }}</sup>
                      {% endfor %}
                    {% endif %}
                    {% with grade=tab_product|product_grade %}
                      {% if grade %}
                        <sup><div class="tag-label {{ grade }}">{{ grade }}</div></sup>
                      {% endif %}
                    {% endwith %}
                    {% if tab_product.tags %}
                      <sup>
                          {% for tag in tab_product.tags %}
                          <a title="Search {{ tag }}" class="tag-label tag-color" href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                          {% endfor %}
                      </sup>
                    {% endif %}
                    <!--
                    <small>{{ prod.endpoint_count }}
                        <a href="{% url 'vulnerable_endpoints' %}?product={{ prod.id }}">
                            affected endpoint{{ prod.endpoint_count|pluralize }}
                            <i class="fa fa-arrow-circle-right"></i></a>
                    </small>-->
                </h3>
                <br>
                <ul class="nav nav-tabs horizontal-bar">
                  <li role="presentation"{% if active_tab == 'overview' %} class="active"{% endif %}><a href="{% url 'view_product' tab_product.id %}"><span class="fa fa-globe" aria-hidden="true"></span><span class="hidden-xs"> Overview</span></a></li>
                  <li role="presentation"{% if active_tab == 'metrics' %} class="active"{% endif %}><a href="{% url 'view_product_metrics' tab_product.id %}"><span class="fa fa-bar-chart" aria-hidden="true"></span><span class="hidden-xs"> Metrics</span></a></li>

                  <li role="presentation" class="dropdown{% if active_tab == 'engagements' %} active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-calendar" aria-hidden="true"></span>
                    <span class="hidden-xs"> Engagements{% if tab_engagements.all|length > 0 %} <span class="badge">{{ tab_engagements.all|length }}</span>{% endif %}</span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'view_engagements' tab_product.id %}"><i class="fa fa-calendar"></i> View Engagements</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'new_eng_for_prod' tab_product.id %}"><i class="fa fa-plus"></i> Add New Engagement</a></li>
                    </ul>
                  </li>

                  <li role="presentation" class="dropdown{% if active_tab == 'findings' %} active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-bug" aria-hidden="true"></span>
                    <span class="hidden-xs"> Findings{% if tab_findings|length > 0 %} <span class="badge">{{ tab_findings.all|length }}</span>{% endif %}</span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'product_open_findings' tab_product.id %}?test__engagement__product={{ tab_product.id }}"><i class="fa fa-list-alt"></i> View Open Findings</a></li>
                      <li><a href="{% url 'product_open_findings' tab_product.id %}?test__engagement__product={{ tab_product.id }}&severity=Critical"><i class="fa fa-exclamation-triangle"></i> View Critical Findings</a></li>
                      <li><a href="{% url 'product_open_findings' tab_product.id %}?test__engagement__product={{ tab_product.id }}&date=1"><i class="fa fa-calendar"></i> View Last 7 Days Findings</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'ad_hoc_finding' tab_product.id %}"><i class="fa fa-plus"></i> Add New Finding</a></li>
                    </ul>
                  </li>
                  <!-- Endpoints Tab -->
                  <li role="presentation" class="dropdown{% if active_tab == 'endpoints' %} active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-sitemap" aria-hidden="true"></span>
                    <span class="hidden-xs"> Endpoints{% if tab_endpoints > 0 %} <span class="badge">{{ tab_endpoints }}</span>{% endif %}</span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'endpoints' %}?product={{ tab_product.id }}"><i class="fa fa-list-alt"></i> View Endpoints</a></li>
                      <li><a href="{% url 'vulnerable_endpoints' %}?product={{ tab_product.id }}"><i class="fa fa-sitemap"></i> View Vulnerable Endpoints</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'product_endpoint_report' tab_product.id %}"><i class="fa fa-file-text-o"></i> Endpoint Report</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'add_endpoint' tab_product.id %}"><i class="fa fa-plus"></i> Add New Endpoint</a></li>
                    </ul>
                  </li>
                  <!-- Benchmarks Tab -->
                  {% if system_settings.enable_benchmark %}
                  <li role="presentation" class="dropdown{% if active_tab == 'benchmarks' %} active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-balance-scale" aria-hidden="true"></span>
                    <span class="hidden-xs"> Benchmarks{% if tab_endpoints > 0 %} <span class="badge"></span>{% endif %}</span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {% for bt in tab_benchmarks %}
                      <a title="{{ bt.name }}" href="{% url 'view_product_benchmark' tab_product.id bt.id %}">
                          <li><span class="fa fa-list"></span> {{ bt.name }} {{ bt.version }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endif %}
                  <li role="presentation" class="dropdown{% if active_tab == 'settings' %} active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="fa fa-cogs" aria-hidden="true"></span>
                      <span class="hidden-xs"> Settings</span>
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {% if user.is_staff %}
                        <li role="presentation">
                            <a class="" href="{% url 'edit_product' tab_product.id %}">
                                <i class="fa fa-pencil-square-o"></i> Edit
                            </a>
                        </li>
                        <li role="presentation">
                            <a class="" href="{% url 'add_meta_data' tab_product.id %}">
                                <i class="fa fa-list-alt"></i> Add Metadata
                            </a>
                        </li>
                        <li role="presentation">
                            <a class="" href="{% url 'new_object' tab_product.id %}">
                                <i class="fa fa-list-alt"></i> Add Product Tracking Files
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation">
                            <a href="{% url 'action_history' tab_product|content_type tab_product.id %}">
                                <i class="fa fa-history"></i> View History
                            </a>
                        </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a class="text-danger" href="{% url 'delete_product' tab_product.id %}">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                  </li>

                </ul>
              </div>
            </div>
            {% else %}
            <div class="row hidden-xs">
                <div class="col-lg-12">
                    {% if request.session.dojo_breadcrumbs %}
                        <ul class="breadcrumb main">
                            {% for crumb in request.session.dojo_breadcrumbs %}
                                <li class="{% if forloop.last %}active{% endif %}">
                                    <a class="{% if forloop.last %}active{% endif %}"
                                       href="{{ crumb.url }}">{{ crumb.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <!-- end of tabs -->
            <div class="row">
                <div class="col-lg-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div id="base-content" class="col-lg-12">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-">
                    <p>
                        <a href="{% url 'home' %}"><img class="logo" src="{% static "dojo/img/chop.png" %}"
                                                        alt="DefectDojo Chop" height="45"/></a><br/>
                        {% dojo_version %}
                    </p>
                    <p>
                        Detailed DefectDojo documentation can be found at  <a
                            href="{% dojo_docs_url %}">Read The Docs</a>.
                    </p>
                    <p>
                        DefectDojo is licensed under the <a
                            href="https://github.com/rackerlabs/django-DefectDojo/blob/master/LICENSE.md">Simplified BSD
                        license</a>.
                    </p>
                    <p>
                        &copy; {% now "Y" %} DefectDojo
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static "jquery/dist/jquery.js" %}"></script>
<!--  jQuery UI -->
<script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "metisMenu/dist/metisMenu.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "startbootstrap-sb-admin-2/dist/js/sb-admin-2.js" %}"></script>
<!-- Calendar JavaScript -->
<script src="{% static "moment/min/moment.min.js" %}"></script>
<script src="{% static "fullcalendar/dist/fullcalendar.min.js" %}"></script>
<!-- jquery cookie -->
<script src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
<!-- our JS -->
<script src="{% static "dojo/js/index.js" %}"></script>
<script type="application/javascript">
    $(document).ready(function() {
        $('.has-popover').popover({'trigger':'hover'});
        $('.dropdown-toggle').click(function() { get_alerts(); });

        setInterval(function() {
            update_alertcount();
        }, 10000);

        function update_alertcount() {
            $.get("{% url 'alertcount' %}", function (data) {
                if (data.count != $('#alert_count').text()) {
                    $('#alert_count').text(data.count);
                    $('#alert_count').removeClass().addClass('badge badge-count badge-count' + data.count);
                }
            });
        }

        function get_alerts() {
            $('.dropdown-alerts').html('<div class="text-center"><i class="fa fa-spin fa-spinner"></i></div>');
            $.get("{% url 'alerts_json' %}?limit=12", function (data) {
                $('.dropdown-alerts').empty();
                $.each(data, function(i, elem) {
                    var titleField = elem.fields.title ? elem.fields.title : elem.fields.description;
                    var desc = titleField.length < 50 ? titleField : jQuery.trim(titleField).substring(0,50).trim(this) + '...';
                    $('.dropdown-alerts').append('<li><a href="' + elem.fields.url + '"><div><i class="fa fa-' + elem.fields.icon + ' fa-fw"></i> ' +
                                                  desc + '<span class="pull-right text-muted small">' +
                                                 elem.fields.source + '</span></div></a></li><li class="divider"></li>');
                });
                $('.dropdown-alerts').append('<li><a class="text-center" href="{% url "alerts" %}"><strong>See All Alerts </strong>' +
                                             '<i class="fa fa-angle-right"></i></a></li>');
            });
        }
    });
</script>

{% block postscript %}
{% endblock %}
</body>

</html>
