{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ report_name }}</title>
    <link rel="stylesheet" href="{% static "dojo/css/bootswatch/yeti/bootstrap.min.css" %}">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS style -->
    <link href="{% static "dojo/css/" %}{{ report_css_style }}" rel="stylesheet" type="text/css">
</head>
<body>
{% block content %}
    {{ block.super }}
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>
