{% load display_tags %}
{% load authorization_tags %}
{% load static %}


{% if destination == "Report" %}
    {% if finding.has_endpoints%}
        {% with endpoints=finding.active_endpoints %}
            {% if endpoints %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info endpoints table-responsive">
                            <div class="panel-heading">
                                <h6>Vulnerable Endpoints / Systems ({{ finding.active_endpoint_count }})</h6>
                            </div>
                            <table id="vuln_endpoints" class="table-striped table">
                                <thead>
                                    <th>Endpoint</th>
                                    <th>Status</th>
                                    <th>Date Discovered</th>
                                    <th>Last Modified</th>
                                </thead>
                                <tbody>
                                    {% for endpoint in endpoints %}
                                        <tr>
                                            {% if V3_FEATURE_LOCATIONS %}
                                                <td style="word-break: break-word">{{ endpoint.location }}{% if endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</td>
                                                <td>{{ endpoint.status }}</td>
                                                <td>{{ endpoint.created|date }}</td>
                                                <td>{{ endpoint.audit_time|date}}</td>
                                            {% else %}
                                                {% comment %} TODO: Delete this after the move to Locations {% endcomment %}
                                                <td style="word-break: break-word">{{ endpoint }}{% if endpoint.endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</td>
                                                <td>{{ endpoint.status }}</td>
                                                <td>{{ endpoint.date|date }}</td>
                                                <td>{{ endpoint.last_modified|date}}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        {% with endpoints=finding.mitigated_endpoints %}
            {% if endpoints %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info endpoints table-responsive">
                            <div class="panel-heading">
                                <h6>Mitigated Endpoints / Systems ({{ finding.mitigated_endpoint_count }})</h6>
                            </div>
                            <table id="remd_endpoints" class="table-striped table table-hover">
                                <thead>
                                    <th>Endpoint</th>
                                    <th>Status</th>
                                    {% if V3_FEATURE_LOCATIONS %}
                                        <th>Auditor</th>
                                        <th>Audit Time</th>
                                    {% else %}
                                        {% comment %} TODO: Delete this after the move to Locations {% endcomment %}
                                        <th>Mitigator</th>
                                        <th>Mitigation Time</th>
                                    {% endif %}
                                </thead>
                                <tbody>
                                    {% for endpoint in endpoints %}
                                        <tr>
                                            {% if V3_FEATURE_LOCATIONS %}
                                                <td style="word-break: break-word">{{ endpoint.location }}{% if endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</td>
                                                <td>{{ endpoint.status }}</td>
                                                <td>{{ endpoint.auditor|safe }}</td>
                                                <td>{{ endpoint.audit_time|date }}</td>
                                            {% else %}
                                                {% comment %} TODO: Delete this after the move to Locations {% endcomment %}    
                                                <td style="word-break: break-word">{{ endpoint }}{% if endpoint.endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</td>
                                                <td>{{ endpoint.status }}</td>
                                                <td>{{ endpoint.mitigated_by|safe }}</td>
                                                <td>{{ endpoint.mitigated_time|date }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if finding.file_path %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info endpoints table-responsive">
                    <div class="panel-heading">
                        <h6> Location </h6>
                    </div>
                    <table class="table-striped table table table-condensed table-hover finding-endpoints">
                        <tr>
                            {% if finding.service %}
                                <th style="text-align: left;padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">Service</th>
                            {% endif %}
                            {% if finding.component_name %}
                                <th style="text-align: left;padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">Component</th>
                            {% endif %}
                            {% if finding.component_version %}
                                <th style="text-align: center;padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">Version</th>
                            {% endif %}
                            {% if finding.line > 0 %}
                                <th style="text-align: center;padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">Line Number</th>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if finding.service %}
                                <td style="text-align: left;padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">{{ finding.service }}</td>
                            {% endif %}
                            {% if finding.component_name %}
                                <td style="text-align: left;padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">{{ finding.component_name }}</td>
                            {% endif %}
                            {% if finding.component_version %}
                                <td style="text-align: center;padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">{{ finding.component_version }}</td>
                            {% endif %}
                            {% if finding.line > 0 %}
                                <td style="text-align: center; padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">{{ finding.line }}</td>
                            {% endif %}
                        </tr>
                    </table>
                    <table style="word-wrap: break-word; table-layout: fixed;" class="table-striped table table table-condensed table-hover finding-endpoints">
                        <tr>
                            <th style="text-align: center;padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">File Path</th>
                        </tr>
                        <tr>
                            <td style="padding: 4px;vertical-align: top;border: 1px solid #DDDDDD;">{{ finding.file_path }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    {% with endpoints=finding.active_endpoints %}
        {% if endpoints %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default table-responsive">
                        <div class="panel-heading">
                            <h4>Vulnerable Endpoints / Systems ({{ finding.active_endpoint_count }}) </h4>
                                <span class="pull-right"><a data-toggle="collapse" href="#vuln_endpoints"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a></span>
                            </h4>
                        </div>

                        <table id="vuln_endpoints" class="table-striped table table-hover">
                            <thead>
                                {% if finding|has_object_permission:"Finding_Edit" %}
                                    <th class="" title="Select all vulnerable endpoints." style="width: 10%;">
                                        <form class="inline-form" action="#">
                                            <input type="checkbox" label="select_all_vulnerable" name="select_all_vulnerable" id="select_all_vulnerable"/>
                                        </form>
                                        <span>Select All</span>
                                    </th>
                                {% endif %}
                                <th>Endpoint</th>
                                <th>Status</th>
                                <th>Date Discovered</th>
                                <th>Last Modified</th>
                            </thead>
                            <tbody>
                                {% for endpoint in endpoints %}
                                    <tr>
                                        {% if finding|has_object_permission:"Finding_Edit" %}
                                            <td class="">
                                                <form action="#">
                                                    <input type="checkbox" label="select_vulnerable_{{ endpoint.object_id }}" name="select_vulnerable_{{ endpoint.object_id }}" id="{{ endpoint.object_id }}"
                                                        class="select_one"/>
                                                </form>
                                            </td>
                                        {% endif %}
                                        {% if V3_FEATURE_LOCATIONS %}
                                            <td>
                                                <a data-toggle="tooltip" data-placement="top" data-original-title="{{ endpoint.location }}" title="{{ endpoint.location }}" href="{% url 'view_endpoint' endpoint.object_id %}">{{ endpoint.location|url_shortener }}{% if endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</a>
                                                {% include "dojo/snippets/tags.html" with tags=endpoint.location.tags.all %}
                                            </td>
                                            <td>{{ endpoint.status }}</td>
                                            <td>{{ endpoint.created|date }}</td>
                                            <td>{{ endpoint.audit_time|date}}</td>
                                        {% else %}
                                            {% comment %} TODO: Delete this after the move to Locations {% endcomment %}
                                            <td>
                                                <a data-toggle="tooltip" data-placement="top" data-original-title="{{ endpoint.endpoint }}" title="{{ endpoint.endpoint }}" href="{% url 'view_endpoint' endpoint.object_id %}">{{ endpoint.endpoint|url_shortener }}{% if endpoint.endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</a>
                                                {% include "dojo/snippets/tags.html" with tags=endpoint.endpoint.tags.all %}
                                            </td>
                                            <td>{{ endpoint.status }}</td>
                                            <td>{{ endpoint.date|date }}</td>
                                            <td>{{ endpoint.last_modified|date}}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    {% with endpoints=finding.mitigated_endpoints %}
        {% if endpoints %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default table-responsive">
                        <div class="panel-heading">
                            <h4>Mitigated Endpoints / Systems ({{ finding.mitigated_endpoint_count }})
                                <span class="pull-right"><a data-toggle="collapse" href="#remd_endpoints"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a></span>
                            </h4>
                        </div>
                        <table id="remd_endpoints" class="table-striped table table-hover">
                            <thead>
                                {% if finding|has_object_permission:"Finding_Edit" %}
                                    <th class="" title="Select all mitigated endpoints." style="width: 10%;">
                                        <form class="inline-form" action="#">
                                            <input type="checkbox" label="select_all_mitigated" name="select_all_mitigated" id="select_all_mitigated"/>
                                        </form>
                                        <span>Select All</span>
                                    </th>
                                {% endif %}
                                <th>Endpoint</th>
                                <th>Status</th>
                                {% if V3_FEATURE_LOCATIONS %}
                                    <th>Auditor</th>
                                    <th>Audit Time</th>
                                {% else %}
                                    {% comment %} TODO: Delete this after the move to Locations {% endcomment %}
                                    <th>Mitigator</th>
                                    <th>Mitigation Time</th>
                                {% endif %}
                            </thead>
                            <tbody>
                                {% for endpoint in endpoints %}
                                    <tr>
                                        {% if finding|has_object_permission:"Finding_Edit" %}
                                            <td class="">
                                                <form action="#">
                                                    <input type="checkbox" label="select_mitigated_{{ endpoint.object_id }}" name="select_mitigated_{{ endpoint.object_id }}" id="{{ endpoint.object_id }}"
                                                        class="select_one"/>
                                                </form>
                                            </td>
                                        {% endif %}
                                        {% if V3_FEATURE_LOCATIONS %}
                                            <td>
                                                <a data-toggle="tooltip" data-placement="top" data-original-title="{{ endpoint.location }}" title="{{ endpoint.location }}" href="{% url 'view_endpoint' endpoint.object_id %}">{{ endpoint.location|url_shortener }}{% if endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</a>
                                                {% include "dojo/snippets/tags.html" with tags=endpoint.location.tags.all %}
                                            </td>
                                            <td>{{ endpoint.status }}</td>
                                            <td>{{ endpoint.auditor|safe }}</td>
                                            <td>{{ endpoint.audit_time|date }}</td>
                                        {% else %}
                                            {% comment %} TODO: Delete this after the move to Locations {% endcomment %}
                                            <td>
                                                <a data-toggle="tooltip" data-placement="top" data-original-title="{{ endpoint.endpoint }}" title="{{ endpoint.endpoint }}" href="{% url 'view_endpoint' endpoint.object_id %}">{{ endpoint.endpoint|url_shortener }}{% if endpoint.endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</a>
                                                {% include "dojo/snippets/tags.html" with tags=endpoint.endpoint.tags.all %}
                                            </td>
                                            <td>{{ endpoint.status }}</td>
                                            <td>{{ endpoint.mitigated_by|safe }}</td>
                                            <td>{{ endpoint.mitigated_time|date }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endif %}