{% load humanize %}
{% load display_tags %}
<div class="col-md-12">
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            <h4> {% if status == "open" %}Active{% else %}Closed{% endif %} {% if type == "CI/CD" %}CI/CD{% endif %} Engagements ({{ count }})<a title="Add New Engagement" class="pull-right btn btn-sm btn-primary"
                                       href="{% url 'new_eng_for_prod' prod.id %}"><span
                    class="fa fa-plus"></span> </a></h4>
        </div>
        {% if engs %}
            <table class="tablesorter-bootstrap table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Lead</th>
                    <th>Date</th>
                    <th>Length</th>
                    <th>Tests</th>
                    <th>Open Findings</th>
                    <th>All Findings</th>
                    <th>Duplicate</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for eng in engs %}
                    <tr>
                    <td><a href="{% url 'view_engagement' eng.id %}">{{ eng.name | default:"N/A" }}</a>
                    {% if eng.tags %}
                        <sup>
                            {% for tag in eng.tags %}
                            <a title="Search {{ tag }}" class="tag-label tag-color" href="{% url 'simple_search' %}?query={{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </sup>
                    {% endif %}
                    </td>
                    <td class="nowrap">
                      <div class="align-top">
                        <div class="dropdown">
                          <a href="#" class="dropdown-toggle pull-left" data-toggle="dropdown">&nbsp;<i class="fa fa-ellipsis-v"></i>&nbsp;</a>
                          <ul class="dropdown-menu">
                             <li>
                               <a class="" href="{% url 'view_engagement' eng.id %}">
                                 <i class="fa fa-list-alt"></i> View
                             </li>
                             <li>
                               <a class="" href="{% url 'edit_engagement' eng.id %}">
                                 <i class="fa fa-pencil-square-o"></i> Edit
                               </a>
                            </li>
                            <li>
                              </a>
                              {% if status == "open" %}
                              <a class="" href="{% url 'close_engagement' eng.id %}">
                                <i class="fa fa-close"></i> Close
                              {% else %}
                              <a class="" href="{% url 'reopen_engagement' eng.id %}">
                                <i class="fa fa-undo"></i> Reopen
                              </a>
                              {% endif %}
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <a class="text-danger" href="{% url 'delete_engagement' eng.id %}">
                                  <i class="fa fa-trash-o"></i> Delete Engagement
                              </a>
                            </li>
                           </ul>
                         </li>
                     </ul>
                    </td>
                    <td>
                      {% if eng.lead.get_full_name and eng.lead.get_full_name.strip %}
                          {{ eng.lead.get_full_name }}
                      {% else %}
                          {{ eng.lead|default_if_none:""}}
                      {% endif %}
                    </td>
                    <td>{{ eng.target_start }} - {{ eng.target_end }}</td>
                    <td>{{ eng.target_start|datediff_time:eng.target_end }}
                      {% if status == "open" %}
                        {% if eng.target_end|overdue %}
                        <sup>
                          <div class="tag-label warning-color">
                            {{ eng.target_end|overdue }} overdue
                          </div>
                        </sup>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td><a class="" href="{% url 'view_engagement' eng.id %}">{{ eng.test_set.all|length }}</a>
                    {% if eng.test_set.all|length %}
                      <i class="fa dojo-sup fa-list has-popover" data-html="true" data-trigger="hover" data-content="
                      {% for test in eng.test_set.all %}
                        {{test.test_type}}<br/>
                      {% endfor %}
                      " data-placement="right" data-container="body" data-original-title="Tests" title="">
                    {% endif %}
                    </td>
                    <td>{{ eng|count_findings_eng_open }}</td>
                    <td>{{ eng|count_findings_eng_all }}</td>
                    <td>{{ eng|count_findings_eng_duplicate }}</td>
                    <td>{{ eng.updated|naturaltime|default_if_none:"" }}</td>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">
                <p class="text-center">No {% if status == "open" %}active{% else %}closed{% endif %} engagements found.</p>
            </div>
        {% endif %}
    </div>
    <div class="clearfix">
        {% include "dojo/paging_snippet.html" with page=engs parm_name=parm_name page_size=True %}
    </div>
</div>
