{% load static %}
<script type="application/javascript">
    $('.dropdown-menu').on('click', function(event) {
        event.stopPropagation();
    });


    $('.selectpicker').selectpicker({
        container: 'body'
    });

    $('body').on('click', function(event) {
        var target = $(event.target);
        if (target.parents('.bootstrap-select').length) {
            event.stopPropagation();
            $('.bootstrap-select.open').removeClass('open');
        }
        var hasClass = $('.bs-container').hasClass('open');
        if (hasClass) {
            $('.bs-container').removeClass('open');
        }
    });	
</script>