<div class="form-inline">
    {% include "../../snippets/form/field.html" with field=form.title inline=True label_as_block=True only %}
    {% include "../../snippets/form/field.html" with field=form.images inline=True label_as_block=True only %}
</div>

{% include "../../snippets/form/field.html" with field=form.template only %}
{% include "../../snippets/form/field.html" with field=form.template_config field_class="monospace" only %}
<button type="submit" class="btn btn-secondary" name="{{ form.load_default_template_config.html_name }}" value="true">
    Load defaults for selected template
</button>
