interactions:
- request:
    body: '{"description": "Event test_added has occurred.", "title": "Test created
      for Security How-to: 1st Quarter Engagement: NPM Audit Scan", "user": null,
      "url_ui": "http://localhost:8080/test/127", "url_api": "http://localhost:8080/api/v2/tests/127/",
      "product_type": {"name": "ebooks", "id": 2, "url_ui": "http://localhost:8080/product/type/2",
      "url_api": "http://localhost:8080/api/v2/product_types/2/"}, "product": {"name":
      "Security How-to", "id": 2, "url_ui": "http://localhost:8080/product/2", "url_api":
      "http://localhost:8080/api/v2/products/2/"}, "engagement": {"name": "1st Quarter
      Engagement", "id": 1, "url_ui": "http://localhost:8080/engagement/1", "url_api":
      "http://localhost:8080/api/v2/engagements/1/"}, "test": {"title": null, "id":
      127, "url_ui": "http://localhost:8080/test/127", "url_api": "http://localhost:8080/api/v2/tests/127/"}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - test_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/json\"\n
        \   ],\n    \"Accept-Encoding\": [\n      \"gzip, deflate\"\n    ],\n    \"Auth\":
        [\n      \"Token xxx\"\n    ],\n    \"Connection\": [\n      \"keep-alive\"\n
        \   ],\n    \"Content-Length\": [\n      \"849\"\n    ],\n    \"Content-Type\":
        [\n      \"application/json\"\n    ],\n    \"Host\": [\n      \"webhook.endpoint:8080\"\n
        \   ],\n    \"User-Agent\": [\n      \"DefectDojo-2.54.1\"\n    ],\n    \"X-Defectdojo-Event\":
        [\n      \"test_added\"\n    ],\n    \"X-Defectdojo-Instance\": [\n      \"http://localhost:8080\"\n
        \   ]\n  },\n  \"method\": \"POST\",\n  \"origin\": \"172.19.0.7\",\n  \"url\":
        \"http://webhook.endpoint:8080/post\",\n  \"data\": \"{\\\"description\\\":
        \\\"Event test_added has occurred.\\\", \\\"title\\\": \\\"Test created for
        Security How-to: 1st Quarter Engagement: NPM Audit Scan\\\", \\\"user\\\":
        null, \\\"url_ui\\\": \\\"http://localhost:8080/test/127\\\", \\\"url_api\\\":
        \\\"http://localhost:8080/api/v2/tests/127/\\\", \\\"product_type\\\": {\\\"name\\\":
        \\\"ebooks\\\", \\\"id\\\": 2, \\\"url_ui\\\": \\\"http://localhost:8080/product/type/2\\\",
        \\\"url_api\\\": \\\"http://localhost:8080/api/v2/product_types/2/\\\"}, \\\"product\\\":
        {\\\"name\\\": \\\"Security How-to\\\", \\\"id\\\": 2, \\\"url_ui\\\": \\\"http://localhost:8080/product/2\\\",
        \\\"url_api\\\": \\\"http://localhost:8080/api/v2/products/2/\\\"}, \\\"engagement\\\":
        {\\\"name\\\": \\\"1st Quarter Engagement\\\", \\\"id\\\": 1, \\\"url_ui\\\":
        \\\"http://localhost:8080/engagement/1\\\", \\\"url_api\\\": \\\"http://localhost:8080/api/v2/engagements/1/\\\"},
        \\\"test\\\": {\\\"title\\\": null, \\\"id\\\": 127, \\\"url_ui\\\": \\\"http://localhost:8080/test/127\\\",
        \\\"url_api\\\": \\\"http://localhost:8080/api/v2/tests/127/\\\"}}\",\n  \"files\":
        {},\n  \"form\": {},\n  \"json\": {\n    \"description\": \"Event test_added
        has occurred.\",\n    \"engagement\": {\n      \"id\": 1,\n      \"name\":
        \"1st Quarter Engagement\",\n      \"url_api\": \"http://localhost:8080/api/v2/engagements/1/\",\n
        \     \"url_ui\": \"http://localhost:8080/engagement/1\"\n    },\n    \"product\":
        {\n      \"id\": 2,\n      \"name\": \"Security How-to\",\n      \"url_api\":
        \"http://localhost:8080/api/v2/products/2/\",\n      \"url_ui\": \"http://localhost:8080/product/2\"\n
        \   },\n    \"product_type\": {\n      \"id\": 2,\n      \"name\": \"ebooks\",\n
        \     \"url_api\": \"http://localhost:8080/api/v2/product_types/2/\",\n      \"url_ui\":
        \"http://localhost:8080/product/type/2\"\n    },\n    \"test\": {\n      \"id\":
        127,\n      \"title\": null,\n      \"url_api\": \"http://localhost:8080/api/v2/tests/127/\",\n
        \     \"url_ui\": \"http://localhost:8080/test/127\"\n    },\n    \"title\":
        \"Test created for Security How-to: 1st Quarter Engagement: NPM Audit Scan\",\n
        \   \"url_api\": \"http://localhost:8080/api/v2/tests/127/\",\n    \"url_ui\":
        \"http://localhost:8080/test/127\",\n    \"user\": null\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Event scan_added has occurred.", "title": "Created/Updated
      5 findings for Security How-to: 1st Quarter Engagement: NPM Audit Scan", "user":
      null, "url_ui": "http://localhost:8080/test/127", "url_api": "http://localhost:8080/api/v2/tests/127/",
      "product_type": {"name": "ebooks", "id": 2, "url_ui": "http://localhost:8080/product/type/2",
      "url_api": "http://localhost:8080/api/v2/product_types/2/"}, "product": {"name":
      "Security How-to", "id": 2, "url_ui": "http://localhost:8080/product/2", "url_api":
      "http://localhost:8080/api/v2/products/2/"}, "engagement": {"name": "1st Quarter
      Engagement", "id": 1, "url_ui": "http://localhost:8080/engagement/1", "url_api":
      "http://localhost:8080/api/v2/engagements/1/"}, "test": {"title": null, "id":
      127, "url_ui": "http://localhost:8080/test/127", "url_api": "http://localhost:8080/api/v2/tests/127/"},
      "finding_count": 5, "findings": {"new": [{"id": 360, "title": "2222Regular Expression
      Denial of Service - (Negotiator, <= 0.6.0)", "severity": "High", "url_ui": "http://localhost:8080/finding/360",
      "url_api": "http://localhost:8080/api/v2/findings/360/"}, {"id": 361, "title":
      "Remote Code Execution - (Pg, < 2.11.2 || >= 3.0.0 < 3.6.4 ||  >= 4.0.0 < 4.5.7
      || >= 5.0.0 < 5.2.1 || >= 6.0.0 < 6.0.5 || >= 6.1.0 < 6.1.6 || >= 6.2.0 < 6.2.5
      || >= 6.3.0 < 6.3.3 || >= 6.4.0 < 6.4.2 || >= 7.0.0 < 7.0.2 || >= 7.1.0 < 7.1.2)",
      "severity": "High", "url_ui": "http://localhost:8080/finding/361", "url_api":
      "http://localhost:8080/api/v2/findings/361/"}, {"id": 359, "title": "Regular
      Expression Denial of Service - (Negotiator, <= 0.6.0)", "severity": "Medium",
      "url_ui": "http://localhost:8080/finding/359", "url_api": "http://localhost:8080/api/v2/findings/359/"},
      {"id": 362, "title": "Regular Expression Denial of Service - (Fresh, < 0.5.2)",
      "severity": "Medium", "url_ui": "http://localhost:8080/finding/362", "url_api":
      "http://localhost:8080/api/v2/findings/362/"}, {"id": 363, "title": "2222Remote
      Code Execution - (Pg, < 2.11.2 || >= 3.0.0 < 3.6.4 ||  >= 4.0.0 < 4.5.7 || >=
      5.0.0 < 5.2.1 || >= 6.0.0 < 6.0.5 || >= 6.1.0 < 6.1.6 || >= 6.2.0 < 6.2.5 ||
      >= 6.3.0 < 6.3.3 || >= 6.4.0 < 6.4.2 || >= 7.0.0 < 7.0.2 || >= 7.1.0 < 7.1.2)",
      "severity": "Medium", "url_ui": "http://localhost:8080/finding/363", "url_api":
      "http://localhost:8080/api/v2/findings/363/"}], "reactivated": [], "mitigated":
      [], "untouched": []}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - scan_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/json\"\n
        \   ],\n    \"Accept-Encoding\": [\n      \"gzip, deflate\"\n    ],\n    \"Auth\":
        [\n      \"Token xx[...]
