interactions:
- request:
    body: '{"description": "Event test_added has occurred.", "title": "Test created
      for Security How-to: 1st Quarter Engagement: ZAP Scan", "user": null, "url_ui":
      "http://localhost:8080/test/134", "url_api": "http://localhost:8080/api/v2/tests/134/",
      "product_type": {"name": "ebooks", "id": 2, "url_ui": "http://localhost:8080/product/type/2",
      "url_api": "http://localhost:8080/api/v2/product_types/2/"}, "product": {"name":
      "Security How-to", "id": 2, "url_ui": "http://localhost:8080/product/2", "url_api":
      "http://localhost:8080/api/v2/products/2/"}, "engagement": {"name": "1st Quarter
      Engagement", "id": 1, "url_ui": "http://localhost:8080/engagement/1", "url_api":
      "http://localhost:8080/api/v2/engagements/1/"}, "test": {"title": null, "id":
      134, "url_ui": "http://localhost:8080/test/134", "url_api": "http://localhost:8080/api/v2/tests/134/"}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - test_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/json\"\n
        \   ],\n    \"Accept-Encoding\": [\n      \"gzip, deflate\"\n    ],\n    \"Auth\":
        [\n      \"Token xxx\"\n    ],\n    \"Connection\": [\n      \"keep-alive\"\n
        \   ],\n    \"Content-Length\": [\n      \"843\"\n    ],\n    \"Content-Type\":
        [\n      \"application/json\"\n    ],\n    \"Host\": [\n      \"webhook.endpoint:8080\"\n
        \   ],\n    \"User-Agent\": [\n      \"DefectDojo-2.48.4\"\n    ],\n    \"X-Defectdojo-Event\":
        [\n      \"test_added\"\n    ],\n    \"X-Defectdojo-Instance\": [\n      \"http://localhost:8080\"\n
        \   ]\n  },\n  \"method\": \"POST\",\n  \"origin\": \"10.250.1.7\",\n  \"url\":
        \"http://webhook.endpoint:8080/post\",\n  \"data\": \"{\\\"description\\\":
        \\\"Event test_added has occurred.\\\", \\\"title\\\": \\\"Test created for
        Security How-to: 1st Quarter Engagement: ZAP Scan\\\", \\\"user\\\": null,
        \\\"url_ui\\\": \\\"http://localhost:8080/test/134\\\", \\\"url_api\\\": \\\"http://localhost:8080/api/v2/tests/134/\\\",
        \\\"product_type\\\": {\\\"name\\\": \\\"ebooks\\\", \\\"id\\\": 2, \\\"url_ui\\\":
        \\\"http://localhost:8080/product/type/2\\\", \\\"url_api\\\": \\\"http://localhost:8080/api/v2/product_types/2/\\\"},
        \\\"product\\\": {\\\"name\\\": \\\"Security How-to\\\", \\\"id\\\": 2, \\\"url_ui\\\":
        \\\"http://localhost:8080/product/2\\\", \\\"url_api\\\": \\\"http://localhost:8080/api/v2/products/2/\\\"},
        \\\"engagement\\\": {\\\"name\\\": \\\"1st Quarter Engagement\\\", \\\"id\\\":
        1, \\\"url_ui\\\": \\\"http://localhost:8080/engagement/1\\\", \\\"url_api\\\":
        \\\"http://localhost:8080/api/v2/engagements/1/\\\"}, \\\"test\\\": {\\\"title\\\":
        null, \\\"id\\\": 134, \\\"url_ui\\\": \\\"http://localhost:8080/test/134\\\",
        \\\"url_api\\\": \\\"http://localhost:8080/api/v2/tests/134/\\\"}}\",\n  \"files\":
        {},\n  \"form\": {},\n  \"json\": {\n    \"description\": \"Event test_added
        has occurred.\",\n    \"engagement\": {\n      \"id\": 1,\n      \"name\":
        \"1st Quarter Engagement\",\n      \"url_api\": \"http://localhost:8080/api/v2/engagements/1/\",\n
        \     \"url_ui\": \"http://localhost:8080/engagement/1\"\n    },\n    \"product\":
        {\n      \"id\": 2,\n      \"name\": \"Security How-to\",\n      \"url_api\":
        \"http://localhost:8080/api/v2/products/2/\",\n      \"url_ui\": \"http://localhost:8080/product/2\"\n
        \   },\n    \"product_type\": {\n      \"id\": 2,\n      \"name\": \"ebooks\",\n
        \     \"url_api\": \"http://localhost:8080/api/v2/product_types/2/\",\n      \"url_ui\":
        \"http://localhost:8080/product/type/2\"\n    },\n    \"test\": {\n      \"id\":
        134,\n      \"title\": null,\n      \"url_api\": \"http://localhost:8080/api/v2/tests/134/\",\n
        \     \"url_ui\": \"http://localhost:8080/test/134\"\n    },\n    \"title\":
        \"Test created for Security How-to: 1st Quarter Engagement: ZAP Scan\",\n
        \   \"url_api\": \"http://localhost:8080/api/v2/tests/134/\",\n    \"url_ui\":
        \"http://localhost:8080/test/134\",\n    \"user\": null\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Event scan_added has occurred.", "title": "Created/Updated
      2 findings for Security How-to: 1st Quarter Engagement: ZAP Scan", "user": null,
      "url_ui": "http://localhost:8080/test/134", "url_api": "http://localhost:8080/api/v2/tests/134/",
      "product_type": {"name": "ebooks", "id": 2, "url_ui": "http://localhost:8080/product/type/2",
      "url_api": "http://localhost:8080/api/v2/product_types/2/"}, "product": {"name":
      "Security How-to", "id": 2, "url_ui": "http://localhost:8080/product/2", "url_api":
      "http://localhost:8080/api/v2/products/2/"}, "engagement": {"name": "1st Quarter
      Engagement", "id": 1, "url_ui": "http://localhost:8080/engagement/1", "url_api":
      "http://localhost:8080/api/v2/engagements/1/"}, "test": {"title": null, "id":
      134, "url_ui": "http://localhost:8080/test/134", "url_api": "http://localhost:8080/api/v2/tests/134/"},
      "finding_count": 2, "findings": {"new": [{"id": 384, "title": "Zap1: Cookie
      Without Secure Flag", "severity": "Low", "url_ui": "http://localhost:8080/finding/384",
      "url_api": "http://localhost:8080/api/v2/findings/384/"}, {"id": 385, "title":
      "Zap2: Cookie Without Secure Flag", "severity": "Low", "url_ui": "http://localhost:8080/finding/385",
      "url_api": "http://localhost:8080/api/v2/findings/385/"}], "reactivated": [],
      "mitigated": [], "untouched": []}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - scan_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/json\"\n
        \   ],\n    \"Accept-Encoding\": [\n      \"gzip, deflate\"\n    ],\n    \"Auth\":
        [\n      \"Token xx[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/serverInfo
  response:
    body:
      string: '{"baseUrl":"https://defectdojo.atlassian.net","displayUrl":"https://defectdojo.atlassian.net","displayUrlServicedeskHelpCenter":"https://defectdojo.atlassian.net","displayUrlConfluence":"https://defectdojo.atlassian.net","version":"1001.0.0-SNAPSHOT","versionNumbers":[1001,0,0],"deploymentType":"Cloud","buildNumber":100287,"buildDate":"2025-07-24T13:05:26.000+0200","serverTime":"2025-07-25T21:16:44.042+0200","scmInfo":"0139ea21e0f8b5dafbd2e1eb33923e0c468b7f69","serverTitle":"Jira","defaultLocale":{"locale":"en_US"},"serverTimeZone":"Etc/UTC"}'
    headers:
      Atl-Request-Id:
      - 2d0dcfcd-a5a8-4869-a829-2ff70dc976c6
      Atl-Traceid:
      - 2d0dcfcda5a84869a8292ff70dc976c6
      Content-Type:
      - application/json;charset=UTF-8
      X-Aaccountid:
      - 712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5
      X-Arequestid:
      - c86bcc070af893dba9693a3e7aa83a69
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/createmeta?projectKeys=NTEST&issuetypeNames=Task&expand=projects.issuetypes.fields
  response:
    body:
      string: '{"expand":"projects","projects":[{"expand":"issuetypes","self":"https://defectdojo.atlassian.net/rest/api/2/project/10000","id":"10000","key":"NTEST","name":"Unittests","avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=xsmall","32x32":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=medium"},"issuetypes":[{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10002","id":"10002","description":"A
        small, distinct piece of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","untranslatedName":"Task","subtask":false,"hierarchyLevel":0,"expand":"fields","fields":{"summary":{"required":true,"schema":{"type":"string","system":"summary"},"name":"Summary","key":"summary","hasDefaultValue":false,"operations":["set"]},"issuetype":{"required":true,"schema":{"type":"issuetype","system":"issuetype"},"name":"Issue
        Type","key":"issuetype","hasDefaultValue":false,"operations":[],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10002","id":"10002","description":"A
        small, distinct piece of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","subtask":false,"avatarId":10318,"hierarchyLevel":0}]},"parent":{"required":false,"schema":{"type":"issuelink","system":"parent"},"name":"Parent","key":"parent","hasDefaultValue":false,"operations":["set"]},"components":{"required":false,"schema":{"type":"array","items":"component","system":"components"},"name":"Components","key":"components","hasDefaultValue":false,"operations":["add","set","remove"],"allowedValues":[]},"description":{"required":false,"schema":{"type":"string","system":"description"},"name":"Description","key":"description","hasDefaultValue":false,"operations":["set"]},"project":{"required":true,"schema":{"type":"project","system":"project"},"name":"Project","key":"project","hasDefaultValue":false,"operations":["set"],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/project/10000","id":"10000","key":"NTEST","name":"Unittests","projectTypeKey":"software","simplified":false,"avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=xsmall","32x32":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=medium"}}]},"fixVersions":{"required":false,"schema":{"type":"array","items":"version","system":"fixVersions"},"name":"Fix
        versions","key":"fixVersions","hasDefaultValue":false,"operations":["set","add","remove"],"allowedValues":[]},"priority":{"required":false,"schema":{"type":"priority","system":"priority"},"name":"Priority","key":"priority","hasDefaultValue":true,"operations":["set"],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/1","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/highest_new.svg","name":"Highest","id":"1"},{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/2","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/high_new.svg","name":"High","id":"2"},{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/3","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/medium_new.svg","name":"Medium","id":"3"},{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/4","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/low_new.svg","name":"Low","id":"4"},{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/5","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/lowest_new.svg","name":"Lowest","id":"5"}],"defaultValue":{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/3","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/medium_new.svg","name":"Medium","id":"3"}},"customfield_10014":{"required":false,"schema":{"type":"any","custom":"com.pyxis.greenhopper.jira:gh-epic-link","customId":10014},"name":"Epic
        Link","key":"customfield_10014","hasDefaultValue":false,"operations":["set"]},"labels":{"required":false,"schema":{"type":"array","items":"string","system":"labels"},"name":"Labels","key":"labels","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/1.0/labels/suggest?query=","hasDefaultValue":false,"operations":["add","set","remove"]},"attachment":{"required":false,"schema":{"type":"array","items":"attachment","system":"attachment"},"name":"Attachment","key":"attachment","hasDefaultValue":false,"operations":["set","copy"]},"issuelinks":{"required":false,"schema":{"type":"array","items":"issuelinks","system":"issuelinks"},"name":"Linked
        Issues","key":"issuelinks","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/2/issue/picker?currentProjectId=&showSubTaskParent=true&showSubTasks=true&currentIssueKey=null&query=","hasDefaultValue":false,"operations":["add","copy"]},"assignee":{"required":false,"schema":{"type":"user","system":"assignee"},"name":"Assignee","key":"assignee","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/2/user/assignable/search?project=NTEST&query=","hasDefaultValue":false,"operations":["set"]}}}]}]}'
    headers:
      Atl-Request-Id:
      - 20eefe29-f3e3-4bbe-915b-6694d37ac4e9
      Atl-Traceid:
      - 20eefe29f3e34bbe915b6694d37ac4e9
      Content-Type:
      - application/json;charset=UTF-8
      Warning:
      - 'The issue create meta endpoint has been deprecated. (Deprecation start date:
        June 03, 2024)'
      X-Aaccountid:
      - 712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5
      X-Arequestid:
      - 6de14137a5c108f21da02ad3f5bf99f9
    status:
      code: 200
      message: OK
- request:
    body: '{"fields": {"project": {"key": "NTEST"}, "issuetype": {"name": "Task"},
      "summary": "CVE-2018-20839 - (Systemd, 237-3ubuntu10.29)", "description": "\n\n\n\n\n\n\n*Title*:
      [CVE-2018-20839 - (Systemd, 237-3ubuntu10.29)|http://localhost:8080/finding/386]\n\n*Defect
      Dojo link:* http://localhost:8080/finding/386 (386)\n\n*Severity:* Medium\n\n\n*Due
      Date:* Oct. 23, 2025\n\n\n\n\n\n*CVE:* [CVE-2018-20839|https://nvd.nist.gov/vuln/detail/CVE-2018-20839]\n\n\n\n\n*Product/Engagement/Test:*
      [Security How-to|http://localhost:8080/product/2] / [1st Quarter Engagement|http://localhost:8080/engagement/1]
      / [Clair Scan|http://localhost:8080/test/135]\n\n\n\n\n\n\n\n\n\n\n\n*Vulnerable
      Component*: systemd - 237-3ubuntu10.29\n\n\n\n\n\n\n\n*Description*:\nsystemd
      242 changes the VT1 mode upon a logout, which allows attackers to read[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/NTEST-3157
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations,customfield_10010.requestTypePractice","id":"21336","self":"https://defectdojo.atlassian.net/rest/api/2/issue/21336","key":"NTEST-3157","fields":{"statuscategorychangedate":"2025-07-25T21:16:47.104+0200","fixVersions":[],"statusCategory":{"self":"https://defectdojo.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"},"resolution":null,"lastViewed":null,"customfield_10060":null,"customfield_10061":null,"customfield_10062":null,"customfield_10063":null,"customfield_10064":null,"customfield_10065":null,"customfield_10066":null,"priority":{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/3","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/medium_new.svg","name":"Medium","id":"3"},"labels":[],"timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[],"assignee":null,"status":{"self":"https://defectdojo.atlassian.net/rest/api/2/status/10000","description":"","iconUrl":"https://defectdojo.atlassian.net/","name":"Backlog","id":"10000","statusCategory":{"self":"https://defectdojo.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"}},"components":[],"customfield_10050":null,"customfield_10051":null,"customfield_10053":null,"customfield_10055":null,"customfield_10056":null,"customfield_10057":null,"customfield_10058":null,"customfield_10059":null,"customfield_10049":null,"aggregatetimeestimate":null,"creator":{"self":"https://defectdojo.atlassian.net/rest/api/2/user?accountId=712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5","accountId":"712020:292a8b4c-ebd5-44be-bb94-d07c56a14dc5","emailAddress":"valentijn@defectdojo.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/d05de848fe8cc7816c52a5e34e327bad?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVS-3.png","24x24":"https://secure.gravatar.com/avatar/d05de848fe8cc7816c52a5e34e327bad?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVS-3.png","16x16":"https://secure.gravatar.com/avatar/d05de848fe8cc7816c52a5e34e327bad?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVS-3.png","32x32":"https://secure.gravatar.com/avatar/d05de848fe8cc7816c52a5e34e327bad?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVS-3.png"},"displayName":"Valentijn
        Scholten","active":true,"timeZone":"Europe/Zurich","accountType":"atlassian"},"subtasks":[],"customfield_10040":null,"customfield_10041":null,"customfield_10042":null,"reporter":{"self":"https://defectdojo.atlassian.net/rest/api/2/user?accountId=712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5","accountId":"712020:292a8b4c-ebd5-44be-bb94-d07c56a14dc5","emailAddress":"valentijn@defectdojo.com","avatarUrls":{"48x48":"https://secure.gravatar.com/avatar/d05de848fe8cc7816c52a5e34e327bad?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVS-3.png","24x24":"https://secure.gravatar.com/avatar/d05de848fe8cc7816c52a5e34e327bad?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVS-3.png","16x16":"https://secure.gravatar.com/avatar/d05de848fe8cc7816c52a5e34e327bad?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVS-3.png","32x32":"https://secure.gravatar.com/avatar/d05de848fe8cc7816c52a5e34e327bad?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FVS-3.png"},"displayName":"Valentijn
        Scholten","active":true,"timeZone":"Europe/Zurich","accountType":"atlassian"},"customfield_10043":null,"aggregateprogress":{"progress":0,"total":0},"customfield_10044":null,"customfield_10045":null,"customfield_10046":null,"customfield_10047":null,"customfield_10048":null,"customfield_10038":null,"customfield_10039":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://defectdojo.atlassian.net/rest/api/2/issue/NTEST-3157/votes","votes":0,"hasVoted":false},"worklog":{"startAt":0,"maxResults":20,"total":0,"worklogs":[]},"issuetype":{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10002","id":"10002","description":"A
        small, distinct piece of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","subtask":false,"avatarId":10318,"hierarchyLevel":0},"timespent":null,"customfield_10030":null,"project":{"self":"https://defectdojo.atlassian.net/rest/api/2/project/10000","id":"10000","key":"NTEST","name":"Unittests","projectTypeKey":"software","simplified":false,"avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=xsmall","32x32":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=medium"}},"customfield_10031":null,"customfield_10032":null,"customfield_10033":null,"aggregatetimespent":null,"customfield_10035":null,"customfield_10036":null,"customfield_10037":null,"customfield_10027":null,"customfield_10028":null,"customfield_10029":null,"resolutiondate":null,"workratio":-1,"watches":{"self":"https://defectdojo.atlassian.net/rest/api/2/issue/NTEST-3157/watchers","watchCount":1,"isWatching":true},"created":"2025-07-25T21:16:46.813+0200","customfield_10020":null,"customfield_10021":null,"customfield_10022":null,"customfield_10023":null,"customfield_10016":null,"customfield_10017":null,"customfield_10019":"0|i012o7:","updated":"2025-07-25T21:16:46.895+0200","timeoriginalestimate":null,"description":"\n\n\n\n\n\n\n*Title*:
        [CVE-2018-20839 - (Systemd, 237-3ubuntu10.29)|http://localhost:8080/finding/386]\n\n*Defect
        Dojo link:* http://localhost:8080/finding/386 (386)\n\n*Severity:* Medium\n\n\n*Due
        Date:* Oct. 23, 2025\n\n\n\n\n\n*CVE:* [CVE-2018-20839|https://nvd.nist.gov/vuln/detail/CVE-2018-20839]\n\n\n\n\n*Product/Engagement/Test:*
        [Security How-to|http://localhost:8080/product/2] / [1st Quarter Engagement|http://localhost:8080/engagement/1]
        / [Clair Scan|http://localhost:8080/test/135]\n\n\n\n\n\n\n\n\n\n\n\n*Vulnerable
        Component*: systemd - 237-3ubuntu10.29\n\n\n\n\n\n\n\n*Description*:\nsystemd
        242 changes the VT1 mode upon a logout, which allows attackers to read cleartext
        passwords in certain circumstances, such as watching a shutdown, or using
        Ctrl-Alt-F1 and Ctrl-Alt-F2. This occurs because the KDGKBMODE (aka current
        keyboard mode) check is mishandled.\n Vulnerable feature: systemd\n Vulnerable
        Versions: 237-3ubuntu10.29\n Fixed by: \n Namespace: ubuntu:18.04\n CVE: CVE-2018-20839\n\n\n\n\n*Impact*:\nNo
        impact provided\n\n\n\n\n\n*References*:\nhttp://people.ubuntu.com/~ubuntu-security/cve/CVE-2018-20839\n\n\n\n\n\n*Reporter:*
        [(admin) ()|mailto:]\n","customfield_10010":null,"customfield_10014":null,"timetracking":{},"customfield_10015":null,"customfield_10005":null,"customfield_10006":null,"customfield_10007":null,"security":null,"customfield_10008":null,"attachment":[],"customfield_10009":null,"summary":"CVE-2018-20839
        - (Systemd, 237-3ubuntu10.29)","customfield_10001":null,"customfield_10002":[],"customfield_10003":null,"customfield_10004":null,"environment":null,"duedate":null,"comment":{"comments":[],"self":"https://defectdojo.atlassian.net/rest/api/2/issue/21336/comment","maxResults":0,"total":0,"startAt":0}}}'
    headers:
      Atl-Request-Id:
      - 87bebf42-624b-488b-a44d-59858f112ec0
      Atl-Traceid:
      - 87bebf42624b488ba44d59858f112ec0
      Content-Type:
      - application/json;charset=UTF-8
      X-Aaccountid:
      - 712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5
      X-Arequestid:
      - 97bc6f18300ca97331a4d7fd464960ac
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/21336
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations,customfield_10010.requestTypePractice","id":"21336","self":"https://defectdojo.atlassian.net/rest/api/2/issue/21336","key":"NTEST-3157","fields":{"statuscategorychangedate":"2025-07-25T21:16:47.104+0200",[...]
[...]
- request:
    body: '{"fields": {"project": {"key": "NTEST"}, "issuetype": {"name": "Task"},
      "summary": "CVE-2019-5094 - (E2fsprogs, 1.44.1-1ubuntu1.1)", "description":
      "\n\n\n\n\n\n\n*Title*: [CVE-2019-5094 - (E2fsprogs, 1.44.1-1ubuntu1.1)|http://localhost:8080/finding/387]\n\n*Defect
      Dojo link:* http://localhost:8080/finding/387 (387)\n\n*Severity:* Medium\n\n\n*Due
      Date:* Oct. 23, 2025\n\n\n\n\n\n*CVE:* [CVE-2019-5094|https://nvd.nist.gov/vuln/detail/CVE-2019-5094]\n\n\n\n\n*Product/Engagement/Test:*
      [Security How-to|http://localhost:8080/product/2] / [1st Quarter Engagement|http://localhost:8080/engagement/1]
      / [Clair Scan|http://localhost:8080/test/135]\n\n\n\n\n\n\n\n\n\n\n\n*Vulnerable
      Component*: e2fsprogs - 1.44.1-1ubuntu1.1\n\n\n\n\n\n\n\n*Description*:\nAn
      exploitable code execution vulnerability exists in the quota file functionality
      of E2fsprogs 1.45.3. A specially crafted ext4 partition can cause an out-of-bounds
      write on the heap, resulting in code execution. An attacker can corrupt a partition
      to trigger this vulnerability.\n Vulnerable feature: e2fsprogs\n Vulnerable
      Versions: 1.44.1-1ubuntu1.1\n Fixed by: 1.44.1-1ubuntu1.2\n Namespace: ubuntu:18.04\n
      CVE: CVE-2019-5094\n\n\n*Mitigation*:\n1.44.1-1ubuntu1.2\n\n\n\n*Impact*:\nNo
      impact provided\n\n\n\n\n\n*References*:\nhttp://people.ubuntu.com/~ubuntu-security/cve/CVE-2019-5094\n\n\n\n\n\n*Reporter:*
      [(admin) ()|mailto:]\n", "priority": {"name": "Medium"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://defectdojo.atlassian.net/rest/api/2/issue
  response:
    body:
      string: '{"id":"21337","key":"NTEST-3158","self":"https://defectdojo.atlassian.net/rest/api/2/issue/21337"}'
    headers:
      Atl-Request-Id:
      - 60b28754-d172-4aaa-ba07-6a5cabce7a0c
      Atl-Traceid:
      - 60b28754d1724aaaba076a5cabce7a0c
      Content-Type:
      - application/json;charset=UTF-8
      X-Aaccountid:
      - 712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5
      X-Arequestid:
      - bb51f8814df1a8742681c278bd3cf59f
    status:
      code: 201
      message: Created
[...]
