interactions:
- request:
    body: '{"description": "Product Type Some Product Type has been created successfully.",
      "title": "Some Product Type", "user": null, "url_ui": "http://localhost:8080/product/type/5",
      "url_api": "http://localhost:8080/api/v2/product_types/5/", "product_type":
      {"name": "Some Product Type", "id": 5, "url_ui": "http://localhost:8080/product/type/5",
      "url_api": "http://localhost:8080/api/v2/product_types/5/"}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - product_type_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/json\"\n
        \   ],\n    \"Accept-Encoding\": [\n      \"gzip, deflate\"\n    ],\n    \"Auth\":
        [\n      \"Token xxx\"\n    ],\n    \"Connection\": [\n      \"keep-alive\"\n
        \   ],\n    \"Content-Length\": [\n      \"400\"\n    ],\n    \"Content-Type\":
        [\n      \"application/json\"\n    ],\n    \"Host\": [\n      \"webhook.endpoint:8080\"\n
        \   ],\n    \"User-Agent\": [\n      \"DefectDojo-2.55.1\"\n    ],\n    \"X-Defectdojo-Event\":
        [\n      \"product_type_added\"\n    ],\n    \"X-Defectdojo-Instance\": [\n
        \     \"http://localhost:8080\"\n    ]\n  },\n  \"method\": \"POST\",\n  \"origin\":
        \"172.18.0.6\",\n  \"url\": \"http://webhook.endpoint:8080/post\",\n  \"data\":
        \"{\\\"description\\\": \\\"Product Type Some Product Type has been created
        successfully.\\\", \\\"title\\\": \\\"Some Product Type\\\", \\\"user\\\":
        null, \\\"url_ui\\\": \\\"http://localhost:8080/product/type/5\\\", \\\"url_api\\\":
        \\\"http://localhost:8080/api/v2/product_types/5/\\\", \\\"product_type\\\":
        {\\\"name\\\": \\\"Some Product Type\\\", \\\"id\\\": 5, \\\"url_ui\\\": \\\"http://localhost:8080/product/type/5\\\",
        \\\"url_api\\\": \\\"http://localhost:8080/api/v2/product_types/5/\\\"}}\",\n
        \ \"files\": {},\n  \"form\": {},\n  \"json\": {\n    \"description\": \"Product
        Type Some Product Type has been created successfully.\",\n    \"product_type\":
        {\n      \"id\": 5,\n      \"name\": \"Some Product Type\",\n      \"url_api\":
        \"http://localhost:8080/api/v2/product_types/5/\",\n      \"url_ui\": \"http://localhost:8080/product/type/5\"\n
        \   },\n    \"title\": \"Some Product Type\",\n    \"url_api\": \"http://localhost:8080/api/v2/product_types/5/\",\n
        \   \"url_ui\": \"http://localhost:8080/product/type/5\",\n    \"user\": null\n
        \ }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Product Jira Product (Not Configured) has been created
      successfully.", "title": "Jira Product (Not Configured)", "user": null, "url_ui":
      "http://localhost:8080/product/5", "url_api": "http://localhost:8080/api/v2/products/5/",
      "product_type": {"name": "Some Product Type", "id": 5, "url_ui": "http://localhost:8080/product/type/5",
      "url_api": "http://localhost:8080/api/v2/product_types/5/"}, "product": {"name":
      "Jira Product (Not Configured)", "id": 5, "url_ui": "http://localhost:8080/product/5",
      "url_api": "http://localhost:8080/api/v2/products/5/"}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - product_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    [...]
- request:
    body: '{"description": "Event engagement_added has occurred.", "title": "Engagement
      created for \"Jira Product (Not Configured)\": Jira Engagement", "user": null,
      "url_ui": "http://localhost:8080/engagement/8", "url_api": "http://localhost:8080/api/v2/engagements/8/",
      "product_type": {"name": "Some Product Type", "id": 5, "url_ui": "http://localhost:8080/product/type/5",
      "url_api": "http://localhost:8080/api/v2/product_types/5/"}, "product": {"name":
      "Jira Product (Not Configured)", "id": 5, "url_ui": "http://localhost:8080/product/5",
      "url_api": "http://localhost:8080/api/v2/products/5/"}, "engagement": {"name":
      "Jira Engagement", "id": 8, "url_ui": "http://localhost:8080/engagement/8",
      "url_api": "http://localhost:8080/api/v2/engagements/8/"}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - engagement_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Acc[...]
- request:
    body: '{"description": "Event test_added has occurred.", "title": "Test created
      for Jira Product (Not Configured): Jira Engagement: ZAP Scan", "user": null,
      "url_ui": "http://localhost:8080/test/93", "url_api": "http://localhost:8080/api/v2/tests/93/",
      "product_type": {"name": "Some Product Type", "id": 5, "url_ui": "http://localhost:8080/product/type/5",
      "url_api": "http://localhost:8080/api/v2/product_types/5/"}, "product": {"name":
      "Jira Product (Not Configured)", "id": 5, "url_ui": "http://localhost:8080/product/5",
      "url_api": "http://localhost:8080/api/v2/products/5/"}, "engagement": {"name":
      "Jira Engagement", "id": 8, "url_ui": "http://localhost:8080/engagement/8",
      "url_api": "http://localhost:8080/api/v2/engagements/8/"}, "test": {"title":
      null, "id": 93, "url_ui": "http://localhost:8080/test/93", "url_api": "http://localhost:8080/api/v2/tests/93/"}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - test_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/jso[...]
- request:
    body: '{"description": "Event scan_added has occurred.", "title": "Created/Updated
      2 findings for Jira Product (Not Configured): Jira Engagement: ZAP Scan", "user":
      null, "url_ui": "http://localhost:8080/test/93", "url_api": "http://localhost:8080/api/v2/tests/93/",
      "product_type": {"name": "Some Product Type", "id": 5, "url_ui": "http://localhost:8080/product/type/5",
      "url_api": "http://localhost:8080/api/v2/product_types/5/"}, "product": {"name":
      "Jira Product (Not Configured)", "id": 5, "url_ui": "http://localhost:8080/product/5",
      "url_api": "http://localhost:8080/api/v2/products/5/"}, "engagement": {"name":
      "Jira Engagement", "id": 8, "url_ui": "http://localhost:8080/engagement/8",
      "url_api": "http://localhost:8080/api/v2/engagements/8/"}, "test": {"title":
      null, "id": 93, "url_ui": "http://localhost:8080/test/93", "url_api": "http://localhost:8080/api/v2/tests/93/"},
      "finding_count": 2, "findings": {"new": [{"id": 236, "title": "Zap1: Cookie
      Without Secure Flag", "severity": "Low", "url_ui": "http://localhost:8080/finding/236",
      "url_api": "http://localhost:8080/api/v2/findings/236/"}, {"id": 237, "title":
      "Zap2: Cookie Without Secure Flag", "severity": "Low", "url_ui": "http://localhost:8080/finding/237",
      "url_api": "http://localhost:8080/api/v2/findings/237/"}], "reactivated": [],
      "mitigated": [], "untouched": []}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - scan_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/json\"\n
        \   ],\n    \"Accept-Encoding\": [\n      \"gzip, deflate\"\n    ],\n    \"Auth\":
        [\n      \"Token xx[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/serverInfo
  response:
    body:
      string: '{"baseUrl":"https://defectdojo.atlassian.net","displayUrl":"https://defectdojo.atlassian.net","displayUrlServicedeskHelpCenter":"https://defectdojo.atlassian.net","displayUrlCSMHelpSeeker":"https://defectdojo.atlassian.net","displayUrlConfluence":"https://defectdojo.atlassian.net","version":"1001.0.0-SNAPSHOT","versionNumbers":[1001,0,0],"deploymentType":"Cloud","buildNumber":100290,"buildDate":"2026-02-06T12:38:29.000+0100","serverTime":"2026-02-06T19:56:40.443+0100","scmInfo":"9d700605f271b9e38f3e73c4116a686dae8d11d7","serverTitle":"Jira","defaultLocale":{"locale":"en_US"},"serverTimeZone":"Etc/UTC"}'
    headers:
      Atl-Request-Id:
      - 0ddff33f-bafb-42c0-aefb-05deb7117e8d
      Atl-Traceid:
      - 0ddff33fbafb42c0aefb05deb7117e8d
      Content-Type:
      - application/json;charset=UTF-8
      X-Aaccountid:
      - 5d3878b170e3c90c952f91f6
      X-Arequestid:
      - ba3b2fd7e52bf2bdd2933b702982ce3a
      X-Ratelimit-Limit:
      - '350'
      X-Ratelimit-Remaining:
      - '349'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/createmeta?projectKeys=TEST&issuetypeNames=Task&expand=projects.issuetypes.fields
  response:
    body:
      string: '{"expand":"projects","projects":[{"expand":"issuetypes","self":"https://defectdojo.atlassian.net/rest/api/2/project/10223","id":"10223","key":"TEST","name":"test","avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425?size=xsmall","32x32":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425?size=medium"},"issuetypes":[{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10213","id":"10213","description":"Tasks
        track small, distinct pieces of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","untranslatedName":"Task","subtask":false,"hierarchyLevel":0,"scope":{"type":"PROJECT","project":{"id":"10223"}},"expand":"fields","fields":{"summary":{"required":true,"schema":{"type":"string","system":"summary"},"name":"Summary","key":"summary","hasDefaultValue":false,"operations":["set"]},"issuetype":{"required":true,"schema":{"type":"issuetype","system":"issuetype"},"name":"Issue
        Type","key":"issuetype","hasDefaultValue":false,"operations":[],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10213","id":"10213","description":"Tasks
        track small, distinct pieces of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","subtask":false,"avatarId":10318,"entityId":"2e566caf-2038-46a7-94c3-c0d1cc9479bd","hierarchyLevel":0}]},"issuerestriction":{"required":false,"schema":{"type":"issuerestriction","system":"issuerestriction"},"name":"Restrict
        to","key":"issuerestriction","hasDefaultValue":false,"operations":["set"],"allowedValues":[]},"parent":{"required":false,"schema":{"type":"issuelink","system":"parent"},"name":"Parent","key":"parent","hasDefaultValue":false,"operations":["set"]},"description":{"required":false,"schema":{"type":"string","system":"description"},"name":"Description","key":"description","hasDefaultValue":false,"operations":["set"]},"project":{"required":true,"schema":{"type":"project","system":"project"},"name":"Project","key":"project","hasDefaultValue":false,"operations":["set"],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/project/10223","id":"10223","key":"TEST","name":"test","projectTypeKey":"software","simplified":true,"avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425?size=xsmall","32x32":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425?size=medium"}}]},"customfield_10021":{"required":false,"schema":{"type":"array","items":"option","custom":"com.atlassian.jira.plugin.system.customfieldtypes:multicheckboxes","customId":10021},"name":"Flagged","key":"customfield_10021","hasDefaultValue":false,"operations":["add","set","remove"],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/customFieldOption/10019","value":"Impediment","id":"10019"}]},"customfield_10000":{"required":false,"schema":{"type":"any","custom":"com.atlassian.jira.plugins.jira-development-integration-plugin:devsummarycf","customId":10000},"name":"Development","key":"customfield_10000","hasDefaultValue":false,"operations":["set"]},"customfield_10001":{"required":false,"schema":{"type":"team","custom":"com.atlassian.jira.plugin.system.customfieldtypes:atlassian-team","customId":10001,"configuration":{"com.atlassian.jira.plugin.system.customfieldtypes:atlassian-team":true}},"name":"Team","key":"customfield_10001","autoCompleteUrl":"https://defectdojo.atlassian.net/gateway/api/v1/recommendations","hasDefaultValue":false,"operations":["set"]},"labels":{"required":false,"schema":{"type":"array","items":"string","system":"labels"},"name":"Labels","key":"labels","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/1.0/labels/suggest?query=","hasDefaultValue":false,"operations":["add","set","remove"]},"customfield_10015":{"required":false,"schema":{"type":"date","custom":"com.atlassian.jira.plugin.system.customfieldtypes:datepicker","customId":10015},"name":"Start
        date","key":"customfield_10015","hasDefaultValue":false,"operations":["set"]},"customfield_10019":{"required":false,"schema":{"type":"any","custom":"com.pyxis.greenhopper.jira:gh-lexo-rank","customId":10019},"name":"Rank","key":"customfield_10019","hasDefaultValue":false,"operations":["set"]},"attachment":{"required":false,"schema":{"type":"array","items":"attachment","system":"attachment"},"name":"Attachment","key":"attachment","hasDefaultValue":false,"operations":["set","copy"]},"duedate":{"required":false,"schema":{"type":"date","system":"duedate"},"name":"Due
        date","key":"duedate","hasDefaultValue":false,"operations":["set"]},"issuelinks":{"required":false,"schema":{"type":"array","items":"issuelinks","system":"issuelinks"},"name":"Linked
        Issues","key":"issuelinks","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/2/issue/picker?currentProjectId=&showSubTaskParent=true&showSubTasks=true&currentIssueKey=null&query=","hasDefaultValue":false,"operations":["add","copy"]},"assignee":{"required":false,"schema":{"type":"user","system":"assignee"},"name":"Assignee","key":"assignee","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/2/user/assignable/search?project=TEST&query=","hasDefaultValue":false,"operations":["set"]}}}]}]}'
    headers:
      Atl-Request-Id:
      - baa19213-7da2-4241-845b-a1494a13964c
      Atl-Traceid:
      - baa192137da24241845ba1494a13964c
      Content-Type:
      - application/json;charset=UTF-8
      Warning:
      - 'The issue create meta endpoint has been deprecated. (Deprecation start date:
        June 03, 2024)'
      X-Aaccountid:
      - 5d3878b170e3c90c952f91f6
      X-Arequestid:
      - 5a1346a659aa3c92b2abba52e0ac6fa7
      X-Ratelimit-Limit:
      - '350'
      X-Ratelimit-Remaining:
      - '349'
    status:
      code: 200
      message: OK
- request:
    body: '{"fields": {"project": {"key": "TEST"}, "issuetype": {"name": "Task"},
      "summary": "Zap1: Cookie Without Secure Flag", "description": "\n\n\n\n\n\n\n*Title*:
      [Zap1: Cookie Without Secure Flag|http://localhost:8080/finding/238]\n\n*Defect
      Dojo link:* http://localhost:8080/finding/238 (238)\n\n*Severity:* Low\n\n\n*Due
      Date:* June 6, 2026\n\n\n\n*CWE:* [CWE-614|https://cwe.mitre.org/data/definitions/614.html]\n\n\n\n*CVE:*
      Unknown\n\n\n\n\n*Product/Engagement/Test:* [Jira Product (Not Configured)|http://localhost:8080/product/5]
      / [Jira Engagement|http://localhost:8080/engagement/8] / [ZAP Scan|http://localhost:8080/test/94]\n\n\n\n\n\n\n\n\n*Systems/Endpoints*:\n||System/Endpoint||Status||\n|https://mainsite.com/dashboard|Active|\n|https://mainsite.com|Active|\n\n\n\n\n\n\n\n\n*Description*:\nA
      c[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/TEST-7
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations","id":"25251","self":"https://defectdojo.atlassian.net/rest/api/2/issue/25251","key":"TEST-7","fields":{"statuscategorychangedate":"2026-02-06T19:56:41.941+0100","issuetype":{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10213","id":"10213","description":"Tasks
        track small, distinct pieces of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","subtask":false,"avatarId":10318,"entityId":"2e566caf-2038-46a7-94c3-c0d1cc9479bd","hierarchyLevel":0},"components":[],"timespent":null,"timeoriginalestimate":null,"project":{"self":"https://defectdojo.atlassian.net/rest/api/2/project/10223","id":"10223","key":"TEST","name":"test","projectTypeKey":"software","simplified":true,"avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10425?s[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/25251
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations","id":"25251","self":"https://defectdojo.atlassian.net/rest/api/2/issue/25251","key":"TEST-7","fields":{"statuscategorychangedate":"2026-02-06T19:56:41.941+0100","issuetype":{"self":"https://defectdojo.at[...]
[...]
