interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/serverInfo
  response:
    body:
      string: '{"baseUrl":"https://defectdojo.atlassian.net","displayUrl":"https://defectdojo.atlassian.net","displayUrlServicedeskHelpCenter":"https://defectdojo.atlassian.net","displayUrlConfluence":"https://defectdojo.atlassian.net","version":"1001.0.0-SNAPSHOT","versionNumbers":[1001,0,0],"deploymentType":"Cloud","buildNumber":100283,"buildDate":"2025-05-18T12:33:59.000+0200","serverTime":"2025-05-19T22:16:34.562+0200","scmInfo":"f746562668235759fc94c273e081a68fed9e6583","serverTitle":"Jira","defaultLocale":{"locale":"en_US"},"serverTimeZone":"Etc/UTC"}'
    headers:
      Atl-Request-Id:
      - 4d179f86-5f86-47bf-93ec-7921e0cb3552
      Atl-Traceid:
      - 4d179f865f8647bf93ec7921e0cb3552
      Content-Type:
      - application/json;charset=UTF-8
      X-Aaccountid:
      - 712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5
      X-Arequestid:
      - 631527191386d578400a5316d983ccae
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/createmeta?projectKeys=NTEST&issuetypeNames=Task&expand=projects.issuetypes.fields
  response:
    body:
      string: '{"expand":"projects","projects":[{"expand":"issuetypes","self":"https://defectdojo.atlassian.net/rest/api/2/project/10000","id":"10000","key":"NTEST","name":"Unittests","avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=xsmall","32x32":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=medium"},"issuetypes":[{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10002","id":"10002","description":"A
        small, distinct piece of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","untranslatedName":"Task","subtask":false,"hierarchyLevel":0,"expand":"fields","fields":{"summary":{"required":true,"schema":{"type":"string","system":"summary"},"name":"Summary","key":"summary","hasDefaultValue":false,"operations":["set"]},"issuetype":{"required":true,"schema":{"type":"issuetype","system":"issuetype"},"name":"Issue
        Type","key":"issuetype","hasDefaultValue":false,"operations":[],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10002","id":"10002","description":"A
        small, distinct piece of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","subtask":false,"avatarId":10318,"hierarchyLevel":0}]},"parent":{"required":false,"schema":{"type":"issuelink","system":"parent"},"name":"Parent","key":"parent","hasDefaultValue":false,"operations":["set"]},"components":{"required":false,"schema":{"type":"array","items":"component","system":"components"},"name":"Components","key":"components","hasDefaultValue":false,"operations":["add","set","remove"],"allowedValues":[]},"description":{"required":false,"schema":{"type":"string","system":"description"},"name":"Description","key":"description","hasDefaultValue":false,"operations":["set"]},"project":{"required":true,"schema":{"type":"project","system":"project"},"name":"Project","key":"project","hasDefaultValue":false,"operations":["set"],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/project/10000","id":"10000","key":"NTEST","name":"Unittests","projectTypeKey":"software","simplified":false,"avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=xsmall","32x32":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=medium"}}]},"fixVersions":{"required":false,"schema":{"type":"array","items":"version","system":"fixVersions"},"name":"Fix
        versions","key":"fixVersions","hasDefaultValue":false,"operations":["set","add","remove"],"allowedValues":[]},"priority":{"required":false,"schema":{"type":"priority","system":"priority"},"name":"Priority","key":"priority","hasDefaultValue":true,"operations":["set"],"allowedValues":[{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/1","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/highest.svg","name":"Highest","id":"1"},{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/2","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/high.svg","name":"High","id":"2"},{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/3","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/medium.svg","name":"Medium","id":"3"},{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/4","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/low.svg","name":"Low","id":"4"},{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/5","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/lowest.svg","name":"Lowest","id":"5"}],"defaultValue":{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/3","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/medium.svg","name":"Medium","id":"3"}},"customfield_10014":{"required":false,"schema":{"type":"any","custom":"com.pyxis.greenhopper.jira:gh-epic-link","customId":10014},"name":"Epic
        Link","key":"customfield_10014","hasDefaultValue":false,"operations":["set"]},"labels":{"required":false,"schema":{"type":"array","items":"string","system":"labels"},"name":"Labels","key":"labels","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/1.0/labels/suggest?query=","hasDefaultValue":false,"operations":["add","set","remove"]},"attachment":{"required":false,"schema":{"type":"array","items":"attachment","system":"attachment"},"name":"Attachment","key":"attachment","hasDefaultValue":false,"operations":["set","copy"]},"issuelinks":{"required":false,"schema":{"type":"array","items":"issuelinks","system":"issuelinks"},"name":"Linked
        Issues","key":"issuelinks","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/2/issue/picker?currentProjectId=&showSubTaskParent=true&showSubTasks=true&currentIssueKey=null&query=","hasDefaultValue":false,"operations":["add","copy"]},"assignee":{"required":false,"schema":{"type":"user","system":"assignee"},"name":"Assignee","key":"assignee","autoCompleteUrl":"https://defectdojo.atlassian.net/rest/api/2/user/assignable/search?project=NTEST&query=","hasDefaultValue":false,"operations":["set"]}}}]}]}'
    headers:
      Atl-Request-Id:
      - fbda4f37-2428-4071-ae38-1365402ad4cd
      Atl-Traceid:
      - fbda4f3724284071ae381365402ad4cd
      Content-Type:
      - application/json;charset=UTF-8
      Warning:
      - 'The issue create meta endpoint has been deprecated. (Deprecation start date:
        June 03, 2024)'
      X-Aaccountid:
      - 712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5
      X-Arequestid:
      - f3dcfb065eb37f72a8cf9f768710a822
    status:
      code: 200
      message: OK
- request:
    body: '{"fields": {"project": {"key": "NTEST"}, "issuetype": {"name": "Task"},
      "summary": "Findings in: negotiator:0.5.3", "description": "\n\n\n\n\n\n\nA
      group of Findings has been pushed to JIRA to be investigated and fixed:\n\nh2.
      Group\n*Group*: [Findings in: negotiator:0.5.3|http://localhost:8080/finding_group/157]
      in [Security How-to|http://localhost:8080/product/2] / [1st Quarter Engagement|http://localhost:8080/engagement/1]
      / [NPM Audit Scan|[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/NTEST-2084
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations,customfield_10010.requestTypePractice","id":"18650","self":"https://defectdojo.atlassian.net/rest/api/2/issue/18650","key":"NTEST-2084","fields":{"statuscategorychangedate":"2025-05-19T22:16:35.766+0200","issuetype":{"self":"https://defectdojo.atlassian.net/rest/api/2/issuetype/10002","id":"10002","description":"A
        small, distinct piece of work.","iconUrl":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","subtask":false,"avatarId":10318,"hierarchyLevel":0},"timespent":null,"customfield_10030":null,"customfield_10031":null,"project":{"self":"https://defectdojo.atlassian.net/rest/api/2/project/10000","id":"10000","key":"NTEST","name":"Unittests","projectTypeKey":"software","simplified":false,"avatarUrls":{"48x48":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407","24x24":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=small","16x16":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=xsmall","32x32":"https://defectdojo.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10407?size=medium"}},"customfield_10032":null,"customfield_10033":null,"fixVersions":[],"aggregatetimespent":null,"statusCategory":{"self":"https://defectdojo.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"},"customfield_10035":null,"resolution":null,"customfield_10036":null,"customfield_10037":null,"customfield_10027":null,"customfield_10028":null,"customfield_10029":null,"resolutiondate":null,"workratio":-1,"watches":{"self":"https://defectdojo.atlassian.net/rest/api/2/issue/NTEST-2084/watchers","watchCount":1,"isWatching":true},"lastViewed":null,"created":"2025-05-19T22:16:35.440+0200","customfield_10020":null,"customfield_10021":null,"customfield_10022":null,"customfield_10023":null,"priority":{"self":"https://defectdojo.atlassian.net/rest/api/2/priority/2","iconUrl":"https://defectdojo.atlassian.net/images/icons/priorities/high.svg","name":"High","id":"2"},"labels":[],"customfield_10016":null,"customfield_10017":null,"customfield_10018":{"hasEpicLinkFieldDependency":false,"showField":false,"nonEditableReason":{"reason":"PLUGIN_LICENSE_ERROR","message":"The
        Parent Link is only available to Jira Premium users."}},"customfield_10019":"0|i00ukn:","timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[],"assignee":null,"updated":"2025-05-19T22:16:35.530+0200","status":{"self":"https://defectdojo.atlassian.net/rest/api/2/status/10000","description":"","iconUrl":"https://defectdojo.atlassian.net/","name":"Backlog","id":"10000","statusCategory":{"self":"https://defectdojo.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"}},"components":[],"customfield_10050":null,"customfield_10051":null,"timeoriginalestimate":null,"customfield_10053":null,"description":"\n\n\n\n\n\n\nA
        group of Findings has been pushed to JIRA to be investigated and fixed:\n\nh2.
        Group\n*Group*: [Findings in: negotiator:0.5.3|http://localhost:8080/finding_group/157]
        in [Security How-to|http://localhost:8080/product/2] / [1st Quarter Engagement|http://localhost:8080/engagement/1]
        / [NPM Audit Scan|http://localhost:8080/test/96]\n\n# TODO: JIRA only include
        active/verified findings above threshold\n|| Severity || CVE || [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://defectdojo.atlassian.net/rest/api/2/issue/18650
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations,customfield_10010.requestTypePractice","id":"18650","self":"https://defectdojo.atlassian.net/rest/api/2/issue/18650","key":"NTEST-2084","fields":{"statuscategorychangedate":"2025-05-19T22:16:35.766+0200",[...]
[...]
- request:
    body: '{"fields": {"project": {"key": "NTEST"}, "issuetype": {"name": "Task"},
      "summary": "Findings in: fresh:0.3.0", "description": "\n\n\n\n\n\n\nA group
      of Findings has been pushed to JIRA to be investigated and fixed:\n\nh2. Group\n*Group*:
      [Findings in: fresh:0.3.0|http://localhost:8080/finding_group/159] in [Security
      How-to|http://localhost:8080/product/2] / [1st Quarter Engagement|http://localhost:8080/engagement/1]
      / [NPM Audit Scan|http://localhost:8080/test/96]\n\n# TODO: JIRA only include
      active/verified findings above threshold\n|| Severity || CVE || CWE || Component
      || Version || Title || Status ||\n| Medium | [CVE-2017-16119|https://nvd.nist.gov/vuln/detail/CVE-2017-16119]
      | [400|https://cwe.mitre.org/data/definitions/400.html] | fresh | 0.3.0 | [Regular
      Expression Denial of Service - (Fresh, &lt; 0.5.2)|http://localhost:8080/finding/257]
      | Active, Verified |\n\n# TODO: JIRA only include active/verified findings above
      threshold\n*Severity:* Medium\n\n# TODO: JIRA only include active/verified findings
      above threshold\n *Due Date:* Aug. 17, 2025 \n\n\n\n\n\n\n\n\n\n\nh1. Findings\n\nh3.
      [Regular Expression Denial of Service - (Fresh, &lt; 0.5.2)|http://localhost:8080/finding/257]\n*Defect
      Dojo link:* http://localhost:8080/finding/257 (257)\n*Severity:* Medium\n *Due
      Date:* Aug. 17, 2025 \n *CWE:* [CWE-400|https://cwe.mitre.org/data/definitions/400.html]
      \n*CVE:* [CVE-2017-16119|https://nvd.nist.gov/vuln/detail/CVE-2017-16119]\n\n\n\n\n\n\n*Source
      File*: express&gt;fresh\n\n\n\n\n*Description*:\nhttps://nodesecurity.io/advisories/526\nAffected
      versions of `fresh` are vulnerable to regular expression denial of service when
      parsing specially crafted user input.\n Vulnerable Module: fresh\n Vulnerable
      Versions: < 0.5.2\n Patched Version: >= 0.5.2\n Vulnerable Paths: \n  - 0.3.0:express>fresh,express>send>fresh,express>serve-static>send>fresh,serve-favicon>fresh\n
      CWE: CWE-400\n Access: public\n\n\n*Mitigation*:\nUpdate to version 0.5.2 or
      later.\n\n\n\n*Impact*:\nNo impact provided\n\n\n\n\n\n*References*:\nhttps://nodesecurity.io/advisories/526\n\n\n*Reporter:*
      [(admin) ()|mailto:]\n", "priority": {"name": "Medium"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://defectdojo.atlassian.net/rest/api/2/issue
  response:
    body:
      string: '{"id":"18652","key":"NTEST-2086","self":"https://defectdojo.atlassian.net/rest/api/2/issue/18652"}'
    headers:
      Atl-Request-Id:
      - 21d843e5-e869-4dee-9ef5-3c6017998b69
      Atl-Traceid:
      - 21d843e5e8694dee9ef53c6017998b69
      Content-Type:
      - application/json;charset=UTF-8
      X-Aaccountid:
      - 712020%3A292a8b4c-ebd5-44be-bb94-d07c56a14dc5
      X-Arequestid:
      - daf7b49602d683f8b471975943074bf2
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"description": "Event test_added has occurred.", "title": "Test created
      for Security How-to: 1st Quarter Engagement: NPM Audit Scan", "user": null,
      "url_ui": "http://localhost:8080/test/96", "url_api": "http://localhost:8080/api/v2/tests/96/",
      "product_type": {"name": "ebooks", "id": 2, "url_ui": "http://localhost:8080/product/type/2",
      "url_api": "http://localhost:8080/api/v2/product_types/2/"}, "product": {"name":
      "Security How-to", "id": 2, "url_ui": "http://localhost:8080/product/2", "url_api":
      "http://localhost:8080/api/v2/products/2/"}, "engagement": {"name": "1st Quarter
      Engagement", "id": 1, "url_ui": "http://localhost:8080/engagement/1", "url_api":
      "http://localhost:8080/api/v2/engagements/1/"}, "test": {"title": null, "id":
      96, "url_ui": "http://localhost:8080/test/96", "url_api": "http://localhost:8080/api/v2/tests/96/"}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - test_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/json\"\n
        \   ],\n    \"Accept-Encoding\": [\n      \"gzip, deflate\"\n    ],\n    \"Auth\":
        [\n      \"Token xxx\"\n    ],\n    \"Connection\": [\n      \"keep-alive\"\n
        \   ],\n    \"Content-Length\": [\n      \"844\"\n    ],\n    \"Content-Type\":
        [\n      \"application/json\"\n    ],\n    \"Host\": [\n      \"webhook.endpoint:8080\"\n
        \   ],\n    \"User-Agent\": [\n      \"DefectDojo-2.46.2\"\n    ],\n    \"X-Defectdojo-Event\":
        [\n      \"test_added\"\n    ],\n    \"X-Defectdojo-Instance\": [\n      \"http://localhost:8080\"\n
        \   ]\n  },\n  \"method\": \"POST\",\n  \"origin\": \"10.250.1.8:50482\",\n
        \ \"url\": \"http://webhook.endpoint:8080/post\",\n  \"data\": \"{\\\"description\\\":
        \\\"Event test_added has occurred.\\\", \\\"title\\\": \\\"Test created for
        Security How-to: 1st Quarter Engagement: NPM Audit Scan\\\", \\\"user\\\":
        null, \\\"url_ui\\\": \\\"http://localhost:8080/test/96\\\", \\\"url_api\\\":
        \\\"http://localhost:8080/api/v2/tests/96/\\\", \\\"product_type\\\": {\\\"name\\\":
        \\\"ebooks\\\", \\\"id\\\": 2, \\\"url_ui\\\": \\\"http://localhost:8080/product/type/2\\\",
        \\\"url_api\\\": \\\"http://localhost:8080/api/v2/product_types/2/\\\"}, \\\"product\\\":
        {\\\"name\\\": \\\"Security How-to\\\", \\\"id\\\": 2, \\\"url_ui\\\": \\\"http://localhost:8080/product/2\\\",
        \\\"url_api\\\": \\\"http://localhost:8080/api/v2/products/2/\\\"}, \\\"engagement\\\":
        {\\\"name\\\": \\\"1st Quarter Engagement\\\", \\\"id\\\": 1, \\\"url_ui\\\":
        \\\"http://localhost:8080/engagement/1\\\", \\\"url_api\\\": \\\"http://localhost:8080/api/v2/engagements/1/\\\"},
        \\\"test\\\": {\\\"title\\\": null, \\\"id\\\": 96, \\\"url_ui\\\": \\\"http://localhost:8080/test/96\\\",
        \\\"url_api\\\": \\\"http://localhost:8080/api/v2/tests/96/\\\"}}\",\n  \"files\":
        {},\n  \"form\": {},\n  \"json\": {\n    \"description\": \"Event test_added
        has occurred.\",\n    \"engagement\": {\n      \"id\": 1,\n      \"name\":
        \"1st Quarter Engagement\",\n      \"url_api\": \"http://localhost:8080/api/v2/engagements/1/\",\n
        \     \"url_ui\": \"http://localhost:8080/engagement/1\"\n    },\n    \"product\":
        {\n      \"id\": 2,\n      \"name\": \"Security How-to\",\n      \"url_api\":
        \"http://localhost:8080/api/v2/products/2/\",\n      \"url_ui\": \"http://localhost:8080/product/2\"\n
        \   },\n    \"product_type\": {\n      \"id\": 2,\n      \"name\": \"ebooks\",\n
        \     \"url_api\": \"http://localhost:8080/api/v2/product_types/2/\",\n      \"url_ui\":
        \"http://localhost:8080/product/type/2\"\n    },\n    \"test\": {\n      \"id\":
        96,\n      \"title\": null,\n      \"url_api\": \"http://localhost:8080/api/v2/tests/96/\",\n
        \     \"url_ui\": \"http://localhost:8080/test/96\"\n    },\n    \"title\":
        \"Test created for Security How-to: 1st Quarter Engagement: NPM Audit Scan\",\n
        \   \"url_api\": \"http://localhost:8080/api/v2/tests/96/\",\n    \"url_ui\":
        \"http://localhost:8080/test/96\",\n    \"user\": null\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Event scan_added has occurred.", "title": "Created/Updated
      5 findings for Security How-to: 1st Quarter Engagement: NPM Audit Scan", "user":
      null, "url_ui": "http://localhost:8080/test/96", "url_api": "http://localhost:8080/api/v2/tests/96/",
      "product_type": {"name": "ebooks", "id": 2, "url_ui": "http://localhost:8080/product/type/2",
      "url_api": "http://localhost:8080/api/v2/product_types/2/"}, "product": {"name":
      "Security How-to", "id": 2, "url_ui": "http://localhost:8080/product/2", "url_api":
      "http://localhost:8080/api/v2/products/2/"}, "engagement": {"name": "1st Quarter
      Engagement", "id": 1, "url_ui": "http://localhost:8080/engagement/1", "url_api":
      "http://localhost:8080/api/v2/engagements/1/"}, "test": {"title": null, "id":
      96, "url_ui": "http://localhost:8080/test/96", "url_api": "http://localhost:8080/api/v2/tests/96/"},
      "finding_count": 5, "findings": {"new": [{"id": 255, "title": "2222Regular Expression
      Denial of Service - (Negotiator, <= 0.6.0)", "severity": "High", "url_ui": "http://localhost:8080/finding/255",
      "url_api": "http://localhost:8080/api/v2/findings/255/"}, {"id": 256, "title":
      "Remote Code Execution - (Pg, < 2.11.2 || >= 3.0.0 < 3.6.4 ||  >= 4.0.0 < 4.5.7
      || >= 5.0.0 < 5.2.1 || >= 6.0.0 < 6.0.5 || >= 6.1.0 < 6.1.6 || >= 6.2.0 < 6.2.5
      || >= 6.3.0 < 6.3.3 || >= 6.4.0 < 6.4.2 || >= 7.0.0 < 7.0.2 || >= 7.1.0 < 7.1.2)",
      "severity": "High", "url_ui": "http://localhost:8080/finding/256", "url_api":
      "http://localhost:8080/api/v2/findings/256/"}, {"id": 254, "title": "Regular
      Expression Denial of Service - (Negotiator, <= 0.6.0)", "severity": "Medium",
      "url_ui": "http://localhost:8080/finding/254", "url_api": "http://localhost:8080/api/v2/findings/254/"},
      {"id": 257, "title": "Regular Expression Denial of Service - (Fresh, < 0.5.2)",
      "severity": "Medium", "url_ui": "http://localhost:8080/finding/257", "url_api":
      "http://localhost:8080/api/v2/findings/257/"}, {"id": 258, "title": "2222Remote
      Code Execution - (Pg, < 2.11.2 || >= 3.0.0 < 3.6.4 ||  >= 4.0.0 < 4.5.7 || >=
      5.0.0 < 5.2.1 || >= 6.0.0 < 6.0.5 || >= 6.1.0 < 6.1.6 || >= 6.2.0 < 6.2.5 ||
      >= 6.3.0 < 6.3.3 || >= 6.4.0 < 6.4.2 || >= 7.0.0 < 7.0.2 || >= 7.1.0 < 7.1.2)",
      "severity": "Medium", "url_ui": "http://localhost:8080/finding/258", "url_api":
      "http://localhost:8080/api/v2/findings/258/"}], "reactivated": [], "mitigated":
      [], "untouched": []}}'
    headers:
      Auth:
      - Token xxx
      Content-Type:
      - application/json
      X-DefectDojo-Event:
      - scan_added
      X-DefectDojo-Instance:
      - http://localhost:8080
    method: POST
    uri: http://webhook.endpoint:8080/post
  response:
    body:
      string: "{\n  \"args\": {},\n  \"headers\": {\n    \"Accept\": [\n      \"application/json\"\n
        \   ],\n    \"Accept-Encoding\": [\n      \"gzip, deflate\"\n    ],\n    \"Auth\":
        [\n      \"Token xx[...]
[...]
