{% if product_tab.tab == "endpoints" and not custom_breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
  <li><a data-toggle="tooltip" data-placement="top" title="Endpoints" href="{% url 'endpoint' %}?product={{ product_tab.product.id }}">Endpoints</a></li>
  {% if product_tab.engagement.id %}
    <li><a data-toggle="tooltip" data-placement="top" title="Engagement" href="{% url 'view_engagement' product_tab.engagement.id %}">{{product_tab.engagement.name}}</a></li>
  {% endif %}
  {% if endpoint.id %}
    {% if host_view %}
      <li><a data-toggle="tooltip" data-placement="top" title="Test" href="{% url 'view_endpoint_host' endpoint.id %}">{{endpoint.host}}</a></li>
    {% else %}
      <li><a data-toggle="tooltip" data-placement="top" title="Test" href="{% url 'view_endpoint' endpoint.id %}">{{endpoint}}{% if endpoint.is_broken %} <span data-toggle="tooltip" title="Endpoint is broken. Check documentation to look for fix process" >&#128681;</span>{% endif %}</a></li>
    {% endif %}
  {% endif %}
  {% if product_tab.title %}
    <li class="breadcrumb-item active" aria-current="page">{{product_tab.title}}</li>
  {% endif %}
  </ol>
</nav>
{% endif %}
