name: Flake8 your PR
# run on pull_request_target instead of just pull_request as we need write access to update the status check
on: [pull_request_target]
jobs:
  flake8-your-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        # currently this is not working as expected as it is checking out the code from the base bracn instead of the PR with the new code
        # we could add some 'ref:' to checkout the PR code, but then the diff with the base branch fails for some reason
        # more info https://github.community/t/github-actions-are-severely-limited-on-prs/18179/16
        # there's some extra option in there to checkout the PRs branch from the forked REPO, which might work
        # and make the diff working again. let's try at some point.
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}

      # - uses: tayfun/flake8-your-pr@master
      - uses: valentijnscholten/flake8-your-pr@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
