name: github-pages

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - dev
      - bugfix

# Taken from https://github.com/marketplace/actions/hugo-setup#%EF%B8%8F-workflow-for-autoprefixer-and-postcss-cli
# Both builds have to be one worflow as otherwise one publish will overwrite the other
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.81.0'
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: recursive  # Fetch the Docsy theme
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod
          ref: 'dev'

      - run: cd docs && npm ci && hugo --minify --config config.dev.toml
      - run: ls -l ./docs/public/*

      # for dev we move everything into a subfolder, so the master version stays in the root
      - run: mkdir /tmp/dev && mv docs/public/* /tmp/dev/

      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: recursive  # Fetch the Docsy theme
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod
          ref: 'master'

      - run: cd docs && npm ci && hugo --minify --config config.master.toml
      - run: mv /tmp/dev docs/public/
      - run: ls -l ./docs/public/*

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with: # publishes to the `gh-pages` branch by default
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public
