name: Integration tests

on:
  workflow_call:
    inputs:
        auditlog_type:
          type: string
          default: "django-auditlog"

jobs:
  integration_tests:
    # run tests with docker compose
    name: User Interface Tests
    runs-on: ubuntu-latest
    env:
      AUDITLOG_TYPE: ${{ inputs.auditlog_type }}
    strategy:
      matrix:
        test-case: [
          "tests/finding_test.py",
          "tests/report_builder_test.py",
          "tests/notes_test.py",
          "tests/regulations_test.py",
          "tests/product_type_test.py",
          "tests/product_test.py",
          "tests/endpoint_test.py",
          "tests/engagement_test.py",
          "tests/environment_test.py",
          "tests/test_test.py",
          "tests/user_test.py",
          "tests/group_test.py",
          "tests/product_group_test.py",
          "tests/product_type_group_test.py",
          "tests/product_member_test.py",
          "tests/product_type_member_test.py",
          "tests/ibm_appscan_test.py",
          "tests/search_test.py",
          "tests/file_test.py",
          "tests/dedupe_test.py",
          "tests/announcement_banner_test.py",
          "tests/close_old_findings_dedupe_test.py",
          "tests/close_old_findings_test.py",
          "tests/false_positive_history_test.py",
          "tests/check_various_pages.py",
          # "tests/import_scanner_test.py",
          # "tests/zap.py",
          "tests/notifications_test.py",
          "tests/tool_config.py",
          "openapi-validatator",

        ]
        os: [alpine, debian]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # load docker images from build jobs
      - name: Load images from artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: built-docker-image
          pattern: built-docker-image-*
          merge-multiple: true

      - name: Load docker images
        timeout-minutes: 10
        run: |-
             docker load -i built-docker-image/nginx-alpine-linux-amd64_img
             docker load -i built-docker-image/django-${{ matrix.os }}-linux-amd64_img
             docker load -i built-docker-image/integration-tests-debian-linux-amd64_img
             docker images

      - name: Set integration-test mode
        run: ln -s docker-compose.override.integration_tests.yml docker-compose.override.yml

      - name: Start Dojo
        run: docker compose up --no-deps -d postgres nginx celerybeat celeryworker mailhog uwsgi valkey
        env:
          DJANGO_VERSION: ${{ matrix.os }}
          NGINX_VERSION: alpine

      - name: Initialize
        timeout-minutes: 10
        run: docker compose up --no-deps --exit-code-from initializer initializer
        env:
          DJANGO_VERSION: ${{ matrix.os }}
          NGINX_VERSION: alpine

      - name: Integration tests
        timeout-minutes: 10
        run: docker compose up --no-deps --exit-code-from integration-tests integration-tests
        env:
          DD_INTEGRATION_TEST_FILENAME: ${{ matrix.test-case }}
          INTEGRATION_TESTS_VERSION: debian

      - name: Logs
        if: always()
        run: docker compose logs --tail="2500"

      - name: Shutdown
        if: always()
        run: docker compose down
