name: Generate PlantUML Diagrams
on:
  push:
    paths:
      - '**.puml'
    branches:
      - master
      - dev
jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      UML_FILES: ".puml"
    steps:
      - name: Checkout Source
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Get changed UML files
        id: getfile
        run: |
          echo "::set-output name=files::$(git diff-tree -r --no-commit-id --name-only ${{ github.sha }} | grep ${{ env.UML_FILES }} | xargs)"
      - name: UML files considered echo output
        run: |
          echo ${{ steps.getfile.outputs.files }}
      - name: Generate SVG Diagrams
        uses: cloudbees/plantuml-github-action@master
        with:
          args: -v -tsvg ${{ steps.getfile.outputs.files }}
      - name: Generate PNG Diagrams
        uses: cloudbees/plantuml-github-action@master
        with:
          args: -v -tpng ${{ steps.getfile.outputs.files }}
      - name: Push Local Changes
        uses: stefanzweifel/git-auto-commit-action@b863ae1933cb653a53c021fe36dbb774e1fb9403 # v5.2.0
        with:
          commit_user_name: "PlantUML_bot"
          commit_user_email: "noreply@defectdojo.org"
          commit_author: "PlantUML Bot <noreply@defectdojo.org>"
          commit_message: "Generate SVG and PNG images for PlantUML diagrams"
          branch: ${{ github.head_ref }}
