name: Release Drafter

on:
  workflow_dispatch:
    inputs:
      version:
        description: |
          The version to be associated with the GitHub release that's created or updated.
          This will override any version calculated by the release-drafter.
        required: false

  push:
    # branches to consider in the event; optional, defaults to all
    branches:
      - master
      - dev

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5.23.0
        with:
          version: ${{github.event.inputs.version}}  
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
