name: "release-X: Tag docker images with latest tag"

env:
  GIT_USERNAME: "DefectDojo release bot"
  GIT_EMAIL: "dojo-release-bot@users.noreply.github.com"

on:
    workflow_dispatch:
        inputs:
          # the actual branch that can be chosen on the UI is made irrelevant by further steps
          # because someone will forget one day to change it.
          release_number:
            type: string
            description: 'Release version (x.y.z format)'
            required: true

    workflow_call:
        inputs:
          # the actual branch that can be chosen on the UI is made irrelevant by further steps
          # because someone will forget one day to change it.
          release_number:
            type: string
            description: 'Release version (x.y.z format)'
            required: true

jobs:
  merge-digests:
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
        matrix:
            docker-image: [django, nginx]

    steps:
      # deduce docker org name from git repo to make the build also work in forks
    - id: Set-docker-org
      run: echo "DOCKER_ORG=$(echo ${GITHUB_REPOSITORY%%/*} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    - name: Login to DockerHub
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Tag with latest tags
      run: |
        set -x
        docker buildx imagetools create -t "${{ env.DOCKER_ORG }}/defectdojo-${{ matrix.docker-image}}:latest" ${{ env.DOCKER_ORG }}/defectdojo-${{ matrix.docker-image}}:${{ inputs.release_number }}

      # just for logging
    - name: Inspect default images
      run: |
          docker buildx imagetools inspect ${{ env.DOCKER_ORG }}/defectdojo-${{ matrix.docker-image}}:latest