name: "Renovate validation"
on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev
      - master
      - bugfix
      - release/*

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: validate
        uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0
        with:
          strict: "true"
          validator_version: 42.80.1 # renovate: datasource=github-releases depName=renovatebot/renovate
