name: "Renovate validation"
on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev
      - master
      - bugfix
      - release/*

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: validate
        uses: suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e # v1.1.1
        with:
          strict: "true"
          validator_version: 42.13.5 # renovate: datasource=github-releases depName=renovatebot/renovate
