name: "Renovate validation"
on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev
      - master
      - bugfix
      - release/*

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: validate
        uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0
        with:
          strict: "true"
          validator_version: 42.92.5 # renovate: datasource=github-releases depName=renovatebot/renovate
