name: Rest Framework Unit Tests

on:
  workflow_call:
    inputs:
        platform:
          type: string
          default: "x64"

jobs:
  unit_tests:
    name: Rest Framework Unit Tests
    runs-on: ${{ inputs.platform ==  'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}

    strategy:
      matrix:
        os: [alpine, debian]

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      # load docker images from build jobs
      - name: Load images from artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          path: built-docker-image
          pattern: built-docker-image-*
          merge-multiple: true

      - name: Load docker images
        timeout-minutes: 10
        run: |-
             docker load -i built-docker-image/nginx-${{ matrix.os }}-${{ inputs.platform }}_img
             docker load -i built-docker-image/django-${{ matrix.os }}-${{ inputs.platform }}_img
             docker images

      # run tests with docker compose
      - name: Set unit-test mode
        run: docker/setEnv.sh unit_tests_cicd

      # phased startup so we can use the exit code from unit test container
      - name: Start Postgres and webhook.endpoint
        run: docker compose up --no-deps -d postgres webhook.endpoint

      # no celery or initializer needed for unit tests
      - name: Unit tests
        timeout-minutes: 15
        run: docker compose up --no-deps --exit-code-from uwsgi uwsgi
        env:
          DJANGO_VERSION: ${{ matrix.os }}

      - name: Logs
        if: failure()
        run: docker compose logs --tail="2500" uwsgi

      - name: Shutdown
        if: always()
        run: docker compose down
