name: Rest Framework Unit Tests

on:
  workflow_call:
    inputs:
        platform:
          type: string
          default: "linux/amd64"
        auditlog_type:
          type: string
          default: "django-auditlog"

jobs:
  unit_tests:
    name: Rest Framework Unit Tests
    runs-on: ${{ inputs.platform ==  'linux/arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    env:
      AUDITLOG_TYPE: ${{ inputs.auditlog_type }}

    strategy:
      matrix:
        os: [alpine, debian]

    steps:
      # Replace slashes so we can use this in filenames
      - name: Set-platform
        run: |
          platform=${{ inputs.platform }}
          echo "PLATFORM=${platform//\//-}" >> $GITHUB_ENV
          echo $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      # load docker images from build jobs
      - name: Load images from artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: built-docker-image
          pattern: built-docker-image-*
          merge-multiple: true

      - name: Load docker images
        timeout-minutes: 10
        run: |-
             docker load -i built-docker-image/django-${{ matrix.os }}-${{ env.PLATFORM }}_img
             docker images

      # run tests with docker compose
      - name: Set unit-test mode
        run: docker/setEnv.sh unit_tests_cicd

      # phased startup so we can use the exit code from unit test container
      - name: Start Postgres and webhook.endpoint
        run: docker compose up --no-deps -d postgres webhook.endpoint

      # no celery or initializer needed for unit tests
      - name: Unit tests
        timeout-minutes: 20
        run: docker compose up --no-deps --exit-code-from uwsgi uwsgi
        env:
          DJANGO_VERSION: ${{ matrix.os }}

      - name: Logs
        if: failure()
        run: docker compose logs --tail="2500" uwsgi

      - name: Shutdown
        if: always()
        run: docker compose down
