---
name: Shellcheck
on:
  pull_request:

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
        with:
          version: 'v0.11.0' # renovate: datasource=github-releases depName=koalaman/shellcheck versioning=loose
        env:
          SHELLCHECK_OPTS: -e SC1091 -e SC2086  # TODO: fix following findings
