name: Unit tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - dev
      - bugfix
      - release/**
      - hotfix/**

jobs:
  build-docker-containers:
    strategy:
        matrix:
          platform: ['linux/amd64', 'linux/arm64']
        fail-fast: false
    uses: ./.github/workflows/build-docker-images-for-testing.yml
    secrets: inherit
    with:
      platform: ${{ matrix.platform }}

  test-rest-framework:
    timeout-minutes: 20
    strategy:
        matrix:
            platform: ['linux/amd64', 'linux/arm64']
            auditlog_type: ['django-auditlog', 'django-pghistory']
        fail-fast: false
    needs: build-docker-containers
    uses: ./.github/workflows/rest-framework-tests.yml
    secrets: inherit
    with:
      platform: ${{ matrix.platform}}
      auditlog_type: ${{ matrix.auditlog_type }}

  # only run integration tests for linux/amd64 (default)
  test-user-interface:
    timeout-minutes: 20
    needs: build-docker-containers
    uses: ./.github/workflows/integration-tests.yml
    secrets: inherit
    strategy:
      matrix:
        auditlog_type: ['django-auditlog', 'django-pghistory']
      fail-fast: false
    with:
      auditlog_type: ${{ matrix.auditlog_type }}

  # only run k8s tests for linux/amd64 (default)
  test-k8s:
    needs: build-docker-containers
    uses: ./.github/workflows/k8s-tests.yml
    secrets: inherit
