{% load i18n %}
            <div class="form-group">
                {% if OIDC_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a href="{% url 'social:begin' 'oidc' %}?next={{ request.GET.next }}" style="color: rgb(255, 255, 255)" class="btn btn-success" type="button">{{ SOCIAL_AUTH_OIDC_LOGIN_BUTTON_TEXT }}</a>
                    </div>
                {% endif %}

                {% if GOOGLE_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)" class="btn btn-success" type="button">{% trans "Login with Google" %}</a>
                    </div>
                {% endif %}

                {% if OKTA_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a href="{% url 'social:begin' 'okta-oauth2' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)" class="btn btn-success" type="button">{% trans "Login with OKTA" %}</a>
                    </div>
                {% endif %}

                {% if AZUREAD_TENANT_OAUTH2_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a href="{% url 'social:begin' 'azuread-tenant-oauth2' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)" class="btn btn-success" type="button">{% trans "Login with Azure AD" %}</a>
                    </div>
                {% endif %}

                {% if GITLAB_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a href="{% url 'social:begin' 'gitlab' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)" class="btn btn-success" type="button">{% trans "Login with Gitlab" %}</a>
                    </div>
                {% endif %}

                {% if AUTH0_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a href="{% url 'social:begin' 'auth0' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)" class="btn btn-success" type="button">{% trans "Login with Auth0" %}</a>
                    </div>
                {% endif %}

                {% if KEYCLOAK_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a href="{% url 'social:begin' 'keycloak' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)" class="btn btn-success" type="button">{{ SOCIAL_AUTH_KEYCLOAK_LOGIN_BUTTON_TEXT }}</a>
                    </div>
                {% endif %}

                {% if GITHUB_ENTERPRISE_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a href="{% url 'social:begin' 'github-enterprise' %}?next={{ request.GET.next }}" style="color: rgb(255,255,255)" class="btn btn-success" type="button">{% trans "Login with GitHub Enterprise" %}</a>
                    </div>
                {% endif %}

                {% if SAML2_ENABLED is True %}
                    <div class="col-sm-offset-1 col-sm-2">
                        <a id="oauth-login-saml" rel="nofollow" data-method="post" href="/saml2/login?next={{ request.GET.next }}" style="color: rgb(255,255,255)" class="btn btn-success" type="button">{{ SAML2_LOGIN_BUTTON_TEXT }}</a>
                    </div>
                {% endif %}
            </div>
